* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.h1,
.h2,
.h3,
.h4 {
  margin: 0;
  padding: 0;
}
.over1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.over2 {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.over3 {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.over4 {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}
.over5 {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
}
.over6 {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container_padding {
  padding: 70px 0;
}
.container_main {
  padding-top: 50px;
}
ul,
li {
  list-style: none;
}
/* 定义字体 */
@font-face {
  font-family: 'MyFont';
  /* 自定义字体名称 */
  src: url('../font-family/Daikoku.ttf') format('woff2'), url('../font-family/Daikoku.ttf') format('woff');
  font-weight: 400;
  /* 字重 */
  font-style: normal;
  /* 样式 */
}
html,
body {
  overflow-x: hidden;
  min-height: 100vh;
  color: #333;
  font-family: MyFont, Inter, sans-serif, PingFang SC, Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial;
  font-size: 14px;
  line-height: 1.6;
}
a,
.link {
  display: inline-block;
  width: 100%;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
img {
  vertical-align: middle;
  object-fit: cover;
}
.cover_box {
  overflow: hidden;
}
.cover_box .cover {
  width: 100%;
  transition: 0.4s ease-in;
}
.box_shadow {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
}
.box_radius {
  border-radius: 4px;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  opacity: 0.2;
}
body::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
.container {
  max-width: 1500px;
  width: 100%;
  margin: auto;
  padding: 0 5px;
}
.btn:focus {
  border: none !important;
  outline: none !important;
}
.layui-input:focus {
  border-color: #eee !important;
  box-shadow: 0 0 0 1px rgba(233, 47, 47, 0.6);
}
.layui-textarea:focus {
  border-color: #eee !important;
  box-shadow: 0 0 0 1px rgba(233, 47, 47, 0.6);
}
.btn:focus {
  border: none !important;
  outline: none !important;
}
.title {
  font-size: 28px;
  font-weight: 600;
}
.lead {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 500;
}
.img_bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.animate {
  transition: 0.4s ease;
}
.pointer {
  cursor: pointer;
}
.inline_block {
  display: inline-block;
}
.animate {
  transition: 0.4s ease;
}
.flex {
  display: flex;
}
.flex_wrap {
  display: flex;
  flex-wrap: wrap;
}
.justify_space {
  display: flex;
  justify-content: space-between;
}
.display_flex {
  display: flex;
  align-items: center;
}
.justify_end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.justify_column {
  display: flex;
  flex-direction: column;
}
.justify_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  padding: 0;
  margin: 0;
}
.head {
  padding: 10px;
  text-align: center;
}
.head .title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
}
.head .sub_head {
  font-size: 16px;
  line-height: 1.8;
}
.head .sub_title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}
.head .arrow .icon {
  width: 70px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  overflow: hidden;
  border-radius: 45px;
  margin-left: 30px;
  cursor: pointer;
  user-select: none;
  border: 1px solid #fff;
}
.head .arrow .icon .iconfont {
  font-size: 20px;
  color: #fff;
}
.head .arrow .icon:hover {
  background: #fff;
}
.head .arrow .icon:hover .iconfont {
  color: #000;
}
.title_line {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  z-index: 3;
  color: #000;
}
.title_line::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 105%;
  height: 40%;
  background: #FA3F08;
  z-index: -1;
}
.line {
  padding: 18px 0;
  position: relative;
}
.line .t_l {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 88px;
  height: 8px;
  border-radius: 4px;
  background: #FA3F08;
}
.line::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}
.paging .nav_box {
  text-align: center;
}
.paging .nav_box .pagination {
  display: flex;
  justify-content: center;
}
.paging .nav_box .pagination li {
  display: inline-block;
  margin: 0 3px;
}
.paging .nav_box .pagination li a {
  color: #FA3F08;
}
.paging .nav_box .pagination .active a {
  background-color: #FA3F08;
  border-color: #FA3F08;
  color: #fff;
}
.banner {
  position: relative;
}
.banner .cover {
  min-height: 30vh;
}
.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1400px;
}
.banner .content .wrap {
  width: 1000px;
  padding: 0 10px;
}
.banner .content .title {
  font-size: 46px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}
.banner .content .team_title {
  text-align: center;
  max-width: 50%;
  margin: auto;
  font-size: 20px;
  color: #fff;
  line-height: 1.7;
  font-weight: 500;
}
.banner .content .page_tabs {
  padding: 40px 0 0;
}
.banner .content .page_tabs .item {
  padding-right: 20px;
}
.banner .content .page_tabs .item .link {
  min-width: 200px;
  text-align: center;
  width: auto;
  padding: 14px 30px;
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
  border-radius: 50px;
  font-weight: 600;
  border: 1px solid transparent;
}
.banner .content .page_tabs .active .link {
  border-color: #fff;
  background: #5B6168;
}
.banner .search {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
}
.banner .search .box {
  overflow: hidden;
}
.banner .search .input {
  height: 56px;
  padding: 0 20px;
  font-size: 16px;
  color: #000;
}
.banner .search .input:focus {
  box-shadow: none;
}
.banner .search .submit {
  width: 100px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  background: #FA3F08;
  border: none;
}
.banner .search .submit .iconfont {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.banner .search .hot {
  padding: 20px 0 0;
  color: #fff;
}
.banner .search .hot .name {
  font-size: 18px;
  font-weight: 500;
  flex: none;
}
.banner .search .hot .list {
  flex: 1;
  padding-left: 10px;
}
.banner .search .hot .list .link {
  width: auto;
  font-size: 16px;
  font-weight: 500;
  padding: 0 10px;
  color: #fff;
}
.crumbs .list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.crumbs .list .icon-shouye {
  font-size: 24px;
  margin-right: 4px;
  color: #fff;
}
.crumbs .list span,
.crumbs .list .link,
.crumbs .list .box {
  line-height: 2;
}
.crumbs .list .arrow {
  padding: 2px 4px 0;
  color: #fff;
}
.crumbs .link,
.crumbs .box {
  color: #fff;
  font-size: 20px;
}
.contact_btn_wrap {
  padding: 30px 0 10px;
}
.contact_btn_wrap .btn {
  display: inline-block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: 40px;
  padding: 0;
  font-size: 16px;
  background: #F2F2F2;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 500;
}
.contact_btn_wrap .btn .text {
  padding: 0 4px;
}
.contact_btn_wrap .btn:hover {
  background: #FA3F08;
  color: #fff;
}
.contact_btn_wrap .btn:first-child {
  margin-right: 24px;
}
.modal {
  padding: 0 !important;
}
.modal .sub_head {
  font-size: 14px;
  line-height: 24px;
  color: #B4B4B4;
  margin: 10px 0 0;
}
.modal .modal-dialog {
  margin-top: 200px;
}
.modal .modal-body {
  padding: 20px;
}
.tabs {
  padding: 0 10px 50px;
}
.tabs .tabs_wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tabs .item {
  padding: 0 14px;
  margin-bottom: 20px;
}
.tabs .item .link {
  border-radius: 45px;
  padding: 0 24px;
  background: #F6F6F6;
  height: 50px;
  text-align: center;
  line-height: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.tabs .item .link .iconfont,
.tabs .item .link .text {
  font-size: 18px;
  padding: 0 2px;
  white-space: nowrap;
}
.tabs .item .link .iconfont {
  font-size: 24px;
}
.tabs .active .link {
  background: #FA3F08;
}
.tabs .active .link .iconfont,
.tabs .active .link .text {
  color: #fff;
}
.more {
  padding-top: 10px;
}
.more .box {
  display: inline-block;
}
.more .link {
  min-width: 190px;
  height: 46px;
  line-height: 46px;
  padding: 0 40px;
  font-size: 16px;
  color: #fff;
  background: #FA3F08;
  width: auto;
  border-radius: 50px;
  position: relative;
}
.more .link .name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 00;
  white-space: nowrap;
}
.more .link .icon {
  position: absolute;
  top: 50%;
  right: -3px;
  transform: translateY(-50%);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  text-align: center;
  line-height: 34px;
  background: #fff;
  opacity: 0;
  animation-delay: 0.5s;
}
.more .link .icon .iconfont {
  color: #5B6168;
  font-size: 20px;
  font-weight: 500;
}
.more .link:hover .name {
  left: 20px;
  transform: translate(0, -50%);
}
.more .link:hover .icon {
  opacity: 1;
  right: 7px;
}
.author {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}
.author .text {
  font-size: 16px;
  color: #B5B5B5;
  padding: 0 14px;
}
.article {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 20px;
  background: #FA3F08;
}
.article .up {
  flex: 1;
  padding-right: 20px;
}
.article .up .lead {
  text-align: left;
}
.article .up .lead .link {
  padding: 4px 0;
  width: auto;
  color: #fff;
  text-indent: 0;
}
.article .return {
  flex: none;
  width: 160px;
}
.article .return .link {
  height: 54px;
  line-height: 54px;
  background: #fff;
  border-radius: 45px;
  color: #FA3F08;
  font-size: 16px;
  text-align: center;
  color: #5B6168;
}
.search .main {
  margin: auto;
  padding: 100px 0 0;
}
.search .head .title {
  color: #000;
}
.search .search_form {
  margin-top: 60px;
}
.search .search_form .content {
  width: 60%;
  margin: auto;
}
.search .search_form .content .box {
  display: flex;
  align-items: center;
}
.search .search_form .content .input {
  font-size: 20px;
  height: 60px;
  line-height: 60px;
}
.search .search_form .content .input:focus {
  box-shadow: none;
}
.search .search_form .content .submit_btn {
  width: 100px;
  height: 60px;
  background: #FA3F08;
  color: #fff;
  font-size: 24px;
  padding: 0;
  border: none;
}
.search .search_form .content .submit_btn .iconfont {
  font-size: 28px;
  color: #fff;
}
.search .search_form .content .note {
  margin-top: 10px;
}
.search .search_form .content .note .link {
  width: auto;
  line-height: 1.4;
  font-size: 14px;
  padding: 10px 0;
  white-space: nowrap;
  margin-right: 20px;
  color: #FA3F08;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header .top_height {
  height: 10px;
  background: #FA3F08;
}
.header .content {
  width: 100%;
  transition: 1s ease;
  background: #fff;
  padding: 0;
}
.header .content .wrap {
  margin: auto;
  max-width: 1500px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.header .content .logo {
  width: 82px;
  flex: none;
  padding: 10px 0;
}
.header .content .logo .link,
.header .content .logo .cover {
  width: 100%;
  object-fit: contain;
}
.header .content .logo .cover {
  max-height: 60px;
}
.header .content .right {
  flex: auto;
}
.header .content .right .nav {
  justify-content: center;
}
.header .content .right .nav .li {
  cursor: pointer;
  position: relative;
}
.header .content .right .nav .li .head_title {
  height: 80px;
  line-height: 80px;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  position: relative;
  color: #000;
}
.header .content .right .nav .li .head_title::before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 2px;
  border-radius: 6px;
  background: #fff;
  overflow: hidden;
  transition: 0.4s ease;
  opacity: 0;
}
.header .content .right .nav .li .head_title .iconfont {
  display: inline-block;
}
.header .content .right .nav .li .child_nav {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 120px;
  width: auto;
  padding: 10px 14px;
  display: none;
  background: #FA3F08;
}
.header .content .right .nav .li .child_nav .lis .link {
  padding: 14px 0;
  color: #fff;
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
  white-space: nowrap;
  justify-content: start;
}
.header .content .right .nav .li .child_nav .lis:last-child {
  border-bottom: none;
}
.header .content .right .nav .li:hover .head_title .iconfont {
  transform: rotate(-180deg);
}
.header .content .right .nav .li:hover .child_nav {
  display: block;
}
.header .content .right .nav .active {
  background: #FA3F08;
}
.header .content .right .nav .active .head_title {
  color: #fff;
}
.header .content .right .nav .active .head_title .link {
  color: #fff;
}
.header .content .right .nav .active .head_title::before {
  opacity: 1;
  bottom: 18px;
}
.header .content .right .function {
  flex: none;
  display: flex;
  align-items: center;
}
.header .content .right .function .item {
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  text-align: center;
  background: #FA3F08;
  margin-left: 14px;
  cursor: pointer;
}
.header .content .right .function .item .iconfont {
  color: #fff;
}
.header .content .right .function .item .cover {
  width: 100%;
  height: 36px;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.header .content .right .function .photo {
  background: none;
  line-height: normal;
  padding: 0;
  border: 1px solid #FA3F08;
}
.header .content .right .function .photo .link {
  width: 100%;
  height: 100%;
}
.header .content .right .function .photo .link .cover {
  width: 100%;
  height: 100%;
  vertical-align: baseline;
}
.header .content .right .function .language {
  position: relative;
  margin-left: 14px;
  border-radius: 46px;
  min-height: 44px;
  display: flex;
  align-items: center;
}
.header .content .right .function .language_head {
  text-align: center;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  color: #fff;
  border-radius: 24px;
  background: #FA3F08;
  padding: 0 12px;
}
.header .content .right .function .language_head .icon-duoyuyan {
  font-size: 24px;
  color: #fff;
  font-weight: 500;
}
.header .content .right .function .language_head .icon_bottom {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}
.header .content .right .function .language_head .text {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  padding: 0 5px;
}
.header .content .right .function .language_list {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  background: #FA3F08;
  padding: 6px 10px;
  display: none;
}
.header .content .right .function .language_list .language_li .link {
  padding: 6px 0;
}
.header .content .right .function .language_list .language_li .link .cover {
  width: 20px;
}
.header .content .right .function .language_list .language_li .link .text {
  font-size: 14px;
  color: #fff;
  padding: 0 5px;
}
.header .content .right .function .menu {
  cursor: pointer;
  width: 30px;
  height: 18px;
  position: relative;
  display: none;
  margin-left: 6px;
  user-select: none;
}
.header .content .right .function .menu .lis {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  transition: all 0.3s ease;
  border-radius: 2px;
  background: #FA3F08;
  transform-origin: 50% 50%;
}
.header .content .right .function .menu .lis:nth-child(1) {
  top: 0;
}
.header .content .right .function .menu .lis:nth-child(2) {
  width: 60%;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
}
.header .content .right .function .menu .lis:nth-child(3) {
  top: 98%;
}
.header .content .right .function .active .lis:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.header .content .right .function .active .lis:nth-child(2) {
  display: none;
}
.header .content .right .function .active .lis:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.header .content .right .function .item:hover {
  transform: translateY(-2px);
}
.header .content .right .function .language:hover {
  border-radius: 0;
}
.header .content .right .function .language:hover .icon_bottom {
  transform: rotate(-180deg);
}
.header .content .right .function .language:hover .language_list {
  display: block;
}
.h5_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #fff;
  transition: 0.7s ease;
  overflow: hidden;
  overflow-y: auto;
  z-index: 99;
  opacity: 1;
  visibility: hidden;
  padding-top: 80px;
}
.h5_nav .li .head_title {
  padding: 14px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.h5_nav .li .head_title .title,
.h5_nav .li .head_title .iconfont {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  display: inline-block;
}
.h5_nav .li .child {
  display: none;
}
.h5_nav .li .child .lis {
  text-align: right;
}
.h5_nav .li .child .lis .child_head_title {
  padding: 14px 10px 14px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.h5_nav .li .child .lis .child_head_title .child_title,
.h5_nav .li .child .lis .child_head_title .iconfont {
  font-size: 16px;
  font-weight: 500;
  color: #616161;
}
.h5_nav .li .box {
  text-align: right;
}
.h5_nav .child_li .link {
  flex: 1;
  padding: 0 10px;
}
.h5_nav .child_li .spread {
  flex: none;
  width: 50px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  background: #FA3F08;
  border-radius: 3px;
  user-select: none;
}
.h5_nav .child_li .rotateIcon {
  transform: rotate(-180deg);
}
.h5_nav .h5_language {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.h5_nav .h5_language .box {
  flex: 1;
  text-align: center;
  position: relative;
}
.h5_nav .h5_language .box .link {
  padding: 20px 0;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h5_nav .h5_language .box .link .cover {
  width: 24px;
}
.h5_nav .h5_language .box .link .text {
  padding-left: 6px;
}
.h5_nav .h5_language .box:nth-child(2)::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 1px;
  height: 70%;
  background: rgba(255, 255, 255, 0.3);
}
.h5_nav_active {
  opacity: 1;
  height: 100vh;
  visibility: visible;
}
.search_popup {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  display: none;
  z-index: 10;
  background: #fff;
}
.search_popup .wrap {
  padding: 20px 0 40px;
}
.search_popup .wrap .clear {
  text-align: right;
}
.search_popup .wrap .clear .icon {
  padding: 20px;
}
.search_popup .wrap .clear .icon .iconfont {
  font-size: 28px;
}
.search_popup .wrap .input {
  height: 56px;
  padding: 0 20px;
  font-size: 16px;
  color: #000;
}
.search_popup .wrap .input:focus {
  box-shadow: none;
}
.search_popup .wrap .submit {
  width: 100px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  background: #FA3F08;
  border: none;
}
.search_popup .wrap .submit .iconfont {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.search_popup .wrap .hot {
  padding: 20px 10px 0;
}
.search_popup .wrap .hot .name {
  font-size: 18px;
  font-weight: 500;
  flex: none;
}
.search_popup .wrap .hot .list {
  flex: 1;
  padding-left: 10px;
}
.search_popup .wrap .hot .list .link {
  width: auto;
  font-size: 14px;
  font-weight: 500;
  padding: 0 10px;
}
.header_height {
  height: 80px;
}
.index_swiper {
  overflow: hidden;
}
.index_swiper .item {
  position: relative;
}
.index_swiper .item .cover_box .cover {
  min-height: 500px;
}
.index_swiper .item .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1500px;
}
.index_swiper .item .content .wrap {
  width: 800px;
  padding: 0 10px;
}
.index_swiper .item .content .title_line {
  font-size: 46px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}
.index_swiper .item .content .title_line::after {
  background: linear-gradient(180deg, #ffffff00 0%, #fff 100%);
  opacity: 0.7;
}
.index_swiper .item .content .sub_head {
  font-size: 24px;
  line-height: 1.5;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 24px;
}
.index_swiper .swiper-pagination {
  bottom: 20px;
}
.index_swiper .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
}
.index_swiper .swiper-pagination .swiper-pagination-bullet-active {
  width: 30px;
  border-radius: 12px;
  background: #FA3F08;
}
.about {
  background-size: contain;
  background-position: left;
}
.about .content {
  padding: 100px 50px 0 0;
}
.about .content .head {
  width: 100%;
  margin: 0;
  text-align: left;
  padding: 10px 0;
}
.about .content .title_line {
  font-weight: 600;
}
.about .content .lead,
.about .content p {
  line-height: 1.9;
  padding: 5px 0;
  text-indent: 2em;
}
.about .right_box .company_data .col_md {
  padding: 0;
}
.about .right_box .company_data .box {
  height: 180px;
  text-align: center;
  background: #FC5C2C;
  padding: 10px;
  flex-direction: column;
}
.about .right_box .company_data .box .name .num {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
}
.about .right_box .company_data .box .name .ide {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}
.about .right_box .company_data .box .lead {
  color: #fff;
}
.about .right_box .company_data .col_md:nth-child(2) .box {
  background: #FA3F08;
}
.about .right_box .company_data .col_md:nth-child(3) .box {
  background: #D43000;
}
.about .right_box .video_box {
  width: 100%;
}
.get_quote {
  position: relative;
}
.get_quote .service {
  position: absolute;
  top: 0;
  right: 0;
}
.get_quote .head {
  flex-wrap: wrap;
  text-align: left;
}
.get_quote .head .title {
  width: 100%;
  font-weight: 600;
  padding: 10px 0;
  font-size: 34px;
  color: #fff;
}
.get_quote .head .sub_head {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
}
.get_quote .cover {
  height: 500px;
}
.get_quote .main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1600px;
}
.get_quote .form {
  margin-top: 40px;
}
.get_quote .form .wrap {
  display: flex;
}
.get_quote .form .wrap .item {
  width: 25%;
  padding: 0 10px;
}
.get_quote .form .wrap .item .box {
  display: flex;
  align-items: center;
  height: 60px;
  background: #fff;
  user-select: none;
  padding: 0 7px;
}
.get_quote .form .wrap .item .iconfont {
  font-size: 20px;
  margin-left: 10px;
}
.get_quote .form .wrap .item .input {
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 16px;
  font-weight: 500;
}
.get_quote .form .wrap .item .input:focus {
  border: none;
}
.get_quote .form .wrap .input_message {
  width: 40%;
}
.get_quote .form .wrap .input_submit {
  width: 16%;
  padding: 0 0 0 10px;
}
.get_quote .form .wrap .input_submit .btn {
  background: #FA3F08;
  color: #fff;
  text-align: center;
  height: 60px;
  line-height: 60px;
  width: 100%;
  padding: 0;
}
.footer {
  background: #242321;
}
.footer .content {
  padding: 80px 0 40px;
}
.footer .content .contact {
  padding: 0;
}
.footer .content .footer_list {
  text-align: left;
}
.footer .content .footer_list .title {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 10px;
}
.footer .content .footer_list .lead {
  color: #fff;
  margin-bottom: 10px;
  font-size: 14px;
  color: #C2C2C2;
}
.footer .content .footer_list .ul {
  margin-top: 10px;
}
.footer .content .footer_list .ul .li .link {
  font-size: 14px;
  font-weight: 500;
  padding: 6px 0;
  transition: 0.3s ease-out;
  display: flex;
  line-height: 1.8;
  color: #fff;
}
.footer .content .footer_list .ul .li .link .iconfont {
  padding-right: 10px;
  color: #FA3F08;
}
.footer .content .footer_list .ul .li .link:hover {
  transform: skew(6deg) translateX(10px);
  color: #FA3F08;
}
.footer .content .blogroll_list {
  padding-top: 14px;
  display: flex;
}
.footer .content .blogroll_list .b_li {
  margin-right: 10px;
}
.footer .content .blogroll_list .cover_box {
  width: 30px;
  height: 30px;
}
.footer .content .right .code_box {
  width: 80%;
  margin: auto;
  padding: 0 10px;
}
.footer .content .right .lead {
  padding: 10px 0;
  text-align: center;
  color: #fff;
  font-weight: 500;
}
.footer .copyright {
  padding: 24px 0;
  background: #000;
}
.footer .copyright span,
.footer .copyright .link {
  width: auto;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 20px;
  color: #fff;
}
.tabs_main {
  overflow: hidden;
  margin-top: 20px;
}
.tabs_main .tabs-header {
  position: relative;
  margin-bottom: 20px;
  padding: 10px 0;
}
.tabs_main .tabs-header .tab-btn {
  min-width: 200px;
  width: auto;
  height: 54px;
  line-height: 54px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  background: #f6f6f6;
  border: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  z-index: 1;
  overflow: hidden;
  margin-right: 20px;
  border-radius: 4px;
}
.tabs_main .tabs-header .active {
  background: #FA3F08;
  color: #fff;
}
.tabs_main .tabs-content {
  position: relative;
  overflow: hidden;
  transition: height 0.4s ease;
  padding: 10px 0;
  z-index: 1;
}
.tabs_main .tab-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  pointer-events: none;
  padding: 10px 0;
}
.tabs_main .tab-panel.active {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
  transition-delay: 0.2s;
  position: relative;
  z-index: 10;
}
.performance_main .list {
  flex-wrap: wrap;
}
.performance_main .list .col_md {
  padding: 0 10px;
}
.performance_main .list .item {
  margin-bottom: 10px;
}
.performance_main .list .item .link {
  background: #fff;
  padding: 10px;
  overflow: hidden;
}
.performance_main .list .item .link .item_line {
  width: 20%;
  background: linear-gradient(90deg, #af2330 0%, #000 100%);
  border-radius: 12px;
  margin: 14px auto;
  height: 4px;
}
.performance_main .list .item .link .name {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 4px;
}
.performance_main .list .item .link .lead {
  text-align: center;
  color: #AAAAAA;
}
.performance_main .list .item .link:hover .cover {
  transform: scale(1.07);
}
.performance_main .list .item .link:hover .name {
  color: #FA3F08;
}
.company .content {
  padding: 40px;
}
.company .content .line_cover {
  margin: 20px 0;
}
.company .content .lead {
  color: #6A6A6A;
  line-height: 1.7;
}
.company_history {
  position: relative;
  height: 410px;
  padding: 0 20px;
}
.company_history::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.3);
}
.company_history .item {
  position: relative;
}
.company_history .item .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.company_history .item .center .top_date {
  opacity: 0;
}
.company_history .item .center .top_date,
.company_history .item .center .bottom_date {
  font-size: 16px;
  color: #FA3F08;
  font-weight: 600;
}
.company_history .item .center .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FA3F08;
  margin: 4px auto;
}
.company_history .item .content {
  position: absolute;
  background: #fff;
  padding: 10px;
  width: 120%;
  height: 160px;
  left: 50%;
  transform: translateX(-50%);
}
.company_history .item .content .cover_box {
  width: 50%;
}
.company_history .item .content .cover_box .cover {
  height: 140px;
}
.company_history .item .content .explain {
  padding: 20px 0 0 20px;
  flex: 1;
}
.company_history .item:nth-child(odd) .content {
  top: 0;
}
.company_history .item:nth-child(even) .center .top_date {
  opacity: 1;
}
.company_history .item:nth-child(even) .center .bottom_date {
  opacity: 0;
}
.company_history .item:nth-child(even) .content {
  bottom: 0;
}
.honor {
  padding: 10px 0;
}
.honor .item {
  padding: 10px;
  margin-bottom: 30px;
}
.honor .item .item_line {
  width: 20%;
  background: linear-gradient(90deg, #af2330 0%, #000 100%);
  border-radius: 12px;
  margin: 14px auto;
  height: 4px;
}
.honor .item .name {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 4px;
}
.honor .item .lead {
  text-align: center;
  color: #AAAAAA;
}
.honor .item:hover .cover {
  transform: scale(1.07);
}
.honor .item:hover .name {
  color: #FA3F08;
}
.product .head .title_line {
  margin-bottom: 20px;
}
.product .main .list .item {
  background: #fff;
  margin-bottom: 30px;
}
.product .main .list .item .link {
  padding: 10px 10px 20px;
  position: relative;
}
.product .main .list .item .link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: #FA3F08;
  transition: all 0.5s ease;
}
.product .main .list .item .link .name {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}
.product .main .list .item .link .lead {
  margin-bottom: 10px;
  color: #949494;
}
.product .main .list .item .link .cover_box {
  margin-bottom: 10px;
}
.product .main .list .item .link .text {
  color: #949494;
}
.product .main .list .item .link:hover .cover {
  transform: scale(1.07);
}
.product .main .list .item .link:hover .text {
  color: #FA3F08;
}
.product .main .list .item .link:hover::after {
  width: 100%;
}
.product_details .main .content .name {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}
.product_details .main .content .sub_title {
  font-size: 20px;
}
.product_details .main .content .series {
  padding: 20px 0;
}
.product_details .main .content .series .text {
  font-size: 16px;
  font-weight: 500;
  margin-right: 30px;
  position: relative;
  padding-left: 16px;
}
.product_details .main .content .series .text::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: #FA3F08;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.product_details .main .content .lead {
  line-height: 1.8;
}
.download .download_head {
  background: #E2E2E2;
}
.download .download_head .hd {
  padding: 20px 0;
  flex: 1;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.download .download_head .download_btn {
  flex: none;
  width: 170px;
}
.download .list .item {
  background: #fff;
  padding: 20px 0;
}
.download .list .item .text {
  flex: 1;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.download .list .item .download_btn {
  flex: none;
  width: 170px;
  height: 44px;
  background: #FA3F08;
  text-align: center;
  line-height: 44px;
}
.download .list .item .download_btn .link {
  height: 100%;
}
.download .list .item .download_btn .text,
.download .list .item .download_btn .iconfont {
  font-size: 14px;
  color: #fff;
}
.download .list .item:last-child {
  margin-bottom: 0;
}
.system .head .title_line {
  margin-bottom: 20px;
}
.corporate_culture .list .item {
  background: #fff;
  padding: 50px 30px;
  text-align: center;
  min-height: 300px;
}
.corporate_culture .list .item .name {
  font-size: 20px;
  color: #000;
  margin: 20px 0;
}
.corporate_culture .list .item .lead {
  color: #949494;
  line-height: 1.8;
}
.corporate_culture .list .item .more {
  padding-top: 30px;
  text-align: center;
}
.corporate_culture .list .item .more .link {
  font-size: 14px;
  background: #FA3F08;
  height: 40px;
  line-height: 40px;
}
.corporate_culture .list .item:hover {
  transform: translateY(-10px);
}
