@media screen and (max-width: 1600px) {
  .get_quote .main {
    width: 90%;
  }
}
@media screen and (max-width: 1280px) {
  .header .content {
    padding: 0;
  }
  .header .content .wrap .right .nav .li .box .link .head_title {
    padding: 0 14px;
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  .container_padding {
    padding: 40px 0;
  }
  .container_main {
    padding-top: 20px;
  }
  .col-xs-12 {
    padding: 0 10px;
  }
  .col-xs-6 {
    padding: 0 10px;
  }
  .title {
    font-size: 20px;
  }
  .lead {
    font-size: 14px;
  }
  .head {
    width: 100%;
    padding-bottom: 20px;
  }
  .head .title {
    font-size: 20px;
  }
  .head .sub_head {
    font-size: 16px;
  }
  .head .sub_title {
    font-size: 18px;
  }
  .head .arrow .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 14px;
  }
  .tabs {
    padding: 0 0 20px;
  }
  .tabs .item {
    padding: 0 7px;
    margin-bottom: 16px;
  }
  .tabs .item .link {
    width: auto;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    padding: 0 20px;
  }
  .contact_btn_wrap {
    padding-top: 30px;
    text-align: right;
  }
  .modal .modal-dialog {
    margin-top: 100px;
  }
  .modal .modal-dialog .modal-body .pad_bottom {
    padding-bottom: 10px;
  }
  .more .link {
    height: 44px;
    line-height: 44px;
  }
  .search .head .title {
    font-size: 38px;
  }
  .search .search_form {
    margin-top: 20px;
  }
  .search .search_form .content {
    width: 84%;
  }
  .search .search_form .content .box .input {
    font-size: 16px;
  }
  .header .content .wrap {
    height: 70px;
  }
  .header .content .logo {
    width: 60px;
  }
  .header .content .right {
    flex: none;
    padding: 7px 16px;
    background: #fff;
    border-radius: 45px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
  }
  .header .content .right .nav {
    display: none;
  }
  .header .content .right .function .language {
    display: none;
  }
  .header .content .right .function .item {
    margin: 0;
    padding: 0 6px;
    width: auto;
  }
  .header .content .right .function .item .cover {
    width: 20px;
  }
  .header .content .right .function .item .link .iconfont {
    font-size: 26px;
  }
  .header .content .right .function .menu {
    display: block;
  }
  .header_height {
    height: 70px;
  }
  .footer .content {
    padding: 40px 0;
  }
  .footer .content .list {
    margin-top: 20px;
  }
  .footer .content .right {
    margin-top: 20px;
  }
  .footer .content .right .code_box {
    width: 50%;
    max-width: 240px;
    margin: 0;
  }
  .about .main .content {
    margin-bottom: 20px;
  }
  .product_positioning .common_box {
    height: auto;
  }
  .product_positioning .content {
    padding: 10% 5%;
  }
  .product_positioning .row:nth-child(odd) {
    flex-flow: column-reverse;
  }
  .product_positioning .row:nth-child(even) {
    flex-direction: column-reverse;
  }
  .get_quote .main .form .wrap {
    flex-wrap: wrap;
  }
  .get_quote .main .form .wrap .input_item,
  .get_quote .main .form .wrap .input_message {
    width: 50%;
    margin-top: 10px;
  }
  .get_quote .main .form .wrap .input_item .box,
  .get_quote .main .form .wrap .input_message .box {
    height: 50px;
    line-height: 50px;
  }
  .get_quote .main .form .wrap .input_item .box .input,
  .get_quote .main .form .wrap .input_message .box .input {
    height: 46px;
    line-height: 46px;
  }
  .get_quote .main .form .wrap .input_message {
    width: 100%;
    margin-bottom: 10px;
  }
  .get_quote .main .form .wrap .input_submit {
    width: 100%;
  }
  .get_quote .main .form .wrap .input_submit .btn {
    height: 46px;
    line-height: 46px;
  }
  .global .main .wrap {
    width: 100%;
  }
  .global .main .wrap .box {
    margin-bottom: 20px;
  }
  .global .main .wrap .box .num {
    font-size: 42px;
  }
  .global .main .wrap .box .text {
    font-size: 14px;
  }
  .corporate_culture .list .box {
    min-height: 300px;
  }
  .product .main .menu {
    width: 240px;
  }
  .product .main .menu .category .category_list .li .li_head {
    padding: 10px;
  }
  .product .main .menu .category .category_list .li .li_head .head_title {
    font-size: 14px;
  }
  .product .main .list {
    padding-left: 10px;
  }
  .product .main .list .item .link .cover_box {
    height: 220px;
  }
  .product .main .list .item .link .content {
    height: 64px;
  }
  .product .main .list .item .link .content .name {
    font-size: 14px;
  }
  .details .main .details_product_swiper .item .cover_box .cover {
    height: 450px;
  }
  .details .main .content {
    padding: 30px 0;
  }
  .details .introduce .main .lead {
    font-size: 14px;
  }
  .details .introduce .main .cover_content .cover_box .cover {
    height: 340px;
  }
  .banner .main .content {
    max-width: 60%;
    padding: 2%;
  }
  .introduction .introduction_swiper .cover_box {
    margin-bottom: 20px;
  }
  .introduction .introduction_swiper .content {
    padding: 10px;
  }
  .introduction .introduction_swiper .content .title {
    font-size: 16px;
    line-height: 26px;
  }
  .introduction .introduction_swiper .content .date {
    font-size: 14px;
    padding: 7px 0;
  }
  .introduction .introduction_swiper .content .lead {
    font-size: 14px;
    line-height: 24px;
  }
  .introduction .introduction_swiper .swiper_page {
    display: none;
  }
  .message_box {
    padding: 40px 0;
  }
  .message_box .content {
    padding-bottom: 10px;
  }
  .message_box .content .title {
    font-size: 20px;
  }
  .message_box .form .item {
    margin-bottom: 10px !important;
  }
  .message_box .form .item .two_box {
    margin-top: 10px;
    padding-left: 0;
  }
  .message_box .form .item .textarea {
    margin-bottom: 10px;
  }
  .contact_page {
    padding-bottom: 20px;
  }
  .contact_page .list {
    padding: 0;
    margin: 0;
  }
  .contact_page .list .item {
    margin-bottom: 10px;
    padding: 10px 20px;
    min-height: auto;
  }
}
@media screen and (max-width: 767px) {
  .container_padding {
    padding: 20px 0;
  }
  .container_main {
    padding-top: 10px;
  }
  .title {
    font-size: 18px;
  }
  .crumbs {
    margin-bottom: 10px;
  }
  .crumbs .list {
    padding: 14px 0 0;
  }
  .head {
    padding: 10px 0;
  }
  .head .sub_title {
    padding: 0;
  }
  .more {
    padding-top: 10px;
  }
  .more .link {
    font-size: 14px;
    padding: 0 20px;
  }
  .tabs {
    padding: 10px 0 0;
  }
  .tabs .tabs_wrap {
    justify-content: start;
  }
  .tabs .tabs_wrap .item {
    padding: 0 10px;
  }
  .tabs .tabs_wrap .item .link {
    height: 40px;
    line-height: 40px;
  }
  .tabs .tabs_wrap .item .link .iconfont,
  .tabs .tabs_wrap .item .link .text {
    font-size: 13px;
  }
  .tabs .tabs_wrap .item .link .iconfont {
    font-size: 16px;
  }
  .contact_btn_wrap .btn {
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
  .contact_btn_wrap .btn:first-child {
    margin-right: 20px;
  }
  .modal .modal-dialog .modal-body {
    padding: 7px;
  }
  .article {
    flex-wrap: wrap;
    padding: 10px 10px 20px;
    margin-top: 10px;
  }
  .article .up {
    width: 100%;
    flex: none;
    padding: 0;
  }
  .article .up .lead {
    text-indent: 0;
    padding: 0;
  }
  .article .up .link {
    padding: 0;
    width: 100%;
    line-height: 1.8;
    font-size: 13px;
  }
  .article .return {
    margin-top: 10px;
    width: 100%;
    text-align: right;
  }
  .article .return .link {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
  .search .head .title {
    font-size: 38px;
  }
  .search .search_form {
    margin-top: 20px;
  }
  .search .search_form .content {
    width: 84%;
  }
  .search .search_form .content .box .input {
    font-size: 16px;
  }
  .header .content .wrap {
    padding: 0 10px;
  }
  .header .content .wrap .function .item .link {
    min-width: 26px;
  }
  .header .content .wrap .function .item .link .iconfont {
    font-size: 16px;
  }
  .index_swiper .item .cover_box .cover {
    height: auto;
  }
  .index_swiper .item .content {
    width: 100%;
    padding: 0 10px;
    display: none;
  }
  .index_swiper .item .content .title {
    font-size: 20px;
  }
  .index_swiper .item .content .sub_head {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .index_swiper .item .content .get_scheme {
    width: 160px;
    height: 40px;
    line-height: 40px;
  }
  .index_swiper .item .content .get_scheme .link {
    font-size: 14px;
  }
  .footer .content {
    padding: 30px 0 0;
  }
  .footer .content .list {
    margin-top: 10px;
  }
  .footer .content .list .title {
    font-size: 14px;
    line-height: 24px;
  }
  .footer .content .list .ul {
    margin-top: 10px;
  }
  .footer .content .list .ul .li .link {
    padding: 4px 0 4px 4px;
    font-weight: 400;
  }
  .footer .content .right {
    margin-top: 20px;
    padding: 20px 0 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .footer .content .right .code_box {
    margin: auto;
  }
  .footer .copyright {
    padding: 16px 0;
  }
  .footer .copyright .wrap {
    text-align: center;
    flex-direction: column-reverse;
  }
  .footer .copyright .wrap .text {
    width: 100%;
    font-size: 14px;
  }
  .footer .copyright .wrap .blogroll {
    width: 100%;
    justify-content: center;
    margin-bottom: 4px;
  }
  .about .main .content {
    padding: 0;
  }
  .about .main .content .sub_head {
    font-size: 14px;
  }
  .product .main {
    padding: 10px 0;
    flex-wrap: wrap;
  }
  .product .main .product_swiper {
    padding: 0;
  }
  .product .main .product_swiper .item .link .cover_box .cover {
    height: 200px;
  }
  .product .main .product_swiper .item .link .name {
    font-size: 14px;
  }
  .product .main .menu {
    width: 100%;
  }
  .product .main .list {
    padding: 0;
  }
  .product .main .list .col-xs-6 {
    padding: 0 5px;
  }
  .product .main .list .item .link .cover_box {
    height: 170px;
  }
  .product_positioning .content {
    padding: 8% 5%;
  }
  .product_positioning .content .sub_head {
    font-size: 20px;
  }
  .news_recommend .news_recommend_swiper .item .link .cover_box {
    height: 230px;
  }
  .news_recommend .news_recommend_swiper .item .link .content .name {
    font-size: 16px;
  }
  .news_recommend .news_recommend_swiper .item .link .content .lead {
    font-size: 14px;
  }
  .get_quote .main {
    width: 100%;
  }
  .get_quote .main .form {
    margin-top: 10px;
  }
  .get_quote .main .form .wrap .item {
    width: 100%;
  }
  .get_quote .main .form .wrap .input_submit {
    padding: 0;
  }
  .my_company .main {
    width: 100%;
  }
  .corporate_culture .list {
    padding: 0;
  }
  .corporate_culture .list .box {
    background: linear-gradient(90deg, #1da8ff 0%, #0372f9 100%);
    margin-bottom: 10px;
    min-height: auto;
    padding: 30px 20px;
  }
  .corporate_culture .list .box .lead {
    color: #fff;
  }
  .honor .main .box {
    margin-bottom: 10px;
  }
  .honor .main .box .cover_box {
    height: 240px;
  }
  .details .main .product_explain .col-xs-12 {
    padding: 0;
  }
  .details .main .product_explain .details_product_swiper .item .cover_box .cover {
    height: 340px;
  }
  .details .introduce .main .cover_content {
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
  }
  .details .introduce .main .cover_content .cover_box {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
  .main_banner .cover_box .cover {
    min-height: 60vh;
  }
  .main_banner .main .content {
    max-width: 90%;
    padding: 20px 10px;
    opacity: 0.8;
  }
  .news .tabs {
    padding: 20px 4px 10px;
  }
  .introduction {
    padding: 0;
  }
  .introduction .introduction_swiper .swiper_page {
    padding-left: 80%;
  }
  .introduction .introduction_swiper .cover_box {
    height: 240px;
    margin-bottom: 0;
  }
  .introduction .introduction_swiper .content .title {
    font-size: 14px;
  }
  .introduction .introduction_swiper .content .date {
    font-size: 14px;
    padding: 0;
  }
  .introduction .introduction_swiper .content .lead {
    font-size: 12px;
  }
  .introduction .introduction_swiper .content .more {
    margin-top: 7px;
  }
  .introduction .introduction_swiper .content .more .link {
    width: 140px;
    height: 40px;
    line-height: 40px;
  }
  .introduction .introduction_swiper .content .more .link span,
  .introduction .introduction_swiper .content .more .link .iconfont {
    font-size: 14px;
  }
  .information_list {
    padding: 10px 0;
  }
  .information_list .item {
    margin-bottom: 10px;
  }
  .information_list .item .link {
    padding: 4px;
  }
  .information_list .item .link .cover_box {
    height: 180px;
  }
  .information_list .item .link .content {
    padding: 6px;
  }
  .information_list .item .link .content .name {
    font-size: 14px;
    line-height: 1.8;
  }
  .information_list .item .link .content .lead {
    margin-top: 6px;
    font-size: 12px;
    line-height: 1.6;
  }
  .news_details .author {
    padding: 10px 0;
    margin-bottom: 8px;
  }
  .news_details .child_padding .content .lead {
    font-size: 13px;
  }
  .news_details .child_padding .content .content_cover {
    padding: 7px 0;
  }
  .news_details .child_padding .content .cover,
  .news_details .child_padding .content img {
    max-height: 200px;
    width: 100%;
    max-width: none;
    margin-bottom: 10px;
  }
  .message_box .content {
    padding-bottom: 0;
  }
  .message_box .content .title {
    font-size: 20px;
  }
  .message_box .content .lead {
    font-size: 16px;
  }
  .message_box .form {
    margin-top: 10px;
  }
  .message_box .form .item {
    margin-bottom: 20px;
  }
  .message_box .form .box {
    padding: 0;
  }
  .message_box .form .input_box {
    padding-left: 10px;
  }
  .message_box .form .input {
    height: 60px;
    font-size: 16px;
    padding: 0 20px;
  }
  .message_box .form .layui-form-select .layui-input {
    padding: 0 20px;
    height: 60px;
    font-size: 16px;
  }
  .message_box .form .textarea {
    padding: 20px 20px;
    font-size: 16px;
  }
  .message_box .form .btn_box {
    margin-top: 10px;
  }
  .message_box .form .btn_box .btn {
    min-width: none;
    width: 100%;
    height: 50px;
    font-size: 18px;
    padding: 0;
  }
  .message_box .left_cover {
    padding: 0;
    width: 100%;
  }
  .message_box .right {
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
  }
  .message_box .right .cover_box .cover {
    height: 180px;
  }
  .message_box .right .text {
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 20px;
  }
  .map_wrap {
    padding-bottom: 20px;
  }
  .map_wrap .map {
    height: 420px;
    background: #f5f5f5;
  }
  .contact_page {
    padding-bottom: 0;
  }
  .contact_page .list {
    padding-top: 20px;
  }
  .contact_page .list .item {
    padding: 10px 14px;
    align-items: center;
  }
  .contact_page .list .item .content {
    padding-left: 16px;
  }
  .contact_page .list .item .content .name {
    font-size: 16px;
  }
  .contact_page .list .item .content .text {
    margin-top: 0;
    font-size: 13px;
  }
}
