@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 992px) and (max-width: 1199px) {}

@media screen and (min-width: 768px) and (max-width: 991px) {}

@media screen and (max-width: 1600px) {
    .get_quote {
        .main {
            width: 90%;
        }
    }
}

@media screen and (max-width: 1280px) {
    .header {
        .content {
            padding: 0;

            .wrap {
                .right {
                    .nav {
                        .li {
                            .box {
                                .link {
                                    .head_title {
                                        padding: 0 14px;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .container_padding {
        padding: 40px 0;
    }

    .container_main {
        padding-top: 20px;
    }

    .col-xs-12 {
        padding: 0 10px;
    }

    .col-xs-6 {
        padding: 0 10px;
    }

    .title {
        font-size: 20px;
    }

    .lead {
        font-size: 14px;
    }

    .head {
        width: 100%;
        padding-bottom: 20px;

        .title {
            font-size: 20px;
        }

        .sub_head {
            font-size: 16px;
        }

        .sub_title {
            font-size: 18px;
        }

        .arrow {
            .icon {
                width: 40px;
                height: 40px;
                line-height: 40px;
                margin-left: 14px;
            }
        }
    }

    .tabs {
        padding: 0 0 20px;

        .item {
            padding: 0 7px;
            margin-bottom: 16px;

            .link {
                width: auto;
                height: 44px;
                line-height: 44px;
                font-size: 14px;
                padding: 0 20px;
            }
        }
    }

    .contact_btn_wrap {
        padding-top: 30px;
        text-align: right;
    }

    .modal {
        .modal-dialog {
            margin-top: 100px;

            .modal-body {
                .pad_bottom {
                    padding-bottom: 10px;
                }
            }
        }
    }

    .more {
        .link {
            height: 44px;
            line-height: 44px;
        }
    }

    .search {
        .head {
            .title {
                font-size: 38px;
            }
        }

        .search_form {
            margin-top: 20px;

            .content {
                width: 84%;

                .box {
                    .input {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .header {
        .content {
            .wrap {
                height: 70px;
            }

            .logo {
                width: 60px;
            }

            .right {
                flex: none;
                padding: 7px 16px;
                background: #fff;
                border-radius: 45px;
                box-shadow: 0 0 3px rgba(0, 0, 0, .1);
                justify-content: space-between;

                .nav {
                    display: none;
                }

                .function {
                    .language {
                        display: none;
                    }

                    .item {
                        margin: 0;
                        padding: 0 6px;
                        width: auto;

                        .cover {
                            width: 20px;
                        }

                        .link {
                            .iconfont {
                                font-size: 26px;
                            }
                        }
                    }

                    .menu {
                        display: block;
                    }
                }
            }
        }
    }

    .header_height {
        height: 70px;
    }

    .footer {
        .content {
            padding: 40px 0;

            .list {
                margin-top: 20px;
            }

            .right {
                margin-top: 20px;

                .code_box {
                    width: 50%;
                    max-width: 240px;
                    margin: 0;
                }
            }
        }
    }

    .about {
        .main {
            .content {
                margin-bottom: 20px;
            }
        }
    }

    .product_positioning {
        .common_box {
            height: auto;
        }

        .content {
            padding: 10% 5%;
        }

        .row:nth-child(odd) {
            flex-flow: column-reverse;
        }

        .row:nth-child(even) {
            flex-direction: column-reverse;
        }
    }

    .get_quote {
        .main {
            .form {
                .wrap {
                    flex-wrap: wrap;

                    .input_item,
                    .input_message {
                        width: 50%;
                        margin-top: 10px;

                        .box {
                            height: 50px;
                            line-height: 50px;

                            .input {
                                height: 46px;
                                line-height: 46px;
                            }
                        }
                    }

                    .input_message {
                        width: 100%;
                        margin-bottom: 10px;
                    }

                    .input_submit {
                        width: 100%;

                        .btn {
                            height: 46px;
                            line-height: 46px;
                        }
                    }
                }
            }
        }
    }

    .global {
        .main {
            .wrap {
                width: 100%;

                .box {
                    margin-bottom: 20px;

                    .num {
                        font-size: 42px;
                    }

                    .text {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .corporate_culture {
        .list {
            .box {
                min-height: 300px;
            }
        }
    }

    .product {
        .main {
            .menu {
                width: 240px;

                .category {
                    .category_list {
                        .li {
                            .li_head {
                                padding: 10px;

                                .head_title {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }

            .list {
                padding-left: 10px;

                .item {
                    .link {
                        .cover_box {
                            height: 220px;
                        }

                        .content {
                            height: 64px;

                            .name {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }

    .details {
        .main {
            .details_product_swiper {
                .item {
                    .cover_box {
                        .cover {
                            height: 450px;
                        }
                    }
                }
            }

            .content {
                padding: 30px 0;
            }
        }

        .introduce {
            .main {
                .lead {
                    font-size: 14px;
                }

                .cover_content {
                    .cover_box {
                        .cover {
                            height: 340px;
                        }
                    }
                }
            }
        }
    }

    .banner {
        .main {
            .content {
                max-width: 60%;
                padding: 2%;
            }
        }
    }

    .introduction {
        .introduction_swiper {
            .cover_box {
                margin-bottom: 20px;
            }

            .content {
                padding: 10px;

                .title {
                    font-size: 16px;
                    line-height: 26px;
                }

                .date {
                    font-size: 14px;
                    padding: 7px 0;
                }

                .lead {
                    font-size: 14px;
                    line-height: 24px;
                }
            }

            .swiper_page {
                display: none;
            }
        }
    }

    .message_box {
        padding: 40px 0;

        .content {
            padding-bottom: 10px;

            .title {
                font-size: 20px;
            }

        }

        .form {
            .item {
                margin-bottom: 10px !important;

                .two_box {
                    margin-top: 10px;
                    padding-left: 0;
                }

                .textarea {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .contact_page {
        padding-bottom: 20px;

        .list {
            padding: 0;
            margin: 0;

            .item {
                margin-bottom: 10px;
                padding: 10px 20px;
                min-height: auto;
            }
        }
    }

}

@media screen and (max-width: 767px) {

    .container_padding {
        padding: 20px 0;
    }

    .container_main {
        padding-top: 10px;
    }

    .title {
        font-size: 18px;
    }

    .crumbs {
        margin-bottom: 10px;

        .list {
            padding: 14px 0 0;
        }
    }

    .head {
        padding: 10px 0;

        .sub_title {
            padding: 0;
        }
    }

    .more {
        padding-top: 10px;

        .link {
            font-size: 14px;
            padding: 0 20px;
        }
    }

    .tabs {
        padding: 10px 0 0;

        .tabs_wrap {
            justify-content: start;

            .item {
                padding: 0 10px;

                .link {
                    height: 40px;
                    line-height: 40px;

                    .iconfont,
                    .text {
                        font-size: 13px;
                    }

                    .iconfont {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .contact_btn_wrap {
        .btn {
            width: 150px;
            height: 40px;
            line-height: 40px;
            font-size: 14px;
        }

        .btn:first-child {
            margin-right: 20px;
        }
    }

    .modal {
        .modal-dialog {
            .modal-body {
                padding: 7px;
            }
        }
    }

    .article {
        flex-wrap: wrap;
        padding: 10px 10px 20px;
        margin-top: 10px;

        .up {
            width: 100%;
            flex: none;
            padding: 0;

            .lead {
                text-indent: 0;
                padding: 0;
            }

            .link {
                padding: 0;
                width: 100%;
                line-height: 1.8;
                font-size: 13px;
            }
        }

        .return {
            margin-top: 10px;
            width: 100%;
            text-align: right;

            .link {
                height: 40px;
                line-height: 40px;
                font-size: 14px;
            }
        }
    }

    .search {
        .head {
            .title {
                font-size: 38px;
            }
        }

        .search_form {
            margin-top: 20px;

            .content {
                width: 84%;

                .box {
                    .input {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .header {
        .content {
            .wrap {
                padding: 0 10px;

                .function {
                    .item {
                        .link {
                            min-width: 26px;

                            .iconfont {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }

    .index_swiper {
        .item {
            .cover_box {
                .cover {
                    height: auto;
                }
            }

            .content {
                width: 100%;
                padding: 0 10px;
                display: none;

                .title {
                    font-size: 20px;
                }

                .sub_head {
                    font-size: 16px;
                    margin-bottom: 16px;
                }

                .get_scheme {
                    width: 160px;
                    height: 40px;
                    line-height: 40px;

                    .link {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .footer {
        .content {
            padding: 30px 0 0;

            .list {
                margin-top: 10px;

                .title {
                    font-size: 14px;
                    line-height: 24px;
                }

                .ul {
                    margin-top: 10px;

                    .li {
                        .link {
                            padding: 4px 0 4px 4px;
                            font-weight: 400;
                        }
                    }
                }
            }

            .right {
                margin-top: 20px;
                padding: 20px 0 10px;
                border-top: 1px solid rgba(0, 0, 0, 0.1);

                .code_box {
                    margin: auto;
                }
            }
        }

        .copyright {
            padding: 16px 0;

            .wrap {
                text-align: center;
                flex-direction: column-reverse;

                .text {
                    width: 100%;
                    font-size: 14px;
                }

                .blogroll {
                    width: 100%;
                    justify-content: center;
                    margin-bottom: 4px;
                }
            }
        }
    }

    .about {
        .main {
            .content {
                padding: 0;

                .sub_head {
                    font-size: 14px;
                }
            }
        }
    }

    .product {
        .main {
            padding: 10px 0;
            flex-wrap: wrap;

            .product_swiper {
                padding: 0;

                .item {
                    .link {
                        .cover_box {
                            .cover {
                                height: 200px;
                            }
                        }

                        .name {
                            font-size: 14px;
                        }
                    }
                }
            }

            .menu {
                width: 100%;
            }

            .list {
                padding: 0;

                .col-xs-6 {
                    padding: 0 5px;
                }

                .item {
                    .link {
                        .cover_box {
                            height: 170px;
                        }
                    }
                }
            }
        }
    }

    .product_positioning {
        .content {
            padding: 8% 5%;

            .sub_head {
                font-size: 20px;
            }
        }
    }

    .news_recommend {
        .news_recommend_swiper {
            .item {
                .link {
                    .cover_box {
                        height: 230px;
                    }

                    .content {
                        .name {
                            font-size: 16px;
                        }

                        .lead {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .get_quote {
        .main {
            width: 100%;

            .form {
                margin-top: 10px;

                .wrap {
                    .item {
                        width: 100%;
                    }

                    .input_submit {
                        padding: 0;
                    }
                }
            }
        }
    }

    .my_company {
        .main {
            width: 100%;
        }
    }

    .corporate_culture {
        .list {
            padding: 0;

            .box {
                background: linear-gradient(90.00deg, #1da8ff 0%, #0372f9 100%);
                margin-bottom: 10px;
                min-height: auto;
                padding: 30px 20px;

                .lead {
                    color: #fff;
                }
            }
        }
    }

    .honor {
        .main {
            .box {
                margin-bottom: 10px;

                .cover_box {
                    height: 240px;
                }
            }
        }
    }

    .details {
        .main {
            .product_explain {

                .col-xs-12 {
                    padding: 0;
                }

                .details_product_swiper {
                    .item {
                        .cover_box {
                            .cover {
                                height: 340px;
                            }
                        }
                    }
                }
            }
        }

        .introduce {
            .main {
                .cover_content {
                    flex-wrap: wrap;
                    width: 100%;
                    padding: 0;

                    .cover_box {
                        width: 100%;
                        margin: 0;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    .main_banner {
        .cover_box {
            .cover {
                min-height: 60vh;
            }
        }

        .main {
            .content {
                max-width: 90%;
                padding: 20px 10px;
                opacity: .8;
            }
        }
    }

    .news {
        .tabs {
            padding: 20px 4px 10px;
        }
    }

    .introduction {
        padding: 0;

        .introduction_swiper {
            .swiper_page {
                padding-left: 80%;
            }

            .cover_box {
                height: 240px;
                margin-bottom: 0;
            }

            .content {
                .title {
                    font-size: 14px;
                }

                .date {
                    font-size: 14px;
                    padding: 0;
                }

                .lead {
                    font-size: 12px;
                }

                .more {
                    margin-top: 7px;

                    .link {
                        width: 140px;
                        height: 40px;
                        line-height: 40px;

                        span,
                        .iconfont {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .information_list {
        padding: 10px 0;

        .item {
            margin-bottom: 10px;

            .link {
                padding: 4px;

                .cover_box {
                    height: 180px;
                }

                .content {
                    padding: 6px;

                    .name {
                        font-size: 14px;
                        line-height: 1.8;
                    }

                    .lead {
                        margin-top: 6px;
                        font-size: 12px;
                        line-height: 1.6;
                    }
                }
            }
        }
    }

    .news_details {
        .author {
            padding: 10px 0;
            margin-bottom: 8px
        }

        .child_padding {
            .content {
                .lead {
                    font-size: 13px;
                }

                .content_cover {
                    padding: 7px 0;
                }

                .cover,
                img {
                    max-height: 200px;
                    width: 100%;
                    max-width: none;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .message_box {

        .content {
            padding-bottom: 0;

            .title {
                font-size: 20px;
            }

            .lead {
                font-size: 16px;
            }
        }



        .form {
            margin-top: 10px;

            .item {
                margin-bottom: 20px;
            }

            .box {
                padding: 0;
            }

            .input_box {
                padding-left: 10px;
            }

            .input {
                height: 60px;
                font-size: 16px;
                padding: 0 20px;
            }

            .layui-form-select .layui-input {
                padding: 0 20px;
                height: 60px;
                font-size: 16px;
            }

            .textarea {
                padding: 20px 20px;
                font-size: 16px;
            }

            .btn_box {
                margin-top: 10px;

                .btn {
                    min-width: none;
                    width: 100%;
                    height: 50px;
                    font-size: 18px;
                    padding: 0;
                }
            }
        }

        .left_cover {
            padding: 0;
            width: 100%;
        }

        .right {
            padding: 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-end;

            .cover_box {
                .cover {
                    height: 180px;
                }
            }

            .text {
                font-size: 20px;
                color: #000;
                text-align: center;
                margin-top: 20px;
            }
        }
    }

    .map_wrap {
        padding-bottom: 20px;

        .map {
            height: 420px;
            background: #f5f5f5;
        }
    }

    .contact_page {
        padding-bottom: 0;

        .list {
            padding-top: 20px;

            .item {
                padding: 10px 14px;
                align-items: center;

                .content {
                    padding-left: 16px;

                    .name {
                        font-size: 16px;
                    }

                    .text {
                        margin-top: 0;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}