@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 992px) and (max-width: 1199px) {}

@media screen and (min-width: 768px) and (max-width: 991px) {}

@media screen and (max-width: 1600px) {
    .get_quote {
        .main {
            width: 90%;
        }
    }
}

@media screen and (max-width: 1280px) {
    .header {
        .content {
            padding: 0;

            .wrap {
                .right {
                    .nav {
                        .li {
                            .box {
                                .link {
                                    .head_title {
                                        padding: 0 14px;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .container_padding {
        padding: 40px 0;
    }

    .container_main {
        padding-top: 20px;
    }

    .col-xs-12 {
        padding: 0 10px;
    }

    .col-xs-6 {
        padding: 0 10px;
    }

    .title {
        font-size: 20px;
    }

    .lead {
        font-size: 14px;
    }

    .head {
        width: 100%;
        padding-bottom: 20px;

        .title {
            font-size: 20px;
        }

        .sub_head {
            font-size: 16px;
        }

        .sub_title {
            font-size: 18px;
        }

        .arrow {
            .icon {
                width: 40px;
                height: 40px;
                line-height: 40px;
                margin-left: 14px;
            }
        }
    }

    .banner {
        .content {
            .title {
                font-size: 20px;
                margin-bottom: 10px;
            }

            .sub_head {
                font-size: 16px;
            }
        }
    }

    .tabs {
        padding: 0 0 20px;

        .item {
            padding: 0 7px;
            margin-bottom: 16px;

            .link {
                width: auto;
                height: 44px;
                line-height: 44px;
                font-size: 14px;
                padding: 0 20px;
            }
        }
    }

    .modal {
        .modal-dialog {
            margin-top: 100px;

            .modal-body {
                .pad_bottom {
                    padding-bottom: 10px;
                }
            }
        }
    }

    .search {
        .head {
            .title {
                font-size: 38px;
            }
        }

        .search_form {
            margin-top: 20px;

            .content {
                width: 84%;

                .box {
                    .input {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .header {
        .content {
            .wrap {
                height: 70px;
            }

            .logo {
                width: 120px;
            }

            .right {
                flex: none;
                padding: 7px 16px;
                background: #fff;
                border-radius: 45px;
                box-shadow: 0 0 3px rgba(0, 0, 0, .1);
                justify-content: space-between;

                .nav {
                    display: none;
                }

                .function {
                    .language {
                        display: none;
                    }

                    .item {
                        margin: 0;
                        padding: 0 6px;
                        width: auto;

                        .cover {
                            width: 20px;
                        }

                        .link {
                            .iconfont {
                                font-size: 26px;
                            }
                        }
                    }

                    .menu {
                        display: block;
                    }
                }
            }
        }
    }

    .header_height {
        height: 70px;
    }

    .corporate_environment {
        .menus {
            .arrow {
                display: none;
            }
        }
    }

    .get_quote {
        .main {
            .form {
                .wrap {
                    flex-wrap: wrap;

                    .input_item,
                    .input_message {
                        width: 50%;
                        margin-top: 10px;

                        .box {
                            height: 50px;
                            line-height: 50px;

                            .input {
                                height: 46px;
                                line-height: 46px;
                            }
                        }
                    }

                    .input_message {
                        width: 100%;
                        margin-bottom: 10px;
                    }

                    .input_submit {
                        width: 100%;

                        .btn {
                            height: 46px;
                            line-height: 46px;
                        }
                    }
                }
            }
        }
    }

    .footer {
        .content {
            padding: 40px 0;

            .list {
                margin-top: 20px;
            }

            .right {
                margin-top: 20px;

                .code_box {
                    width: 50%;
                    max-width: 240px;
                    margin: 0;
                }
            }
        }
    }

    .about_us {
        .content {
            margin-bottom: 20px;

            .title {
                padding: 10px 0;
            }
        }
    }

    .achievement {
        .main {
            margin-top: 20px;

            .box {
                margin-bottom: 20px;
            }
        }
    }

    .corporate_culture {
        .main {
            .menus {
                padding: 0;

                .item {
                    padding: 5px 0;
                    border-right: none;
                    margin-bottom: 5px;
                    border-bottom: 1px solid rgba(255, 255, 255, .3);

                    .iconfont {
                        font-size: 24px;
                    }

                    .name {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .product {
        .list {
            .item {
                margin-bottom: 20px;
            }
        }
    }

    .details {
        .product_data {
            .data {
                padding: 0;

                .content {
                    padding: 20px 10px;
                }
            }
        }
    }

    .recommend_list {
        padding: 50px 0;
    }

    .introduction {
        .introduction_swiper {
            .cover_box {
                margin-bottom: 20px;
            }

            .content {
                padding: 10px;

                .title {
                    font-size: 16px;
                    line-height: 26px;
                }

                .date {
                    font-size: 14px;
                    padding: 7px 0;
                }

                .lead {
                    font-size: 14px;
                    line-height: 24px;
                }
            }

            .swiper_page {
                display: none;
            }
        }
    }

    .contact {
        .list {
            margin: 0;
            padding: 10px 0;

            .item {
                margin-bottom: 10px;
                min-height: auto;

                .icon {
                    .iconfont {
                        font-size: 46px;
                    }
                }

                .content {
                    padding-left: 20px;

                    .name {
                        font-size: 20px;
                    }

                    .lead {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .message_box {
        padding: 20px 0;

        .content {
            padding: 20px 0;

            .title {
                font-size: 24px;
                margin-bottom: 0;
            }

            .lead {
                font-size: 20px;
                font-weight: 500;
            }

            .form {
                padding: 0;

                .box:nth-child(even) {
                    margin-top: 10px;
                    padding: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {

    .container_padding {
        padding: 20px 0;
    }

    .container_main {
        padding-top: 10px;
    }

    .title {
        font-size: 18px;
    }

    .contact_btn_wrap {
        padding: 20px 0 0;

        .btn {
            width: 160px;
            height: 50px;
            line-height: 50px;
            font-size: 14px;
            background: #0067B8;
            color: #fff;
        }

        .btn:first-child {
            margin-right: 10px;
        }
    }

    .head {
        padding: 10px 0;

        .sub_title {
            padding: 0;
        }

        .sub_head {
            font-size: 14px;
        }
    }

    .tabs {
        padding: 10px 0 0;

        .tabs_wrap {
            justify-content: start;

            .item {
                padding: 0 10px;

                .link {
                    height: 40px;
                    line-height: 40px;

                    .iconfont,
                    .text {
                        font-size: 13px;
                    }

                    .iconfont {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .article {
        flex-wrap: wrap;
        padding: 10px 10px 20px;
        margin-top: 10px;

        .up {
            width: 100%;
            flex: none;
            padding: 0;

            .lead {
                text-indent: 0;
                padding: 0;
            }

            .link {
                padding: 0;
                width: 100%;
                line-height: 1.8;
                font-size: 13px;
            }
        }

        .return {
            margin-top: 10px;
            width: 100%;
            text-align: right;

            .link {
                height: 40px;
                line-height: 40px;
                font-size: 14px;
            }
        }
    }

    .modal {
        .modal-dialog {
            .modal-body {
                padding: 7px;
            }
        }
    }

    .search {
        .head {
            .title {
                font-size: 38px;
            }
        }

        .search_form {
            margin-top: 20px;

            .content {
                width: 84%;

                .box {
                    .input {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .header {
        .content {
            .wrap {
                padding: 0 10px;

                .function {
                    .item {
                        .link {
                            min-width: 26px;

                            .iconfont {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }

    .index_swiper {
        .item {
            .cover_box {
                .cover {
                    height: auto;
                }
            }

            .content {
                width: 100%;
                padding: 0 10px;
                display: none;

                .title {
                    font-size: 20px;
                }

                .sub_head {
                    font-size: 16px;
                    margin-bottom: 16px;
                }

                .get_scheme {
                    width: 160px;
                    height: 40px;
                    line-height: 40px;

                    .link {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .product_list {
        .item {
            .link {
                padding: 0 10px;

                .content {
                    padding: 10px 0;

                    .name {
                        font-size: 16px;
                    }

                    .lead {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .about_explain {
        background-position: bottom left;
    }

    .corporate_environment {
        .menus {
            height: 150px;
        }
    }

    .advantage {
        .item {
            margin-bottom: 10px;
            background: #0067B8;
            padding: 30px 20px 20px;

            .icon {
                background: rgba(255, 255, 255, .3);

                .iconfont {
                    color: #fff;
                }
            }

            .content {
                height: auto;

                .name {
                    color: #fff;
                }

                .lead {
                    color: #fff;
                }
            }

            &:hover {
                transform: translateY(0);
            }
        }
    }

    .news {
        .main {
            .news_swiper {
                .explain {
                    height: 180px;
                    padding: 20px;
                }

                .content {
                    height: 240px;

                    .box {
                        padding: 20px;

                        .lead {
                            font-size: 16px;
                            line-height: 26px;
                        }
                    }
                }
            }

            .news_list {
                display: none;
            }
        }
    }

    .get_quote {
        .main {
            width: 100%;

            .form {
                margin-top: 10px;

                .wrap {
                    .item {
                        width: 100%;
                    }

                    .input_submit {
                        padding: 0;
                    }
                }
            }
        }
    }

    .footer {
        .content {
            padding: 30px 0 0;

            .list {
                margin-top: 10px;

                .title {
                    font-size: 14px;
                    line-height: 24px;
                }

                .ul {
                    margin-top: 10px;

                    .li {
                        .link {
                            padding: 4px 0 4px 4px;
                            font-weight: 400;
                        }
                    }
                }
            }

            .right {
                margin-top: 20px;
                padding: 20px 0 10px;
                border-top: 1px solid rgba(0, 0, 0, 0.1);

                .code_box {
                    margin: auto;
                }
            }
        }

        .copyright {
            padding: 16px 0;

            .wrap {
                text-align: center;
                flex-direction: column-reverse;

                .text {
                    width: 100%;
                    font-size: 14px;
                }

                .blogroll {
                    width: 100%;
                    justify-content: center;
                    margin-bottom: 4px;
                }
            }
        }
    }

    .about_us {

        .content {
            padding: 0;
            margin-bottom: 10px;

            .title {
                padding: 4px 0;
            }

            .more {
                padding-top: 14px;
            }
        }

        .company {
            margin-top: 10px;

            .cover_box {
                padding: 0;
            }

            .explain {
                position: initial;
                width: 100%;
                height: 90px;
                justify-content: start;

                .lead {
                    font-size: 16px;
                }
            }
        }
    }

    .achievement {
        .head {
            padding-bottom: 0;
        }

        .main {
            margin-top: 10px;

            .box {
                .name {
                    .num {
                        font-size: 36px;
                    }

                    .ide {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .about_wrap {
        padding-bottom: 30px;
    }

    .corporate_culture {
        .cover_box {
            .cover {
                min-height: 200px;
            }
        }

        .main {
            position: initial;
            top: 0;
            left: 0;
            width: 100%;
            transform: translate(0);
            padding: 20px 10px;

            .menus {
                margin-top: 10px;

                .item {
                    padding: 20px;

                    .iconfont {
                        font-size: 36px;
                    }
                }
            }
        }
    }

    .history {
        .history_arrow {
            display: none;
        }
    }

    .company_display {
        .tabs {
            margin-top: 0;
            margin-bottom: 10px;

            .tabs_wrap {
                justify-content: center;
            }
        }

        .main {
            .item {
                margin-bottom: 10px;

                .name {
                    font-size: 16px;
                }
            }
        }
    }

    .product {
        .tabs {
            .tabs_wrap {
                justify-content: center;
            }
        }

        .container {
            padding: 0 5px;
        }

        .list {
            .row {
                margin: 0;

                .col_md {
                    padding: 0 5px;
                }
            }

            .item {
                margin-bottom: 10px;

                .link {
                    padding: 10px;

                    .content {
                        .name {
                            font-size: 16px;
                        }

                        .lead {
                            font-size: 12px;
                        }
                    }
                }

                .cover_box {
                    .cover {
                        height: 170px;
                    }
                }
            }
        }
    }

    .details {
        .product_data {
            .data {
                .product_swiper {
                    .item {
                        .cover_box {
                            padding: 10px;

                            .cover {
                                height: 350px;
                            }
                        }
                    }
                }
            }
        }
    }

    .specification {
        .list {
            width: 100%;
        }
    }

    .recommend_list {
        padding: 0 0 50px;
    }

    .news {
        .tabs {
            padding: 20px 4px 10px;

            .tabs_wrap {
                justify-content: center;
            }
        }
    }

    .introduction {
        padding: 0;

        .introduction_swiper {
            .swiper_page {
                padding-left: 80%;
            }

            .cover_box {
                height: 240px;
                margin-bottom: 0;
            }

            .content {
                .title {
                    font-size: 14px;
                }

                .date {
                    font-size: 14px;
                    padding: 0;
                }

                .lead {
                    font-size: 12px;
                }

                .more {
                    margin-top: 7px;

                    .link {
                        width: 140px;
                        height: 40px;
                        line-height: 40px;

                        span,
                        .iconfont {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .information_list {
        padding: 10px 0;

        .item {
            margin-bottom: 10px;

            .link {
                padding: 4px;

                .cover_box {
                    height: 180px;
                }

                .content {
                    padding: 6px;

                    .name {
                        font-size: 14px;
                        line-height: 1.8;
                    }

                    .lead {
                        margin-top: 6px;
                        font-size: 12px;
                        line-height: 1.6;
                    }
                }
            }
        }
    }

    .news_details {
        .author {
            padding: 10px 0;
            margin-bottom: 8px
        }

        .child_padding {
            padding: 20px 0;

            .content {
                .lead {
                    font-size: 13px;
                }

                .content_cover {
                    padding: 7px 0;
                }

                .cover,
                img {
                    max-height: 200px;
                    width: 100%;
                    max-width: none;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .contact {
        padding: 20px 0 0;

        .list {
            .item {
                background: #0067B8;
                padding: 10px;

                .icon {
                    .iconfont {
                        color: #fff;
                    }
                }

                .content {
                    .name {
                        color: #fff;
                        margin-bottom: 0;
                    }

                    .lead {
                        color: #fff;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .map_wrap {
        padding-bottom: 10px;

        .map {
            height: 340px;
        }
    }

    .message_box {
        .left_cover {
            padding: 0;
        }

        .content {
            .title {
                font-size: 20px;
                margin-bottom: 6px;
            }

            .lead {
                font-size: 14px;
                font-weight: 400;
            }

            .form {
                .btn_box {
                    .btn {
                        width: 100%;
                    }
                }
            }
        }
    }

    .tabs_head {
        padding-top: 30px;

        .tabs {
            .tabs_wrap {
                justify-content: center;
            }
        }
    }

    .tabs_body {
        .serve_map {
            padding: 20px 10px;
            width: 100%;
        }
    }

    .honor {
        .list {
            .item {
                padding: 10px;
                margin-bottom: 10px;

                .cover_box {
                    .cover {
                        height: auto;
                        max-height: 170px;
                    }
                }
            }
        }
    }
}