* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.h1,
.h2,
.h3,
.h4 {
  margin: 0;
  padding: 0;
}
.over1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.over2 {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.over3 {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.over4 {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container_padding {
  padding: 100px 0;
}
.container_main {
  padding-top: 40px;
}
ul,
li {
  list-style: none;
}
html,
body {
  overflow-x: hidden;
  color: #333;
  font: 14px / 1.6 PingFang SC, Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
}
a,
.link {
  display: inline-block;
  width: 100%;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
img {
  vertical-align: middle;
  object-fit: cover;
}
.cover_box {
  overflow: hidden;
}
.cover_box .cover {
  width: 100%;
  transition: 0.4s ease-in;
}
.box_shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.box_radius {
  border-radius: 4px;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  opacity: 0.2;
}
body::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
.container {
  max-width: 1600px;
  width: 100%;
  margin: auto;
}
.btn:focus {
  border: none !important;
  outline: none !important;
}
.layui-input:focus {
  border-color: #eee !important;
  box-shadow: 0 0 0 1px rgba(233, 47, 47, 0.6);
}
.layui-textarea:focus {
  border-color: #eee !important;
  box-shadow: 0 0 0 1px rgba(233, 47, 47, 0.6);
}
.btn:focus {
  border: none !important;
  outline: none !important;
}
.title {
  font-size: 28px;
  font-weight: 600;
}
.lead {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 500;
}
.img_bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.animate {
  transition: 0.4s ease;
}
.pointer {
  cursor: pointer;
}
.inline_block {
  display: inline-block;
}
.animate {
  transition: 0.4s ease;
}
.justify_space {
  display: flex;
  justify-content: space-between;
}
.display_flex {
  display: flex;
  align-items: center;
}
.justify_end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.justify_column {
  display: flex;
  flex-direction: column;
}
.justify_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.head {
  width: 80%;
  margin: auto;
  padding: 10px;
  text-align: center;
}
.head .title {
  font-size: 36px;
  line-height: 1.7;
  font-weight: 600;
}
.head .sub_head {
  font-size: 16px;
  line-height: 1.8;
}
.head .sub_title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}
.head .arrow .icon {
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  overflow: hidden;
  border-radius: 12px;
  margin-left: 30px;
  cursor: pointer;
  background: #fff;
  user-select: none;
}
.head .arrow .icon .iconfont {
  font-size: 18px;
}
.head .arrow .icon:hover {
  background: #0067B8;
}
.head .arrow .icon:hover .iconfont {
  color: #fff;
}
.line {
  padding: 18px 0;
  position: relative;
}
.line .t_l {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 88px;
  height: 8px;
  border-radius: 4px;
  background: #0067B8;
}
.line::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}
.paging .nav_box {
  text-align: center;
}
.paging .nav_box .pagination {
  display: flex;
  justify-content: center;
}
.paging .nav_box .pagination li {
  display: inline-block;
  margin: 0 3px;
}
.paging .nav_box .pagination li a {
  color: #0067B8;
}
.paging .nav_box .pagination .active a {
  background-color: #0067B8;
  border-color: #0067B8;
  color: #fff;
}
.contact_btn_wrap {
  padding: 30px 0 10px;
}
.contact_btn_wrap .btn {
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: 4px;
  padding: 0;
  font-size: 16px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 500;
}
.contact_btn_wrap .btn:hover {
  background: #0067B8;
  color: #fff;
}
.contact_btn_wrap .btn:first-child {
  margin-right: 24px;
}
.banner {
  position: relative;
}
.banner .cover {
  min-height: 30vh;
}
.banner .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}
.banner .content .title {
  font-size: 40px;
  line-height: 1.5;
  color: #fff;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.banner .content .sub_head {
  font-size: 24px;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 24px;
}
.banner .content .get_scheme {
  width: 200px;
  height: 44px;
  background: #0067B8;
  text-align: center;
  line-height: 44px;
  border-radius: 45px;
  margin: auto;
  border: 2px solid #ffd57b;
}
.banner .content .get_scheme .link {
  color: #fff;
  font-size: 18px;
}
.modal {
  padding: 0 !important;
}
.modal .sub_head {
  font-size: 14px;
  line-height: 24px;
  color: #B4B4B4;
  margin: 10px 0 0;
}
.modal .modal-dialog {
  margin-top: 200px;
}
.modal .modal-body {
  padding: 20px;
}
.modal .modal-body .video {
  width: 100%;
  height: 320px;
}
.tabs {
  padding: 0 10px 50px;
}
.tabs .tabs_wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tabs .item {
  padding: 0 26px;
  margin-bottom: 20px;
}
.tabs .item .link {
  border-radius: 45px;
  padding: 0 24px;
  background: #fff;
  height: 50px;
  text-align: center;
  line-height: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.tabs .item .link .iconfont,
.tabs .item .link .text {
  font-size: 18px;
  padding: 0 2px;
  white-space: nowrap;
}
.tabs .item .link .iconfont {
  font-size: 24px;
}
.tabs .active .link {
  background: #0067B8;
}
.tabs .active .link .iconfont,
.tabs .active .link .text {
  color: #fff;
}
.more {
  padding-top: 30px;
}
.more .link {
  height: 44px;
  line-height: 44px;
  padding: 0 34px;
  font-size: 16px;
  color: #fff;
  background: #0067B8;
  width: auto;
  border-radius: 4px;
}
.more .link .iconfont {
  padding-left: 4px;
}
.more .link:hover {
  background: #2C9BF2;
}
.author {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}
.author .text {
  font-size: 16px;
  color: #B5B5B5;
  padding: 0 14px;
}
.article {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 20px;
  background: #0067B8;
}
.article .up {
  flex: 1;
  padding-right: 20px;
}
.article .up .lead {
  text-align: left;
}
.article .up .lead .link {
  padding: 4px 0;
  width: auto;
  color: #fff;
  text-indent: 0;
}
.article .return {
  flex: none;
  width: 160px;
}
.article .return .link {
  height: 54px;
  line-height: 54px;
  background: #fff;
  border-radius: 45px;
  color: #0067B8;
  font-size: 16px;
  text-align: center;
}
.search .main {
  margin: auto;
  padding: 100px 0 0;
}
.search .head .title {
  color: #000;
}
.search .search_form {
  margin-top: 60px;
}
.search .search_form .content {
  width: 60%;
  margin: auto;
}
.search .search_form .content .box {
  display: flex;
  align-items: center;
}
.search .search_form .content .input {
  font-size: 20px;
  height: 60px;
  line-height: 60px;
}
.search .search_form .content .input:focus {
  box-shadow: none;
}
.search .search_form .content .submit_btn {
  width: 100px;
  height: 60px;
  background: #0067B8;
  color: #fff;
  font-size: 24px;
  padding: 0;
  border: none;
}
.search .search_form .content .submit_btn .iconfont {
  font-size: 28px;
  color: #fff;
}
.search .search_form .content .note {
  margin-top: 10px;
}
.search .search_form .content .note .link {
  width: auto;
  line-height: 1.4;
  font-size: 14px;
  padding: 10px 0;
  white-space: nowrap;
  margin-right: 20px;
  color: #0067B8;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header .content {
  width: 100%;
  transition: 1s ease;
  background: #fff;
  padding: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.header .content .wrap {
  margin: auto;
  max-width: 1600px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.header .content .logo {
  width: 150px;
  flex: none;
}
.header .content .logo .cover {
  width: 100%;
}
.header .content .right {
  flex: auto;
}
.header .content .right .nav {
  flex: 1;
}
.header .content .right .nav .li {
  cursor: pointer;
  position: relative;
}
.header .content .right .nav .li .head_title {
  height: 80px;
  line-height: 80px;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  position: relative;
  color: #000;
}
.header .content .right .nav .li .head_title::before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 2px;
  border-radius: 6px;
  background: #fff;
  overflow: hidden;
  transition: 0.4s ease;
  opacity: 0;
}
.header .content .right .nav .active {
  background: #0067B8;
}
.header .content .right .nav .active .head_title {
  color: #fff;
}
.header .content .right .nav .active .head_title .link {
  color: #fff;
}
.header .content .right .nav .active .head_title::before {
  opacity: 1;
  bottom: 18px;
}
.header .content .right .function {
  flex: none;
  display: flex;
  align-items: center;
}
.header .content .right .function .circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
}
.header .content .right .function .circle .cover {
  width: 15px;
}
.header .content .right .function .item {
  background: #0067B8;
  margin-left: 14px;
  cursor: pointer;
  border-radius: 34px;
}
.header .content .right .function .item .iconfont {
  color: #fff;
}
.header .content .right .function .language {
  position: relative;
  width: 110px;
  background: #0067B8;
  margin-left: 14px;
  border-radius: 46px;
}
.header .content .right .function .language_head {
  text-align: center;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  color: #fff;
  padding: 0 6px;
}
.header .content .right .function .language_list {
  position: absolute;
  top: 36px;
  left: 0;
  width: 100%;
  background: #0067B8;
  padding: 6px 10px;
  display: none;
}
.header .content .right .function .language_list .language_li .link {
  padding: 6px 0;
}
.header .content .right .function .language_list .language_li .link .cover {
  width: 20px;
}
.header .content .right .function .language_list .language_li .link .text {
  font-size: 14px;
  color: #fff;
  padding-left: 4px;
}
.header .content .right .function .menu {
  cursor: pointer;
  width: 30px;
  height: 18px;
  position: relative;
  display: none;
  margin-left: 6px;
  user-select: none;
}
.header .content .right .function .menu .lis {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  transition: all 0.3s ease;
  border-radius: 2px;
  background: #0067B8;
  transform-origin: 50% 50%;
}
.header .content .right .function .menu .lis:nth-child(1) {
  top: 0;
}
.header .content .right .function .menu .lis:nth-child(2) {
  width: 60%;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
}
.header .content .right .function .menu .lis:nth-child(3) {
  top: 98%;
}
.header .content .right .function .active .lis:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.header .content .right .function .active .lis:nth-child(2) {
  display: none;
}
.header .content .right .function .active .lis:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.header .content .right .function .item:hover {
  transform: translateY(-2px);
}
.header .content .right .function .language:hover {
  border-radius: 0;
}
.header .content .right .function .language:hover .icon_bottom {
  transform: rotate(-180deg);
}
.header .content .right .function .language:hover .language_list {
  display: block;
}
.header_height {
  height: 80px;
}
.h5_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #333;
  transition: 0.7s ease;
  overflow: hidden;
  z-index: 99;
  opacity: 1;
  visibility: hidden;
  padding-top: 70px;
}
.h5_nav .li .head_title {
  padding: 14px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.h5_nav .li .head_title .title,
.h5_nav .li .head_title .iconfont {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
}
.h5_nav .li .child {
  display: none;
}
.h5_nav .li .child .lis {
  text-align: right;
}
.h5_nav .li .child .lis .child_head_title {
  padding: 14px 10px 14px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.h5_nav .li .child .lis .child_head_title .child_title,
.h5_nav .li .child .lis .child_head_title .iconfont {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.h5_nav .li .box {
  text-align: right;
}
.h5_nav .child_li .link {
  flex: 1;
  padding: 0 10px;
}
.h5_nav .child_li .spread {
  flex: none;
  width: 50px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  background: #000;
  border-radius: 3px;
  user-select: none;
}
.h5_nav .child_li .rotateIcon {
  transform: rotate(-180deg);
}
.h5_nav .h5_language {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.h5_nav .h5_language .box {
  flex: 1;
  text-align: center;
  position: relative;
}
.h5_nav .h5_language .box .link {
  padding: 20px 0;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h5_nav .h5_language .box .link .cover {
  width: 24px;
}
.h5_nav .h5_language .box .link .text {
  padding-left: 6px;
}
.h5_nav .h5_language .box:nth-child(2)::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 1px;
  height: 70%;
  background: rgba(255, 255, 255, 0.3);
}
.h5_nav_active {
  opacity: 1;
  height: 100vh;
  visibility: visible;
}
.index_swiper {
  overflow: hidden;
}
.index_swiper .item {
  position: relative;
}
.index_swiper .item .cover_box .cover {
  height: calc(100vh - 80px);
}
.index_swiper .item .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}
.index_swiper .item .content .title {
  font-size: 46px;
  line-height: 1.5;
  color: #fff;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.index_swiper .item .content .sub_head {
  font-size: 24px;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 24px;
}
.index_swiper .item .content .get_scheme {
  width: 200px;
  height: 44px;
  background: #0067B8;
  text-align: center;
  line-height: 44px;
  border-radius: 45px;
  margin: auto;
  border: 2px solid #ffd57b;
}
.index_swiper .item .content .get_scheme .link {
  color: #fff;
  font-size: 18px;
}
.index_swiper .swiper-pagination {
  bottom: 20px;
}
.index_swiper .swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background: #fff;
}
.index_swiper .swiper-pagination .swiper-pagination-bullet-active {
  width: 24px;
  border-radius: 4px;
}
.recommend_product .main .recommend_product_swiper {
  padding-right: 10%;
}
.product_list .item .link {
  background: #fff;
  padding: 0 20px;
}
.product_list .item .link .cover_box {
  text-align: center;
}
.product_list .item .link .cover_box .cover {
  max-width: 258px;
}
.product_list .item .link .content {
  padding: 20px 0;
  text-align: center;
}
.product_list .item .link .content .name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.7;
  margin-bottom: 8px;
}
.product_list .item .link .content .lead {
  font-size: 14px;
  line-height: 1.7;
  color: #979797;
  font-weight: 500;
}
.product_list .item .link:hover .cover {
  transform: scale(1.1);
}
.product_list .item .link:hover .name {
  color: #0067B8;
}
.about_explain {
  padding: 170px 0;
}
.about_explain .content .name {
  font-size: 16px;
  font-weight: 600;
  color: #0067B8;
}
.about_explain .content .title {
  margin: 7px 0;
}
.about_explain .content .lead {
  font-size: 14px;
  font-weight: 500;
  margin: 6px 0;
  text-indent: 2em;
  line-height: 1.8;
}
.corporate_environment {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background: #000;
}
.corporate_environment video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.corporate_environment .menus {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 180px;
  overflow: hidden;
}
.corporate_environment .menus .row {
  margin: 0;
}
.corporate_environment .menus .arrow {
  height: 180px;
}
.corporate_environment .menus .arrow .icon {
  padding: 0 10px;
}
.corporate_environment .menus .arrow .icon .iconfont {
  font-size: 36px;
  color: #fff;
}
.corporate_environment .menus .arrow .icon:hover .iconfont {
  color: #0067B8;
}
.corporate_environment .menus .facility_swiper {
  height: 100%;
  overflow: hidden;
}
.corporate_environment .menus .facility_swiper .item {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.corporate_environment .menus .facility_swiper .item .cover_box {
  height: 100%;
}
.corporate_environment .menus .facility_swiper .item .cover_box .cover {
  height: 100%;
}
.corporate_environment .menus .facility_swiper .item .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.corporate_environment .menus .facility_swiper .item .shadow .iconfont {
  font-size: 32px;
  color: #fff;
}
.corporate_environment .menus .facility_swiper .swiper-slide-active .shadow {
  opacity: 1;
}
.advantage .item {
  padding: 30px 20px 10px;
  background: #F1F1F1;
  margin-bottom: 20px;
}
.advantage .item .icon {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  background: #fff;
  text-align: center;
  line-height: 64px;
  margin: auto;
}
.advantage .item .icon .iconfont {
  font-size: 30px;
}
.advantage .item .content {
  margin-top: 24px;
  height: 150px;
}
.advantage .item .content .name {
  font-size: 18px;
  line-height: 1.7;
  font-weight: 600;
  text-align: center;
  margin-bottom: 8px;
}
.advantage .item .content .lead {
  font-size: 14px;
  line-height: 1.7;
  color: #7B7B7B;
}
.advantage .item:hover {
  background: #0067B8;
  transform: translateY(-10px);
}
.advantage .item:hover .icon {
  background: rgba(255, 255, 255, 0.3);
}
.advantage .item:hover .icon .iconfont {
  color: #fff;
}
.advantage .item:hover .name {
  color: #ffff;
}
.advantage .item:hover .lead {
  color: #fff;
}
.cooperative_partner .row {
  display: flex;
  flex-wrap: wrap;
}
.cooperative_partner .item {
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.cooperative_partner .item:hover {
  border-color: #0067B8;
}
.cooperative_partner .item:hover .cover {
  transform: scale(1.07);
}
.news .news_swiper .row {
  margin: 0;
}
.news .news_swiper .row .col_md {
  padding: 0;
}
.news .news_swiper .slide {
  background: #F2F2F2;
}
.news .news_swiper .slide .explain {
  height: 400px;
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.news .news_swiper .slide .explain .date {
  color: #0067B8;
}
.news .news_swiper .slide .explain .date .day {
  font-size: 78px;
  font-weight: 600;
}
.news .news_swiper .slide .explain .date .year {
  font-size: 20px;
}
.news .news_swiper .slide .content .box {
  height: 400px;
  padding: 30px 50px;
  background: rgba(0, 0, 0, 0.3);
}
.news .news_swiper .slide .content .name {
  font-size: 16px;
  color: #fff;
}
.news .news_swiper .slide .content .lead {
  color: #fff;
  margin-top: 10px;
  font-size: 18px;
  line-height: 28px;
}
.news .news_list .row {
  margin: 0;
}
.news .news_list .row .col_md {
  padding: 0;
}
.news .news_list .box {
  height: 250px;
  padding: 50px 20px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.news .news_list .box .name {
  font-size: 16px;
  color: #8F8F8F;
}
.news .news_list .box .lead {
  margin: 12px 0;
}
.news .news_list .box .link {
  margin-top: 20px;
  padding: 3px 0;
  width: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.news .news_list .box .link:hover {
  color: #0067B8;
}
.news .news_list .active {
  background: #F2F2F2;
}
.get_quote {
  position: relative;
}
.get_quote .service {
  position: absolute;
  top: 0;
  right: 0;
}
.get_quote .head {
  flex-wrap: wrap;
  justify-content: center;
}
.get_quote .head .title {
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 600;
}
.get_quote .head .sub_title {
  color: #fff;
}
.get_quote .cover {
  height: 500px;
}
.get_quote .main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1600px;
}
.get_quote .form {
  margin-top: 40px;
}
.get_quote .form .wrap {
  display: flex;
}
.get_quote .form .wrap .item {
  width: 25%;
  padding: 0 10px;
}
.get_quote .form .wrap .item .box {
  display: flex;
  align-items: center;
  height: 60px;
  background: #fff;
  user-select: none;
}
.get_quote .form .wrap .item .iconfont {
  font-size: 20px;
  margin-left: 10px;
}
.get_quote .form .wrap .item .input {
  border: none;
  outline: none;
  box-shadow: none;
}
.get_quote .form .wrap .item .input:focus {
  border: none;
}
.get_quote .form .wrap .input_message {
  width: 40%;
}
.get_quote .form .wrap .input_submit {
  width: 10%;
  padding: 0 0 0 10px;
}
.get_quote .form .wrap .input_submit .btn {
  background: #0067B8;
  color: #fff;
  text-align: center;
  height: 60px;
  line-height: 60px;
  width: 100%;
  padding: 0;
}
.footer {
  background: #F2F2F2;
}
.footer .row {
  margin: 0;
}
.footer .row .col_md {
  padding: 0;
}
.footer .nav_list {
  display: flex;
  flex-wrap: wrap;
}
.footer .content {
  padding: 80px 0 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.footer .content .list .title {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.footer .content .list .ul {
  margin-top: 10px;
}
.footer .content .list .ul .li .link {
  font-size: 14px;
  line-height: 1.8;
  font-weight: 600;
  padding: 6px 0;
  transition: 0.3s ease-out;
}
.footer .content .list .ul .li .link .iconfont {
  padding-right: 4px;
  color: #2C9BF2;
}
.footer .content .list .ul .li .link:hover {
  transform: skew(6deg) translateX(10px);
  color: #0067B8;
}
.footer .content .blogroll_list {
  padding-top: 14px;
  display: flex;
}
.footer .content .blogroll_list .b_li {
  margin-right: 10px;
}
.footer .content .blogroll_list .cover_box {
  width: 30px;
  height: 30px;
}
.footer .content .right .code_box {
  width: 80%;
  margin: auto;
}
.footer .content .right .lead {
  padding: 10px 0;
  text-align: center;
  color: #000;
}
.footer .copyright {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}
.footer .copyright .wrap {
  flex-wrap: wrap;
  align-items: center;
}
.footer .copyright .wrap .text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
}
.about_us .content {
  padding: 42px 50px 0 0;
}
.about_us .content .title {
  line-height: 1.8;
  padding: 16px 0;
}
.about_us .content .sub_head {
  color: #0067B8;
  font-size: 24px;
}
.about_us .content .lead {
  text-indent: 2em;
  line-height: 1.8;
  color: #484848;
  margin: 6px 0;
}
.about_us .company {
  position: relative;
}
.about_us .company::after {
  content: '';
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 200px;
  height: 100px;
  background: #0067B8;
  z-index: -1;
}
.about_us .company .cover_box {
  padding: 20px;
  padding-right: 60px;
}
.about_us .company .explain {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 300px;
  height: 130px;
  background: linear-gradient(92.15deg, #0067b8 0%, #2c9bf2 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0 20px;
}
.about_us .company .explain .iconfont {
  font-size: 60px;
}
.about_us .company .explain .lead {
  padding-left: 20px;
  font-size: 20px;
  color: #fff;
}
.achievement .main {
  margin-top: 60px;
}
.achievement .main .box {
  text-align: center;
}
.achievement .main .box .num {
  font-size: 48px;
  font-weight: 600;
  color: #0067B8;
}
.achievement .main .box .ide {
  font-size: 24px;
  font-weight: 600;
}
.about_wrap {
  padding-bottom: 100px;
}
.corporate_culture {
  position: relative;
}
.corporate_culture .main {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.corporate_culture .main .menus {
  border-radius: 12px;
  padding: 40px;
  margin-top: 20px;
}
.corporate_culture .main .menus .item {
  border-right: 1px solid #fff;
  text-align: center;
  color: #fff;
  font-weight: 500;
  padding: 0 30px;
}
.corporate_culture .main .menus .item .iconfont {
  font-size: 38px;
}
.corporate_culture .main .menus .item .name {
  font-size: 20px;
  margin: 6px 0 10px;
}
.corporate_culture .main .menus .item .lead {
  font-weight: 400;
  line-height: 1.6;
}
.corporate_culture .main .menus .col_md:last-child .item {
  border: none;
}
.history {
  background-position: 100% 100%;
}
.history .main {
  padding-top: 40px;
}
.history .main .history_swiper .item {
  overflow: hidden;
}
.history .main .history_swiper .item .box {
  background: #fff;
  margin-bottom: 20px;
}
.history .main .history_swiper .item .box .cover_box .cover {
  height: 200px;
}
.history .main .history_swiper .item .box .content {
  padding: 20px;
  font-size: 14px;
  line-height: 1.8;
}
.history .main .history_swiper .item .box .content .title {
  font-size: 20px;
  margin-bottom: 10px;
}
.history .main .history_swiper .item .box:hover .cover {
  transform: scale(1.07);
}
.history .main .history_swiper .item .box:hover .content .title {
  color: #0067B8;
}
.history .main .history_swiper .item .item_bottom {
  text-align: center;
}
.history .main .history_swiper .item .item_bottom .date {
  font-size: 24px;
  font-weight: 600;
}
.history .main .history_swiper .item .item_bottom .circle {
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 5px;
  background: rgba(0, 103, 184, 0.1);
}
.history .main .history_swiper .item .item_bottom .dot {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: #0067B8;
}
.history .main .history_swiper .history_arrow {
  background: none;
}
.history .main .history_swiper .history_arrow .iconfont {
  font-size: 38px;
  color: #c5cacf;
}
.history .main .history_swiper .history_arrow:hover .iconfont {
  color: #0067B8;
}
.company_display .tabs {
  margin-top: 20px;
}
.company_display .main .item {
  margin-bottom: 30px;
}
.company_display .main .item .cover_box {
  position: relative;
  margin-bottom: 10px;
}
.company_display .main .item .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(18, 87, 155, 0.5);
  opacity: 0;
}
.company_display .main .item .shadow .iconfont {
  font-size: 40px;
  color: #fff;
}
.company_display .main .item .name {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
.company_display .main .item:hover .cover {
  transform: scale(1.03);
}
.company_display .main .item:hover .shadow {
  opacity: 1;
}
.product {
  padding: 160px 0 100px;
}
.product .list .row {
  display: flex;
  flex-wrap: wrap;
}
.product .list .item {
  padding: 0;
  margin-bottom: 30px;
}
.product .list .item .cover_box {
  padding: 0;
}
.product .list .item .cover_box .cover {
  height: 240px;
}
.product .list .item .content {
  padding-top: 14px;
  text-align: center;
}
.product .list .item .content .name {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
  margin-bottom: 10px;
}
.product .list .item .content .lead {
  line-height: 1.7;
  color: #979797;
  font-weight: 400;
}
.product .list .item .link {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.product .list .item .link:hover .cover {
  transform: scale(1.05);
}
.product .list .item .link:hover .name {
  color: #0067B8;
}
.details {
  padding: 50px;
}
.details ul,
.details ol {
  margin-left: 14px;
}
.details ul li,
.details ol li {
  list-style: auto;
  padding: 4px 0;
  font-weight: 500;
  font-size: 14px;
}
.details .data {
  padding: 50px 0 0;
}
.details .data .product_swiper .product_demo {
  margin-bottom: 10px;
  padding: 2px;
  background: #fff;
}
.details .data .product_swiper .product_demo .cover_box {
  padding: 40px;
}
.details .data .product_swiper .product_demo .cover_box .cover {
  height: 400px;
}
.details .data .product_swiper .product_demo .item:hover .cover {
  transform: scale(1.07);
}
.details .data .content {
  padding: 20px 0 20px 20px;
}
.details .data .content .lead {
  color: #5D5D5D;
  line-height: 1.8;
  font-size: 14px;
  margin-bottom: 10px;
}
.details .data .content .name {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}
.details .details_padding {
  padding: 30px 0;
}
.specification .list {
  width: 90%;
  margin: auto;
  background: #fff;
}
.specification .list .head {
  width: 100%;
  background: #0067B8;
  padding: 0;
}
.specification .list .head .val {
  flex: 1;
  color: #fff;
  font-weight: 500;
}
.specification .list .li {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.specification .list .li .val {
  flex: 1;
  padding: 14px 10px;
  font-size: 14px;
  line-height: 1.8;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
.specification .list .li:nth-child(even) {
  background: #EFF8FF;
}
.recommend_list {
  padding: 50px 0;
}
.recommend_list .item .link {
  text-align: center;
  padding: 10px !important;
}
.recommend_list .item .link .name {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 10px 0;
}
.news .tabs {
  padding: 60px 10px 20px;
}
.news_main .page {
  display: none;
}
.news_main .active {
  display: block;
}
.introduction {
  padding: 30px 0;
}
.introduction .introduction_swiper .swiper_page {
  text-align: initial;
  padding-left: 20%;
}
.introduction .cover_box {
  height: 400px;
  border-radius: 20px;
}
.introduction .cover_box .cover {
  height: 100%;
}
.introduction .cover_box:hover .cover {
  transform: scale(1.07);
}
.introduction .content {
  padding: 10px 0 10px 50px;
}
.introduction .content .title {
  font-size: 22px;
  line-height: 32px;
  color: #000;
  font-weight: 600;
}
.introduction .content .date {
  font-size: 18px;
  color: #9F9F9F;
  line-height: 28px;
  padding: 16px 0;
}
.introduction .content .lead {
  font-size: 16px;
  line-height: 34px;
  color: #9F9F9F;
}
.introduction .content .more {
  margin-top: 30px;
}
.introduction .content .more .link {
  width: 200px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  border-radius: 27px;
  background: #0067B8;
  color: #fff;
}
.introduction .content .more .link .iconfont,
.introduction .content .more .link span {
  font-size: 16px;
  line-height: 26px;
}
.introduction .swiper_page .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 0.6;
  background: #fff;
}
.introduction .swiper_page .swiper-pagination-bullet-active {
  width: 20px;
  border-radius: 6px;
  opacity: 1;
}
.information_list {
  padding: 40px 0;
}
.information_list .item {
  margin-bottom: 40px;
}
.information_list .item .link {
  overflow: hidden;
  transition: 0.4s ease;
  background: #fff;
  padding: 20px;
}
.information_list .item .link .cover_box {
  height: 280px;
}
.information_list .item .link .cover_box .cover {
  height: 100%;
}
.information_list .item .link .content {
  padding: 20px 10px 0;
}
.information_list .item .link .content .name {
  font-size: 18px;
  line-height: 1.7;
  font-weight: 500;
}
.information_list .item .link .content .lead {
  font-size: 14px;
  line-height: 1.7;
  color: #555555;
}
.information_list .item .link .content .date {
  font-size: 16px;
  line-height: 2;
  color: #555555;
  padding: 10px 0;
}
.information_list .item .link:hover {
  transform: translateY(-10px);
}
.information_list .item .link:hover .cover {
  transform: scale(1.1);
}
.information_list .item .link:hover .content .name {
  color: #0067B8;
}
.news_details .child_padding {
  padding: 40px 30px;
}
.news_details .content .lead {
  font-size: 16px;
  line-height: 1.8;
  padding: 10px 0;
  font-weight: 400;
}
.news_details .content .content_cover {
  padding: 20px 0;
  text-align: center;
}
.news_details .content .content_cover .cover {
  display: inline-block;
  max-width: 48%;
  padding: 0 10px;
}
.contact {
  padding: 20px 0;
}
.contact .head .sub_head {
  color: #7B7B7B;
}
.contact .head .sub_title {
  color: #0067B8;
}
.contact .list {
  margin-top: 30px;
  padding: 30px 0;
}
.contact .list .item {
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  margin-bottom: 30px;
  min-height: 120px;
  transition: 0.7s ease-in-out;
  justify-content: start;
  padding: 20px;
}
.contact .list .item .icon .iconfont {
  font-size: 56px;
  color: #DBDBDB;
}
.contact .list .item .content {
  padding-left: 30px;
}
.contact .list .item .content .name {
  font-size: 24px;
  line-height: 1.7;
  font-weight: 600;
  margin-bottom: 5px;
}
.contact .list .item .content .lead {
  font-size: 18px;
  line-height: 1.8;
  color: #787878;
  font-weight: 500;
}
.message_box {
  padding: 100px 0 60px;
}
.message_box .row {
  margin: 0;
}
.message_box .content {
  padding: 30px 0 0 50px;
}
.message_box .content .title {
  font-size: 40px;
  margin-bottom: 12px;
}
.message_box .content .lead {
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 10px;
  color: #ABABAB;
}
.message_box .form {
  padding-top: 40px;
}
.message_box .form .item {
  margin-bottom: 10px;
}
.message_box .form .box {
  padding: 0;
}
.message_box .form .two_box {
  padding-left: 10px;
}
.message_box .form .input_box {
  padding-left: 10px;
}
.message_box .form .input {
  height: 60px;
  font-size: 16px;
  padding: 0 20px;
}
.message_box .form .layui-form-select .layui-input {
  padding: 0 20px;
  height: 60px;
  font-size: 16px;
}
.message_box .form .textarea {
  padding: 20px 20px;
  font-size: 16px;
}
.message_box .form .btn_box {
  margin-top: 20px;
}
.message_box .form .btn_box .btn {
  background: #0067B8;
  min-width: 180px;
  height: 50px;
  font-size: 18px;
  padding: 0;
}
.map_wrap {
  padding-bottom: 40px;
}
.map_wrap .map {
  height: 500px;
  background: #f5f5f5;
}
.serve_map {
  width: 80%;
  margin: auto;
  padding: 50px;
}
.tabs_body {
  display: none;
}
.tabs_active {
  display: block;
}
.tabs_head {
  padding-top: 50px;
}
.tabs_head .tabs {
  padding: 0;
}
.tabs_head .tabs .tabs_wrap .item .link {
  padding: 0 30px;
}
.honor .list .row {
  display: flex;
  flex-wrap: wrap;
}
.honor .list .item {
  padding: 20px;
  background: #fff;
  margin-bottom: 30px;
}
.honor .list .item .cover_box .cover {
  height: 240px;
  object-fit: contain;
}
.honor .list .item .name {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px;
}
.honor .list .item:hover .cover {
  transform: scale(1.1);
}
.honor .list .item:hover .name {
  color: #0067B8;
}
