@media screen and (max-width: 1400px) {
  .case_banner .content {
    width: 96%;
  }
  .header .content .right .h_navbar .nav .li .child .category {
    padding-right: 20px;
  }
  .header .content .right .h_navbar .nav .li .child .category .category_ul .child_li .child_link .text {
    padding-left: 10px;
    font-size: 14px;
  }
}
@media screen and (max-width: 1300px) {
  .header .content .right .h_navbar .nav {
    padding-right: 10px;
  }
  .header .content .right .h_navbar .nav .li .link {
    padding: 0 12px;
  }
}
@media screen and (max-width: 1200px) {
  .header .content .left .search {
    display: none;
  }
  .advantage .main .list .li {
    padding: 14px 20px;
  }
  .advantage .main .list .li .name {
    font-size: 18px;
    line-height: 28px;
  }
  .message_box .right {
    margin-bottom: 20px;
  }
  .message_box .form .item .input_box {
    padding-left: 0;
    margin-top: 20px;
  }
}
@media screen and (max-width: 992px) {
  body {
    padding-top: 64px;
  }
  .container_padding {
    padding: 60px 0;
  }
  .col-xs-12 {
    padding: 0 10px;
  }
  .col-xs-6 {
    padding: 0 10px;
  }
  .title {
    font-size: 20px;
    line-height: 30px;
  }
  .lead {
    font-size: 14px;
    line-height: 24px;
  }
  .header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 14px 0;
  }
  .header .content .left .logo .cover {
    width: 64px;
  }
  .header .content .right .h_navbar {
    display: none;
  }
  .header .content .right .language .box {
    height: 40px;
    line-height: 40px;
  }
  .header .content .right .menu {
    display: block;
  }
  .footer .content .box {
    margin-bottom: 20px;
  }
  .head {
    flex-wrap: wrap;
  }
  .head .arrow {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .head .arrow .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .modal .modal-dialog {
    margin-top: 100px;
  }
  .modal .modal-dialog .modal-body .pad_bottom {
    padding-bottom: 10px;
  }
  .tabs {
    justify-content: start;
  }
  .tabs .li {
    margin: 0 10px 20px;
  }
  .tabs .li .link {
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    font-size: 16px;
  }
  .main_top {
    margin-top: 30px;
  }
  .product_show .list {
    margin-top: 20px;
  }
  .product_show .list .box {
    padding: 20px;
  }
  .advantage .main .list {
    padding-left: 0;
  }
  .information {
    padding-bottom: 0;
  }
  .information .information_banner {
    margin-top: 30px;
  }
  .information .information_banner .item .wrap .content .name {
    font-size: 18px;
    line-height: 28px;
  }
  .information .information_banner .item .wrap .content .lead {
    font-size: 14px;
    line-height: 24px;
  }
  .message_box {
    padding: 10px;
    margin-bottom: 20px;
  }
  .message_box .left_cover,
  .message_box .right_content {
    padding: 0;
  }
  .message_box .title {
    font-size: 24px;
  }
  .message_box .lead {
    font-size: 14px;
    line-height: 28px;
  }
  .message_box .form {
    margin-top: 20px;
  }
  .message_box .form .item {
    margin-bottom: 10px;
  }
  .message_box .form .item .input {
    height: 46px;
    font-size: 12px;
    padding: 0 10px;
  }
  .message_box .form .item .input_box {
    margin-top: 10px;
  }
  .message_box .form .item .textarea {
    padding: 10px;
    font-size: 12px;
  }
  .message_box .form .btn_box {
    margin-top: 10px;
  }
  .message_box .form .btn_box .btn {
    min-width: auto;
    width: 100%;
    height: 46px;
    line-height: 46px;
    font-size: 12px;
  }
  .message_box .right .cover_box {
    width: 100%;
    height: auto;
  }
  .contact_us .main .content .map {
    height: 360px;
  }
  .news .menu {
    margin-bottom: 30px;
  }
  .introduction .introduction_swiper .cover_box {
    margin-bottom: 20px;
  }
  .introduction .introduction_swiper .content .title {
    font-size: 16px;
    line-height: 26px;
  }
  .introduction .introduction_swiper .content .date {
    font-size: 14px;
    padding: 7px 0;
  }
  .introduction .introduction_swiper .content .lead {
    font-size: 14px;
    line-height: 24px;
  }
  .case_category .main .content {
    margin-top: 20px;
  }
  .product_information_banner .item .name {
    font-size: 16px;
    line-height: 26px;
  }
  .product_details .details .content .explain {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .container_padding {
    padding: 30px 0;
  }
  .title {
    font-size: 18px;
    line-height: 28px;
  }
  .primaryBtn {
    height: 44px;
    line-height: 44px;
    margin-top: 20px;
    min-width: 140px;
  }
  .primaryBtn .link {
    font-size: 14px;
  }
  .main_top {
    margin-top: 20px;
  }
  .article {
    flex-wrap: wrap;
    padding: 20px;
  }
  .article .up {
    width: 100%;
    flex: none;
  }
  .article .return {
    margin-top: 10px;
    width: 100%;
    text-align: right;
  }
  .article .return .link {
    height: 44px;
    line-height: 44px;
    font-size: 14px;
  }
  .footer .content .center {
    padding-left: 0;
  }
  .footer .copyright .link {
    padding: 10px;
  }
  .serve .content {
    min-height: 380px;
    padding: 80px 20px 0;
  }
  .serve .content .lead {
    font-size: 14px;
    line-height: 24px;
  }
  .about .main {
    margin-top: 30px;
  }
  .about .main .content {
    margin-bottom: 30px;
    padding-right: 0;
  }
  .about .main .content .title {
    font-size: 16px;
    line-height: 26px;
  }
  .about .main .content .lead {
    font-size: 14px;
    line-height: 24px;
  }
  .advantage .main .list .li {
    padding: 12px 0;
  }
  .advantage .main .list .li .name {
    margin-bottom: 0;
    font-size: 16px;
  }
  .partner .list .cover_box {
    margin-bottom: 20px;
  }
  .about_banner {
    padding: 30px 0;
  }
  .about_banner .main .content .desc {
    font-size: 16px;
    line-height: 26px;
  }
  .about_banner .main .content .child {
    padding: 20px;
  }
  .development_history .main .swiper_development_history {
    height: 600px;
  }
  .development_history .main .swiper_development_history .item {
    margin-bottom: 10px;
  }
  .development_history .main .swiper_development_history .item .date {
    width: 70px;
  }
  .development_history .main .swiper_development_history .item .content {
    padding-left: 30px;
  }
  .development_history .main .swiper_development_history .item .content .lead {
    margin-top: 4px;
  }
  .development_history .main .swiper_development_history .dev_line {
    left: 70px;
  }
  .news .menu {
    margin-bottom: 20px;
  }
  .news .menu .ul {
    flex-wrap: wrap;
  }
  .news .menu .ul .li {
    margin-right: 0;
  }
  .news .menu .ul .li .link {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding: 0 14px;
  }
  .introduction {
    padding: 0;
  }
  .information_list {
    padding: 15px 0;
  }
  .information_list .item {
    margin-bottom: 15px;
  }
  .case_banner {
    height: 470px;
  }
  .case_banner .content .title {
    font-size: 26px;
    line-height: 36px;
  }
  .case_banner .content .form_box {
    width: 90%;
  }
  .case_banner .advantage_banner .item .cover_box .cover {
    height: 74px;
  }
  .case_category .main .content .details .name {
    font-size: 16px;
    line-height: 26px;
  }
  .product_details .details .content {
    padding: 20px 10px;
  }
  .product_details .details .content .explain {
    padding: 0;
  }
  .product_details .details .content .explain .name {
    font-size: 20px;
  }
  .product_details .details .details_main {
    padding: 30px 0;
  }
  .product_details .details .details_main .cover_box {
    padding: 14px 0;
  }
  .product_details .details .details_main ._name {
    font-size: 16px;
    line-height: 26px;
  }
}
