@media screen and (max-width: 1510px) {
  .index_swiper .item .content {
    width: 94%;
  }
}
@media screen and (max-width: 1400px) {
  .banner .content {
    width: 100%;
  }
}
@media screen and (max-width: 1280px) {
  .header .content .wrap .right .nav .li .box .link .head_title {
    padding: 0 10px;
  }
}
@media screen and (max-width: 1150px) {
  .header .content .wrap .right .nav .li .box .link .head_title {
    font-size: 14px;
  }
  .header .content .wrap .right .nav .li .category_nav .category_list {
    padding: 20px;
  }
  .header .content .wrap .right .search {
    margin-left: 10px;
  }
  .header .content .wrap .right .search .input_wrap {
    min-width: 120px;
  }
}
@media screen and (max-width: 992px) {
  .container_padding {
    padding: 40px 0;
  }
  .container_main {
    padding-top: 20px;
  }
  .col-xs-12 {
    padding: 0 10px;
  }
  .col-xs-6 {
    padding: 0 10px;
  }
  .title {
    font-size: 20px;
  }
  .lead {
    font-size: 14px;
  }
  .head {
    width: 100%;
  }
  .head .title {
    font-size: 20px;
  }
  .head .sub_head {
    font-size: 16px;
  }
  .head .sub_title {
    font-size: 18px;
  }
  .head .arrow .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 14px;
  }
  .common_head .sub_head {
    font-size: 18px;
  }
  .tabs {
    padding: 0 0 20px;
  }
  .tabs .item {
    padding: 0 7px;
    margin-bottom: 16px;
  }
  .tabs .item .link {
    width: auto;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    padding: 0 20px;
  }
  .modal .modal-dialog {
    margin-top: 100px;
  }
  .modal .modal-dialog .modal-body .pad_bottom {
    padding-bottom: 10px;
  }
  .banner .content .team_title {
    font-size: 16px;
    max-width: 100%;
    padding: 0 20px;
  }
  .banner .content .wrap {
    width: 100%;
  }
  .banner .content .wrap .title {
    font-size: 20px;
    line-height: 1.7;
  }
  .banner .content .wrap .crumbs .list .box {
    font-size: 14px;
  }
  .banner .content .wrap .crumbs .list .box .link {
    font-size: 14px;
  }
  .banner .content .wrap .crumbs .list .box .link .iconfont {
    font-size: 16px;
  }
  .banner .content .wrap .page_tabs {
    padding-top: 20px;
    flex-wrap: wrap;
  }
  .banner .content .wrap .page_tabs .item {
    margin-bottom: 10px;
  }
  .banner .content .wrap .page_tabs .item .link {
    min-width: auto;
    padding: 10px 30px;
  }
  .search .head .title {
    font-size: 38px;
  }
  .search .search_form {
    margin-top: 20px;
  }
  .search .search_form .content {
    width: 84%;
  }
  .search .search_form .content .box .input {
    font-size: 16px;
  }
  .header .content .wrap .right .nav {
    display: none;
  }
  .header .content .wrap .right .function {
    align-items: center;
  }
  .header .content .wrap .right .function .search {
    margin-top: 10px;
  }
  .header .content .wrap .right .function .menu {
    margin-left: 16px;
    display: block;
  }
  .index_swiper .item .content .wrap .title {
    font-size: 58px;
  }
  .index_swiper .item .content .wrap .sub_head {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .about_us .title_bg {
    top: -3%;
    right: -30px;
    font-size: 110px;
  }
  .about_us .col_md {
    padding: 0 10px;
  }
  .about_us .space_between {
    height: 4px;
  }
  .about_us .content {
    margin-bottom: 20px;
  }
  .about_us .cover_box {
    margin-bottom: 20px;
  }
  .about_us .cover_box .play {
    opacity: 1;
  }
  .about_us .col_md:last-child {
    min-height: 62px;
  }
  .choose_us .choose_menus_swiper .item {
    padding: 0;
  }
  .choose_us .new_product .space_between {
    height: 10px;
  }
  .choose_us .new_product .new_product_content {
    margin-bottom: 20px;
  }
  .choose_us .new_product .new_product_content .item .content {
    padding: 0;
  }
  .choose_us .new_product .new_product_content .item .content .title {
    margin-bottom: 0;
  }
  .custom_research .main .head .title {
    font-size: 24px;
  }
  .custom_research .main .head .sub_head {
    font-size: 14px;
  }
  .custom_research .main .wrap {
    padding: 0;
  }
  .custom_research .main .wrap .box {
    padding: 20px 10px;
  }
}
@media screen and (max-width: 767px) {
  .container_padding {
    padding: 20px 0;
  }
  .container_main {
    padding-top: 10px;
  }
  .row {
    margin: 0 -5px;
  }
  .col-xs-12,
  .col-xs-6 {
    padding: 0 5px;
  }
  .title {
    font-size: 18px;
  }
  .title_line {
    font-size: 20px;
  }
  .title_line::after {
    height: 6px;
  }
  .head {
    padding: 10px 0;
  }
  .head .sub_title {
    padding: 0;
  }
  .common_head .sub_head {
    font-size: 16px;
  }
  .contact_btn_wrap {
    padding: 20px 0;
  }
  .contact_btn_wrap .btn {
    width: 45%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    background: #000;
    color: #fff;
  }
  .contact_btn_wrap .btn:first-child {
    margin-right: 20px;
  }
  .more .box .link {
    width: 170px;
    min-width: auto;
    padding: 0 20px;
    height: 44px;
    line-height: 44px;
    display: flex;
    justify-content: space-between;
  }
  .more .box .link .lead {
    position: initial;
    transform: translate(0);
  }
  .more .box .link .icon {
    position: initial;
    transform: translate(0);
    opacity: 1;
  }
  .article {
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 10px;
  }
  .article .up {
    width: 100%;
    flex: none;
    padding: 0;
  }
  .article .up .lead {
    text-indent: 0;
    padding: 0;
  }
  .article .up .link {
    padding: 0;
    width: 100%;
    line-height: 1.8;
    font-size: 13px;
  }
  .article .return {
    margin-top: 10px;
    width: 100%;
    text-align: right;
  }
  .article .return .link {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
  .tabs {
    padding: 10px 0 0;
  }
  .tabs .tabs_wrap {
    justify-content: start;
  }
  .tabs .tabs_wrap .item {
    padding: 0 10px;
  }
  .tabs .tabs_wrap .item .link {
    height: 40px;
    line-height: 40px;
  }
  .tabs .tabs_wrap .item .link .iconfont,
  .tabs .tabs_wrap .item .link .text {
    font-size: 13px;
  }
  .tabs .tabs_wrap .item .link .iconfont {
    font-size: 16px;
  }
  .modal .modal-dialog .modal-body {
    padding: 7px;
  }
  .search .head .title {
    font-size: 38px;
  }
  .search .search_form {
    margin-top: 20px;
  }
  .search .search_form .content {
    width: 84%;
  }
  .search .search_form .content .box .input {
    font-size: 16px;
  }
  .header .content .wrap {
    height: 88px;
  }
  .header .content .wrap .right .search {
    display: none;
  }
  .header .content .wrap .right .function {
    padding-right: 6px;
  }
  .header .content .h5_nav {
    top: 88px;
  }
  .header_height {
    height: 88px;
  }
  .service_introduction {
    padding: 20px 0;
  }
  .line {
    padding: 10px 0;
  }
  .index_swiper .item .content .wrap {
    width: 100%;
  }
  .index_swiper .item .content .wrap .title {
    font-size: 48px;
    margin-bottom: 10px;
  }
  .index_swiper .item .content .wrap .title .ide {
    font-size: 34px;
  }
  .index_swiper .item .content .wrap .sub_head {
    font-size: 16px;
  }
  .index_swiper .item .content .wrap .shadow_text {
    width: 100%;
    font-size: 140px;
  }
  .about_us .title_bg {
    top: 0;
    font-size: 64px;
  }
  .about_us .cover_box {
    margin-bottom: 10px;
  }
  .about_us .content {
    width: 100%;
  }
  .about_us .content .title {
    font-size: 24px;
  }
  .about_us .content .sub_head {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .about_us .col_md:last-child .more_wrap {
    right: 10px;
    width: 100%;
  }
  .choose_us .space_between {
    display: none;
  }
  .choose_us .new_product .new_product_content {
    margin-bottom: 10px;
  }
  .choose_us .new_product .new_product_content .item .content {
    padding: 10px 10px 0;
  }
  .choose_us .new_product .new_product_content .item .content .title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .choose_us .new_product .news_right {
    padding: 0;
  }
  .choose_us .new_product .news_right .new_product_cover {
    padding: 0 10px;
  }
  .choose_us .new_product .news_right .direction {
    display: none;
  }
  .custom_research .main .wrap .box {
    padding: 5px 10px;
  }
  .custom_research .main .wrap .box .custom_research_cover {
    margin-bottom: 20px;
  }
  .custom_research .main .wrap .box .custom_research_cover .custom_research_cover_item .cover {
    height: auto;
    min-height: 220PX;
  }
  .custom_research .main .wrap .box .space_between {
    display: none;
  }
  .custom_research .main .wrap .box .col_md {
    padding: 0;
  }
  .custom_research .main .wrap .box .serial_number_swiper {
    height: 280px;
  }
  .custom_research .main .wrap .box .serial_number_swiper .serial_item .serial_number {
    width: 44px;
    height: 44px;
    line-height: 44px;
  }
  .custom_research .main .wrap .box .custom_research_content {
    height: auto;
  }
  .custom_research .main .wrap .box .custom_research_content .content {
    padding-top: 10px;
    height: auto;
  }
  .custom_research .main .wrap .box .custom_research_content .content .name {
    font-size: 18px;
  }
  .custom_research .main .wrap .box .custom_research_content .content .name_line {
    width: 60%;
  }
  .custom_research .main .wrap .box .custom_research_content .content .lead {
    font-size: 14px;
    margin: 0;
  }
  .custom_research .main .wrap .box .custom_journey {
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
  }
  .custom_research .main .wrap .box .custom_journey .link {
    font-size: 16px;
    line-height: 50px;
  }
  .stories .head .title {
    font-size: 16px;
  }
  .stories .head .sub_head {
    font-size: 14px;
  }
  .stories .title_bg {
    top: 2%;
    font-size: 80px;
  }
  .recommend_news .space_between {
    display: none;
  }
  .recommend_news .main .comment_news_swiper .item .link {
    padding: 20px;
  }
  .recommend_news .main .comment_news_swiper .item .link .name {
    font-size: 18px;
  }
  .recommend_news .main .more .box {
    width: 100%;
  }
  .recommend_news .main .more .box .link {
    width: 100%;
    justify-content: center;
  }
}
