@media screen and (max-width: 1510px) {
  .index_swiper .item .content {
    width: 94%;
  }
}
@media screen and (max-width: 1400px) {
  .banner .content {
    width: 100%;
  }
}
@media screen and (max-width: 1280px) {
  .header .content .wrap .right .nav .li .box .link .head_title {
    padding: 0 10px;
  }
}
@media screen and (max-width: 1150px) {
  .header .content .wrap .right .nav .li .box .link .head_title {
    font-size: 14px;
  }
  .header .content .wrap .right .nav .li .category_nav .category_list {
    padding: 20px;
  }
  .header .content .wrap .right .search {
    margin-left: 10px;
  }
  .header .content .wrap .right .search .input_wrap {
    min-width: 120px;
  }
}
@media screen and (max-width: 992px) {
  .container_padding {
    padding: 40px 0;
  }
  .container_main {
    padding-top: 20px;
  }
  .col-xs-12 {
    padding: 0 10px;
  }
  .col-xs-6 {
    padding: 0 10px;
  }
  .title {
    font-size: 20px;
  }
  .lead {
    font-size: 14px;
  }
  .head {
    width: 100%;
  }
  .head .title {
    font-size: 20px;
  }
  .head .sub_head {
    font-size: 16px;
  }
  .head .sub_title {
    font-size: 18px;
  }
  .head .arrow .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 14px;
  }
  .tabs {
    padding: 0 0 20px;
  }
  .tabs .item {
    padding: 0 7px;
    margin-bottom: 16px;
  }
  .tabs .item .link {
    width: auto;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    padding: 0 20px;
  }
  .modal .modal-dialog {
    margin-top: 100px;
  }
  .modal .modal-dialog .modal-body .pad_bottom {
    padding-bottom: 10px;
  }
  .banner .content .team_title {
    font-size: 16px;
    max-width: 100%;
    padding: 0 20px;
  }
  .banner .content .wrap {
    width: 100%;
  }
  .banner .content .wrap .title {
    font-size: 20px;
    line-height: 1.7;
  }
  .banner .content .wrap .crumbs .list .box {
    font-size: 14px;
  }
  .banner .content .wrap .crumbs .list .box .link {
    font-size: 14px;
  }
  .banner .content .wrap .crumbs .list .box .link .iconfont {
    font-size: 16px;
  }
  .banner .content .wrap .page_tabs {
    padding-top: 20px;
    flex-wrap: wrap;
  }
  .banner .content .wrap .page_tabs .item {
    margin-bottom: 10px;
  }
  .banner .content .wrap .page_tabs .item .link {
    min-width: auto;
    padding: 10px 30px;
  }
  .search .head .title {
    font-size: 38px;
  }
  .search .search_form {
    margin-top: 20px;
  }
  .search .search_form .content {
    width: 84%;
  }
  .search .search_form .content .box .input {
    font-size: 16px;
  }
  .header .content .wrap .right .nav {
    display: none;
  }
  .header .content .wrap .right .function {
    align-items: center;
  }
  .header .content .wrap .right .function .search {
    margin-top: 10px;
  }
  .header .content .wrap .right .function .menu {
    margin-left: 16px;
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .container_padding {
    padding: 20px 0;
  }
  .container_main {
    padding-top: 10px;
  }
  .row {
    margin: 0 -5px;
  }
  .col-xs-12,
  .col-xs-6 {
    padding: 0 5px;
  }
  .title {
    font-size: 18px;
  }
  .title_line {
    font-size: 20px;
  }
  .title_line::after {
    height: 6px;
  }
  .head {
    padding: 10px 0;
  }
  .head .sub_title {
    padding: 0;
  }
  .contact_btn_wrap {
    padding: 20px 0;
  }
  .contact_btn_wrap .btn {
    width: 45%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    background: #000;
    color: #fff;
  }
  .contact_btn_wrap .btn:first-child {
    margin-right: 20px;
  }
  .more .box .link {
    width: 150px;
    min-width: auto;
    padding: 0 10px;
    height: 44px;
    line-height: 44px;
    display: flex;
    justify-content: space-between;
  }
  .more .box .link .lead {
    position: initial;
    transform: translate(0);
  }
  .more .box .link .icon {
    position: initial;
    transform: translate(0);
    opacity: 1;
  }
  .article {
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 10px;
  }
  .article .up {
    width: 100%;
    flex: none;
    padding: 0;
  }
  .article .up .lead {
    text-indent: 0;
    padding: 0;
  }
  .article .up .link {
    padding: 0;
    width: 100%;
    line-height: 1.8;
    font-size: 13px;
  }
  .article .return {
    margin-top: 10px;
    width: 100%;
    text-align: right;
  }
  .article .return .link {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
  .tabs {
    padding: 10px 0 0;
  }
  .tabs .tabs_wrap {
    justify-content: start;
  }
  .tabs .tabs_wrap .item {
    padding: 0 10px;
  }
  .tabs .tabs_wrap .item .link {
    height: 40px;
    line-height: 40px;
  }
  .tabs .tabs_wrap .item .link .iconfont,
  .tabs .tabs_wrap .item .link .text {
    font-size: 13px;
  }
  .tabs .tabs_wrap .item .link .iconfont {
    font-size: 16px;
  }
  .modal .modal-dialog .modal-body {
    padding: 7px;
  }
  .search .head .title {
    font-size: 38px;
  }
  .search .search_form {
    margin-top: 20px;
  }
  .search .search_form .content {
    width: 84%;
  }
  .search .search_form .content .box .input {
    font-size: 16px;
  }
  .header .content .wrap {
    height: 88px;
  }
  .header .content .wrap .right .search {
    display: none;
  }
  .header .content .wrap .right .function {
    padding-right: 6px;
  }
  .header .content .h5_nav {
    top: 88px;
  }
  .service_introduction {
    padding: 20px 0;
  }
  .line {
    padding: 10px 0;
  }
}
