* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.h1,
.h2,
.h3,
.h4 {
  margin: 0;
  padding: 0;
}
.over1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.over2 {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.over3 {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.over4 {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}
.over5 {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
}
.over6 {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container_padding {
  padding: 70px 0;
}
.container_main {
  padding-top: 50px;
}
ul,
li {
  list-style: none;
}
/* 定义字体 */
@font-face {
  font-family: 'MyFont';
  /* 自定义字体名称 */
  src: url('../font-family/Daikoku.ttf') format('woff2'), url('../font-family/Daikoku.ttf') format('woff');
  font-weight: 400;
  /* 字重 */
  font-style: normal;
  /* 样式 */
}
html,
body {
  overflow-x: hidden;
  min-height: 100vh;
  color: #333;
  font-family: MyFont, Inter, sans-serif, PingFang SC, Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial;
  font-size: 14px;
  line-height: 1.6;
}
a,
.link {
  display: inline-block;
  width: 100%;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
img {
  vertical-align: middle;
  object-fit: cover;
}
.cover_box {
  overflow: hidden;
}
.cover_box .cover {
  width: 100%;
  transition: 0.4s ease-in;
}
.box_shadow {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
}
.box_radius {
  border-radius: 4px;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  opacity: 0.2;
}
body::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
.container {
  max-width: 1580px;
  width: 100%;
  margin: auto;
  padding: 0 5px;
}
.btn:focus {
  border: none !important;
  outline: none !important;
}
.layui-input:focus {
  border-color: #eee !important;
  box-shadow: none;
}
.layui-textarea:focus {
  border-color: #eee !important;
  box-shadow: none;
}
.btn:focus {
  border: none !important;
  outline: none !important;
}
.layui-form-select dl {
  padding: 0;
}
.layui-form-select dd {
  color: #000;
}
.layui-form-select dd.layui-this {
  color: #1534BD !important;
}
.title {
  font-size: 28px;
  font-weight: 600;
}
.lead {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 500;
}
.img_bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.pointer {
  cursor: pointer;
}
.inline_block {
  display: inline-block;
}
.animate {
  transition: 0.6s ease;
}
.justify_space {
  display: flex;
  justify-content: space-between;
}
.display_flex {
  display: flex;
  align-items: center;
}
.justify_end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.justify_column {
  display: flex;
  flex-direction: column;
}
.justify_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  padding: 0;
  margin: 0;
}
.space_between {
  height: 24px;
}
.head {
  padding: 10px;
  text-align: center;
}
.head .title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
}
.head .sub_head {
  font-size: 16px;
  line-height: 1.8;
}
.head .sub_title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}
.head .arrow .icon {
  width: 70px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  overflow: hidden;
  border-radius: 45px;
  margin-left: 30px;
  cursor: pointer;
  user-select: none;
  border: 1px solid #fff;
}
.head .arrow .icon .iconfont {
  font-size: 20px;
  color: #fff;
}
.head .arrow .icon:hover {
  background: #fff;
}
.head .arrow .icon:hover .iconfont {
  color: #000;
}
.common_head .sub_head {
  color: #B7B7B7;
  font-size: 24px;
  font-weight: 500;
}
.recommend_common_swiper .swiper-button-prev {
  left: 8px;
}
.recommend_common_swiper .swiper-button-next {
  right: 8px;
}
.recommend_common_swiper .swiper-button-prev,
.recommend_common_swiper .swiper-button-next {
  background: none;
  width: auto;
}
.recommend_common_swiper .swiper-button-prev::after,
.recommend_common_swiper .swiper-button-next::after {
  display: none;
}
.recommend_common_swiper .swiper-button-prev .icon,
.recommend_common_swiper .swiper-button-next .icon {
  width: 44px;
  height: 44px;
  border-radius: 4px;
  text-align: center;
  line-height: 44px;
  transition: 0.3s ease;
  opacity: 0.5;
}
.recommend_common_swiper .swiper-button-prev .icon .iconfont,
.recommend_common_swiper .swiper-button-next .icon .iconfont {
  font-size: 22px;
  font-weight: 600;
  color: #E2E2E2;
}
.recommend_common_swiper .swiper-button-prev .icon:hover,
.recommend_common_swiper .swiper-button-next .icon:hover {
  background: linear-gradient(103.78deg, #1a82da 0%, #1627a9 100%);
}
.recommend_common_swiper .swiper-button-prev .icon:hover .iconfont,
.recommend_common_swiper .swiper-button-next .icon:hover .iconfont {
  color: #fff;
}
.recommend_common_swiper:hover .swiper-button-next .icon {
  opacity: 1;
  transform: translateX(10px);
}
.recommend_common_swiper:hover .swiper-button-prev .icon {
  opacity: 1;
  transform: translateX(-10px);
}
.recommend_common_swiper .swiper-pagination .swiper-pagination-bullet {
  width: 40px;
  height: 4px;
  border-radius: 4px;
}
.recommend_common_swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #1534BD;
}
.title_line {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  z-index: 3;
  color: #000;
}
.title_line::after {
  content: '';
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 10px;
  background: #C1D7E2;
  z-index: -1;
}
.line {
  padding: 18px 0;
  position: relative;
}
.line .t_l {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 88px;
  height: 8px;
  border-radius: 4px;
  background: #1534BD;
}
.line::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}
.paging .nav_box {
  text-align: center;
}
.paging .nav_box .pagination {
  display: flex;
  justify-content: center;
}
.paging .nav_box .pagination li {
  display: inline-block;
  margin: 0 3px;
}
.paging .nav_box .pagination li a {
  color: #1534BD;
}
.paging .nav_box .pagination .active a {
  background-color: #1534BD;
  border-color: #1534BD;
  color: #fff;
}
.banner {
  position: relative;
}
.banner .cover {
  min-height: 30vh;
}
.banner .content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1400px;
}
.banner .content .wrap {
  width: 1000px;
  padding: 0 10px;
}
.banner .content .title {
  font-size: 46px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}
.banner .content .team_title {
  text-align: center;
  max-width: 50%;
  margin: auto;
  font-size: 20px;
  color: #fff;
  line-height: 1.7;
  font-weight: 500;
}
.banner .content .page_tabs {
  padding: 40px 0 0;
}
.banner .content .page_tabs .item {
  padding-right: 20px;
}
.banner .content .page_tabs .item .link {
  min-width: 200px;
  text-align: center;
  width: auto;
  padding: 14px 30px;
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
  border-radius: 50px;
  font-weight: 600;
  border: 1px solid transparent;
}
.banner .content .page_tabs .active .link {
  border-color: #fff;
  background: #B7B7B7;
}
.crumbs .list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.crumbs .list .icon-shouye {
  font-size: 24px;
  margin-right: 4px;
  color: #fff;
}
.crumbs .list span,
.crumbs .list .link,
.crumbs .list .box {
  line-height: 2;
}
.crumbs .list .arrow {
  padding: 2px 4px 0;
  color: #fff;
}
.crumbs .link,
.crumbs .box {
  color: #fff;
  font-size: 20px;
}
.contact_btn_wrap {
  padding: 30px 0 10px;
}
.contact_btn_wrap .btn {
  display: inline-block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: 40px;
  padding: 0;
  font-size: 16px;
  background: #F2F2F2;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 500;
}
.contact_btn_wrap .btn .text {
  padding: 0 4px;
}
.contact_btn_wrap .btn:hover {
  background: #1534BD;
  color: #fff;
}
.contact_btn_wrap .btn:first-child {
  margin-right: 24px;
}
.modal {
  padding: 0 !important;
  user-select: none;
}
.modal .sub_head {
  font-size: 14px;
  line-height: 24px;
  color: #B4B4B4;
  margin: 10px 0 0;
}
.modal .modal-dialog {
  margin-top: 200px;
}
.modal .modal-body {
  padding: 20px;
}
.modal .clear {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding: 10px 15px 10px 10px;
}
.modal .clear .icon {
  display: inline-block;
}
.modal .clear .icon .iconfont {
  font-size: 22px;
}
.modal .main {
  padding: 50px 20px 20px;
}
.modal .main .video {
  width: 100%;
}
.tabs {
  padding: 0 10px 50px;
}
.tabs .tabs_wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tabs .item {
  padding: 0 14px;
  margin-bottom: 20px;
}
.tabs .item .link {
  border-radius: 45px;
  padding: 0 24px;
  background: #F6F6F6;
  height: 50px;
  text-align: center;
  line-height: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.tabs .item .link .iconfont,
.tabs .item .link .text {
  font-size: 18px;
  padding: 0 2px;
  white-space: nowrap;
}
.tabs .item .link .iconfont {
  font-size: 24px;
}
.tabs .active .link {
  background: #1534BD;
}
.tabs .active .link .iconfont,
.tabs .active .link .text {
  color: #fff;
}
.more {
  padding-top: 10px;
}
.more .box {
  display: inline-block;
}
.more .link {
  min-width: 190px;
  height: 46px;
  line-height: 46px;
  padding: 0 40px;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(103.78deg, #1a82da 0%, #1627a9 100%);
  width: auto;
  border-radius: 50px;
}
.more .link .iconfont {
  margin-left: 10px;
  font-size: 20px;
}
.author {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}
.author .text {
  font-size: 16px;
  color: #B5B5B5;
  padding: 0 14px;
}
.article {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 20px;
  background: #1534BD;
}
.article .up {
  flex: 1;
  padding-right: 20px;
}
.article .up .lead {
  text-align: left;
}
.article .up .lead .link {
  padding: 4px 0;
  width: auto;
  color: #fff;
  text-indent: 0;
}
.article .return {
  flex: none;
  width: 160px;
}
.article .return .link {
  height: 54px;
  line-height: 54px;
  background: #fff;
  border-radius: 45px;
  color: #1534BD;
  font-size: 16px;
  text-align: center;
  color: #B7B7B7;
}
.search .main {
  margin: auto;
  padding: 100px 0 0;
}
.search .head .title {
  color: #000;
}
.search .search_form {
  margin-top: 60px;
}
.search .search_form .content {
  width: 60%;
  margin: auto;
}
.search .search_form .content .box {
  display: flex;
  align-items: center;
}
.search .search_form .content .input {
  font-size: 20px;
  height: 60px;
  line-height: 60px;
}
.search .search_form .content .input:focus {
  box-shadow: none;
}
.search .search_form .content .submit_btn {
  width: 100px;
  height: 60px;
  background: #1534BD;
  color: #fff;
  font-size: 24px;
  padding: 0;
  border: none;
}
.search .search_form .content .submit_btn .iconfont {
  font-size: 28px;
  color: #fff;
}
.search .search_form .content .note {
  margin-top: 10px;
}
.search .search_form .content .note .link {
  width: auto;
  line-height: 1.4;
  font-size: 14px;
  padding: 10px 0;
  white-space: nowrap;
  margin-right: 20px;
  color: #1534BD;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #fff;
}
.header .content {
  width: 100%;
  padding: 0 5px;
  position: relative;
}
.header .content .wrap {
  margin: auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .content .wrap .logo {
  width: 115px;
  flex: none;
  padding: 10px 0;
}
.header .content .wrap .logo .link,
.header .content .wrap .logo .cover {
  width: 100%;
  object-fit: contain;
}
.header .content .wrap .logo .cover {
  max-height: 60px;
}
.header .content .wrap .right {
  flex: auto;
}
.header .content .wrap .right .nav {
  justify-content: center;
}
.header .content .wrap .right .nav .li {
  height: 100px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}
.header .content .wrap .right .nav .li .head_title {
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: 0.1px;
  color: #000;
}
.header .content .wrap .right .nav .li .head_title span {
  position: relative;
}
.header .content .wrap .right .nav .li .head_title span::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  border-radius: 6px;
  background: #fff;
  overflow: hidden;
  transition: 0.4s ease;
  opacity: 0;
}
.header .content .wrap .right .nav .li .head_title .iconfont {
  display: inline-block;
}
.header .content .wrap .right .nav .li .child_nav {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 120px;
  width: auto;
  padding: 10px 24px;
  display: none;
  background: rgba(255, 255, 255, 0.8);
}
.header .content .wrap .right .nav .li .child_nav .lis .link {
  padding: 14px 0;
  font-size: 14px;
  line-height: normal;
  font-weight: 600;
  white-space: nowrap;
  justify-content: start;
}
.header .content .wrap .right .nav .li .child_nav .lis .link:hover {
  color: #000;
}
.header .content .wrap .right .nav .li .child_nav .lis:last-child {
  border-bottom: none;
}
.header .content .wrap .right .nav .li .category_nav {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: none;
}
.header .content .wrap .right .nav .li .category_nav .category_list {
  padding: 30px 100px 20px;
}
.header .content .wrap .right .nav .li .category_nav .category_list .category_li {
  padding: 10px;
}
.header .content .wrap .right .nav .li .category_nav .category_list .category_li .link {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  letter-spacing: 0.2px;
}
.header .content .wrap .right .nav .li:hover .child_nav {
  display: block;
}
.header .content .wrap .right .nav .li:hover .category_nav {
  display: block;
}
.header .content .wrap .right .nav .active .head_title {
  color: #1534BD;
}
.header .content .wrap .right .nav .active .head_title span::before {
  background: #1534BD;
  opacity: 1;
}
.header .content .wrap .right .search {
  margin-left: 30px;
}
.header .content .wrap .right .search .form .select_box {
  width: 108px;
  flex: none;
}
.header .content .wrap .right .search .form .select_box .layui-form-select {
  color: #fff;
}
.header .content .wrap .right .search .form .select_box .layui-input {
  height: 42px;
  background: linear-gradient(103.78deg, #1a82da 0%, #1627a9 100%);
  box-shadow: none;
  border: none;
  padding: 0 10px;
  border-radius: 4px 0 0 4px;
  color: #fff;
}
.header .content .wrap .right .search .form .select_box .layui-input::placeholder {
  color: #fff;
}
.header .content .wrap .right .search .form .select_box .layui-edge {
  border-top-color: #fff;
}
.header .content .wrap .right .search .form .input_wrap {
  min-width: 180px;
  flex: 1;
  border: 2px solid #1534BD;
  border-left: none;
  border-radius: 0 4px 4px 0;
}
.header .content .wrap .right .search .form .input_wrap .input_box {
  flex: 1;
}
.header .content .wrap .right .search .form .input_wrap .input_box .input {
  padding: 0 12px;
  border: none;
  box-shadow: none;
}
.header .content .wrap .right .search .form .input_wrap .input_box .input::placeholder {
  color: #CECECE;
}
.header .content .wrap .right .search .form .input_wrap .submit_btn {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0 10px;
}
.header .content .wrap .right .search .form .input_wrap .submit_btn .iconfont {
  font-size: 22px;
  color: #1534BD;
}
.header .content .wrap .right .function {
  margin-left: 10px;
}
.header .content .wrap .right .function .item {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-left: 16px;
  cursor: pointer;
  border-radius: 45px;
  background: linear-gradient(103.78deg, #1a82da 0%, #1627a9 100%);
}
.header .content .wrap .right .function .item .link {
  color: #fff;
}
.header .content .wrap .right .function .item .iconfont {
  font-size: 20px;
}
.header .content .wrap .right .function .item:hover {
  transform: translateY(-4px);
}
.header .content .wrap .right .function .menu {
  cursor: pointer;
  width: 30px;
  height: 18px;
  position: relative;
  display: none;
  margin-left: 6px;
  user-select: none;
}
.header .content .wrap .right .function .menu .lis {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  transition: all 0.3s ease;
  border-radius: 2px;
  background: #1534BD;
  transform-origin: 50% 50%;
}
.header .content .wrap .right .function .menu .lis:nth-child(1) {
  top: 0;
}
.header .content .wrap .right .function .menu .lis:nth-child(2) {
  width: 60%;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
}
.header .content .wrap .right .function .menu .lis:nth-child(3) {
  top: 98%;
}
.header .content .wrap .right .function .active .lis:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.header .content .wrap .right .function .active .lis:nth-child(2) {
  display: none;
}
.header .content .wrap .right .function .active .lis:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.header .content .h5_nav {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  background: #fff;
  overflow: hidden;
  overflow-y: auto;
  z-index: 99;
  display: none;
}
.header .content .h5_nav .li {
  max-height: 400px;
  overflow-y: auto;
}
.header .content .h5_nav .li .head_title {
  padding: 14px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header .content .h5_nav .li .head_title .title,
.header .content .h5_nav .li .head_title .iconfont {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  display: inline-block;
}
.header .content .h5_nav .li .box {
  text-align: right;
}
.header .content .h5_nav .li .child {
  display: none;
}
.header .content .h5_nav .li .child .lis {
  text-align: right;
}
.header .content .h5_nav .li .child .lis .child_head_title {
  padding: 14px 10px 14px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header .content .h5_nav .li .child .lis .child_head_title .child_title,
.header .content .h5_nav .li .child .lis .child_head_title .iconfont {
  font-size: 16px;
  font-weight: 500;
  color: #616161;
}
.header .content .h5_nav .child_li .link {
  flex: 1;
  padding: 0 10px;
}
.header .content .h5_nav .child_li .spread {
  flex: none;
  width: 50px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  background: linear-gradient(103.78deg, #1a82da 0%, #1627a9 100%);
  border-radius: 3px;
  user-select: none;
}
.header .content .h5_nav .child_li .spread .iconfont {
  color: #fff;
}
.header .content .h5_nav .child_li .rotateIcon {
  transform: rotate(-180deg);
}
.header .content .h5_nav .li:last-child .head_title {
  border-bottom: none;
}
.header_height {
  height: 100px;
}
.index_swiper {
  overflow: hidden;
}
.index_swiper .item {
  position: relative;
}
.index_swiper .item .cover_box .cover {
  min-height: 500px;
}
.index_swiper .item .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1500px;
}
.index_swiper .item .content .wrap {
  width: 890px;
  padding: 40px 0;
  position: relative;
}
.index_swiper .item .content .title {
  font-size: 100px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
  justify-content: start;
}
.index_swiper .item .content .title .ide {
  font-size: 54px;
  margin-left: 10px;
}
.index_swiper .item .content .sub_head {
  font-size: 28px;
  line-height: 1.5;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 44px;
}
.index_swiper .item .content .sub_head span {
  opacity: 0.8;
}
.index_swiper .item .content .shadow_text {
  position: absolute;
  top: -80px;
  left: 0;
  font-weight: 900;
  font-size: 210px;
  line-height: 250px;
  color: #fff;
  opacity: 0.1;
  z-index: -1;
}
.index_swiper .swiper-pagination {
  bottom: 20px;
}
.index_swiper .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
}
.index_swiper .swiper-pagination .swiper-pagination-bullet-active {
  width: 30px;
  border-radius: 12px;
  background: #1534BD;
}
.more_wrap .wrap {
  padding: 20px 0;
  width: 80%;
}
.more_wrap .more_line {
  flex: 1;
  background: #dcdcdc;
  height: 1px;
  opacity: 0.8;
  margin-right: 30px;
}
.common_more {
  padding-top: 10px;
}
.common_more .box {
  display: inline-block;
}
.common_more .box .link {
  height: 46px;
  line-height: 46px;
  padding: 0 30px;
  color: #fff;
}
.common_more .box .link .name {
  font-size: 18px;
}
.common_more .box .link .icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: linear-gradient(96.87deg, #84c7ff 0%, #2d81ff 100%);
  filter: drop-shadow(-2px 2px 6px #185dc669);
  margin-left: 14px;
}
.common_more .box .link .icon .iconfont {
  font-size: 16px;
  color: #fff;
}
.learn_more {
  flex: none;
}
.learn_more .a_link {
  background: none;
}
.learn_more .a_link .text {
  font-size: 18px;
}
.learn_more .a_link .icon {
  width: 34px;
  height: 34px;
  background: linear-gradient(96.87deg, #1a82da 0%, #1627a9 100%);
  filter: drop-shadow(-2px 2px 6px #185dc669);
  border-radius: 50%;
  font-size: 28px;
  color: #fff;
  margin-left: 10px;
}
.learn_more .a_link:hover .text {
  color: #1534BD;
}
.about_us {
  position: relative;
}
.about_us .col_md {
  padding: 0;
}
.about_us .cover_box {
  position: relative;
  user-select: none;
}
.about_us .cover_box .play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.about_us .cover_box .play .icon {
  height: 100%;
}
.about_us .cover_box .play .icon .iconfont {
  font-size: 46px;
  color: #fff;
}
.about_us .cover_box:hover .play {
  opacity: 1;
}
.about_us .title_bg {
  position: absolute;
  top: 44%;
  right: -10%;
  font-weight: 800;
  font-size: 180px;
  color: #f8f8f8;
}
.about_us .content {
  width: 80%;
}
.about_us .content .title {
  font-size: 36px;
  margin-bottom: 10px;
}
.about_us .content .sub_head {
  color: #B7B7B7;
  font-weight: 500;
  font-size: 24px;
}
.about_us .content .lead {
  font-size: 16px;
  line-height: 1.8;
}
.about_us .col_md:last-child {
  min-height: 380px;
  position: relative;
}
.about_us .col_md:last-child .more_wrap {
  position: absolute;
  bottom: 0;
  right: 80px;
  width: 80%;
}
.about_us .col_md:last-child .comma {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 148px;
}
.choose_us .choose_menus_swiper .item {
  text-align: center;
  padding: 40px 0;
}
.choose_us .choose_menus_swiper .item::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -25%;
  width: 50%;
  height: 1px;
  background: #fff;
  opacity: 0.5;
}
.choose_us .choose_menus_swiper .item .icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  text-align: center;
  line-height: 64px;
  margin: auto;
  margin-bottom: 10px;
}
.choose_us .choose_menus_swiper .item .icon .iconfont {
  font-size: 32px;
  color: #fff;
}
.choose_us .choose_menus_swiper .item .name {
  color: #fff;
}
.choose_us .choose_menus_swiper .item:hover .icon {
  background: #fff;
}
.choose_us .choose_menus_swiper .item:hover .icon .iconfont {
  color: #000;
}
.choose_us .choose_menus_swiper .item:hover .name {
  transform: translateY(10px);
}
.choose_us .choose_menus_swiper .swiper-slide-active .icon {
  background: #fff;
}
.choose_us .choose_menus_swiper .swiper-slide-active .icon .iconfont {
  color: #000;
}
.choose_us .new_product_content .item .content {
  opacity: 0;
  padding-right: 50px;
}
.choose_us .new_product_content .item .content .title {
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 10px;
  line-height: 1.8;
  color: #fff;
}
.choose_us .new_product_content .item .content .lead,
.choose_us .new_product_content .item .content p {
  line-height: 1.8;
  font-weight: 500;
  color: #fff;
}
.choose_us .new_product_content .item .content .common_more .box .link {
  padding-left: 0;
}
.choose_us .new_product_content .swiper-slide-active .content {
  opacity: 1;
}
.choose_us .news_right {
  padding: 0 188px 0 0;
  position: relative;
}
.choose_us .news_right .new_product_cover .item {
  border-radius: 40px;
}
.choose_us .news_right .direction {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #fff;
  width: 74px;
  height: 360px;
  border-radius: 45px;
  overflow: hidden;
  padding: 10px 6px 0;
}
.choose_us .news_right .direction .target {
  height: 22%;
  background: linear-gradient(103.78deg, #1a82da 0%, #1627a9 100%);
  border-radius: 50%;
  margin-bottom: 10px;
  opacity: 0;
  transition: 0.4s ease-in;
  transform: scale(0.7);
}
.choose_us .news_right .direction .target:hover {
  opacity: 1;
  transform: scale(1);
}
.choose_us .news_right .direction .active {
  opacity: 1;
  transform: scale(1);
}
.custom_research {
  position: relative;
}
.custom_research .head {
  text-align: left;
}
.custom_research .head .sub_head {
  color: #B7B7B7;
  font-size: 24px;
  font-weight: 500;
}
.custom_research .main .title_bg {
  position: absolute;
  top: 6%;
  left: 0;
  font-size: 170px;
  color: #f7f7f7;
  font-weight: 800;
  z-index: -1;
  padding: 0 20px;
}
.custom_research .main .title_bg .text {
  letter-spacing: 2px;
  display: inline-block;
}
.custom_research .main .box {
  padding: 30px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0 0 90px #4a4a4a30;
  position: relative;
}
.custom_research .main .box .custom_research_cover {
  border-radius: 30px;
}
.custom_research .main .box .custom_research_cover .custom_research_cover_item .cover {
  height: 440px;
  border-radius: 30px;
  transform: scale(1.1);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 1.6s ease-in-out;
}
.custom_research .main .box .custom_research_cover .swiper-slide-active .cover {
  transform: scale(1);
  opacity: 1;
}
.custom_research .main .box .custom_research_content {
  height: 440px;
}
.custom_research .main .box .custom_research_content .content {
  height: 440px;
  justify-content: center;
  padding: 0 10px;
}
.custom_research .main .box .custom_research_content .content .name {
  font-size: 22px;
  font-weight: 600;
}
.custom_research .main .box .custom_research_content .content .name_line {
  display: inline-block;
  width: 15%;
  background: linear-gradient(103.78deg, #1a82da 0%, #1627a9 100%);
  height: 4px;
  margin: 4px 0 10px;
  border-radius: 6px;
}
.custom_research .main .box .custom_research_content .content .lead {
  margin-top: 10px;
  line-height: 1.8;
  font-size: 18px;
}
.custom_research .main .box .serial_number_swiper {
  height: 360px;
}
.custom_research .main .box .serial_number_swiper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 80%;
  background: #E9E9E9;
}
.custom_research .main .box .serial_number_swiper .serial_number {
  width: 50px;
  height: 50px;
  background: #B3C6D6;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  margin: auto;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.custom_research .main .box .serial_number_swiper .active .serial_number {
  background: linear-gradient(103.78deg, #1a82da 0%, #1627a9 100%);
}
.custom_research .main .box .custom_journey {
  position: absolute;
  bottom: -30px;
  right: 50px;
  width: 420px;
  height: 74px;
  border-radius: 36.5px;
  background: linear-gradient(103.78deg, #1a82da 0%, #1627a9 100%);
  box-shadow: 0 0 15px #0000004f;
}
.custom_research .main .box .custom_journey .link {
  text-align: center;
  line-height: 74px;
  color: #fff;
  font-size: 22px;
}
.custom_research .main .box .custom_journey:hover {
  transform: scale(1.05);
}
.stories {
  position: relative;
}
.stories .title_bg {
  position: absolute;
  top: 2%;
  right: 0;
  font-size: 170px;
  color: #f7f7f7;
  font-weight: 800;
  z-index: -1;
  padding: 0 20px;
}
.stories .title_bg .text {
  letter-spacing: 2px;
  display: inline-block;
}
.recommend_news {
  position: relative;
}
.recommend_news .title_bg {
  position: absolute;
  bottom: 2%;
  left: 0;
  font-size: 170px;
  color: #f7f7f7;
  font-weight: 800;
  z-index: -1;
  padding: 0 20px;
}
.recommend_news .title_bg .text {
  letter-spacing: 2px;
  display: inline-block;
}
.recommend_news:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, #196acd 0%, #196acd00 100%);
  opacity: 0.1;
}
.recommend_news .head .sub_head {
  color: #B7B7B7;
}
.recommend_news .comment_news_swiper {
  padding: 4px 0;
}
.recommend_news .comment_news_swiper .item .link {
  background: #fff;
  padding: 40px;
  border-radius: 24px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  position: relative;
}
.recommend_news .comment_news_swiper .item .link .ide {
  justify-content: start;
  transform: translateX(-12px);
}
.recommend_news .comment_news_swiper .item .link .ide .iconfont {
  color: #1534BD;
  font-size: 38px;
}
.recommend_news .comment_news_swiper .item .link .ide .text {
  font-size: 18px;
  color: #000;
  transform: translateX(-8px);
}
.recommend_news .comment_news_swiper .item .link .name {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
  color: #000;
  margin-bottom: 14px;
}
.recommend_news .comment_news_swiper .item .link .lead {
  font-size: 16px;
  color: #737373;
  line-height: 1.8;
  margin-bottom: 14px;
}
.recommend_news .comment_news_swiper .item .link .date {
  font-size: 16px;
  color: #737373;
  line-height: 1.8;
}
.recommend_news .comment_news_swiper .item .link .cover {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 180px;
}
.recommend_news .comment_news_swiper .item .link:hover {
  background: linear-gradient(166.97deg, #173cb4 0%, #1a80d9 100%);
}
.recommend_news .comment_news_swiper .item .link:hover .ide .iconfont,
.recommend_news .comment_news_swiper .item .link:hover .ide .text {
  color: #fff;
}
.recommend_news .comment_news_swiper .item .link:hover .name {
  color: #fff;
}
.recommend_news .comment_news_swiper .item .link:hover .lead {
  color: #fff;
}
.recommend_news .comment_news_swiper .item .link:hover .date {
  color: #fff;
}
.recommend_news .more {
  text-align: center;
}
.recommend_news .more .link {
  min-width: 230px;
}
.our_clients {
  position: relative;
}
.our_clients:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, #196acd 0%, #196acd00 100%);
  opacity: 0.1;
}
