@media screen and (max-width: 1300px) {
  .header .content .right .h_navbar .nav {
    padding-right: 10px;
  }
  .header .content .right .h_navbar .nav .li .link {
    padding: 0 12px;
  }
}
@media screen and (max-width: 1200px) {
  .header .content .left .search {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  body {
    padding-top: 64px;
  }
  .container_padding {
    padding: 60px 0;
  }
  .col-xs-12 {
    padding: 0 10px;
  }
  .col-xs-6 {
    padding: 0 10px;
  }
  .title {
    font-size: 20px;
    line-height: 30px;
  }
  .lead {
    font-size: 14px;
    line-height: 24px;
  }
  .header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .header .content .left .logo .cover {
    width: 64px;
  }
  .header .content .right .h_navbar {
    display: none;
  }
  .header .content .right .language .box {
    height: 40px;
    line-height: 40px;
  }
  .header .content .right .menu {
    display: block;
  }
  .child_header {
    display: none;
  }
  .footer .content .box {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .container_padding {
    padding: 30px 0;
  }
  .title {
    font-size: 18px;
    line-height: 28px;
  }
  .footer .copyright .link {
    padding: 10px;
  }
}
