@media screen and (max-width: 1510px) {
  .index_swiper .item .content {
    width: 94%;
  }
  .get_quote .main {
    width: 90%;
  }
}
@media screen and (max-width: 1400px) {
  .banner .content {
    width: 100%;
  }
}
@media screen and (max-width: 1280px) {
  .header .content .wrap .right .nav .li .box .link .head_title {
    padding: 0 14px;
  }
}
@media screen and (max-width: 1200px) {
  .header .content .wrap .logo {
    width: 150px;
  }
  .header .content .wrap .right .nav .li .box .link .head_title {
    padding: 0 10px;
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  .container_padding {
    padding: 40px 0;
  }
  .container_main {
    padding-top: 20px;
  }
  .col-xs-12 {
    padding: 0 10px;
  }
  .col-xs-6 {
    padding: 0 10px;
  }
  .title {
    font-size: 20px;
  }
  .lead {
    font-size: 14px;
  }
  .head {
    width: 100%;
    padding-bottom: 20px;
  }
  .head .title {
    font-size: 20px;
  }
  .head .sub_head {
    font-size: 16px;
  }
  .head .sub_title {
    font-size: 18px;
  }
  .head .arrow .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 14px;
  }
  .title_line {
    font-size: 24px;
  }
  .title_line::after {
    bottom: 1px;
  }
  .tabs {
    padding: 0 0 20px;
  }
  .tabs .item {
    padding: 0 7px;
    margin-bottom: 16px;
  }
  .tabs .item .link {
    width: auto;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    padding: 0 20px;
  }
  .modal .modal-dialog {
    margin-top: 100px;
  }
  .modal .modal-dialog .modal-body .pad_bottom {
    padding-bottom: 10px;
  }
  .search .head .title {
    font-size: 38px;
  }
  .search .search_form {
    margin-top: 20px;
  }
  .search .search_form .content {
    width: 84%;
  }
  .search .search_form .content .box .input {
    font-size: 16px;
  }
  .banner .content .wrap {
    width: 100%;
  }
  .banner .content .wrap .title {
    font-size: 20px;
    line-height: 1.7;
  }
  .banner .content .wrap .crumbs .list .box {
    font-size: 14px;
  }
  .banner .content .wrap .crumbs .list .box .link {
    font-size: 14px;
  }
  .banner .content .wrap .crumbs .list .box .link .iconfont {
    font-size: 16px;
  }
  .banner .content .wrap .page_tabs {
    padding-top: 20px;
    flex-wrap: wrap;
  }
  .banner .content .wrap .page_tabs .item {
    margin-bottom: 10px;
  }
  .banner .content .wrap .page_tabs .item .link {
    min-width: auto;
    padding: 10px 30px;
  }
  .header .content .right {
    flex: none;
    padding: 7px 0;
    border-radius: 45px;
    justify-content: space-between;
  }
  .header .content .right .nav {
    display: none;
  }
  .header .content .right .function .language {
    margin: 0 10px;
  }
  .header .content .right .function .menu {
    display: block;
  }
  .index_swiper .item .content .wrap {
    width: 100%;
  }
  .index_swiper .item .content .wrap .title {
    font-size: 26px;
  }
  .index_swiper .item .content .wrap .sub_head {
    font-size: 18px;
    line-height: 1.6;
  }
  .footer .content {
    padding: 40px 0;
  }
  .footer .content .list {
    margin-top: 20px;
  }
  .footer .content .right {
    margin-top: 20px;
  }
  .footer .content .right .code_box {
    width: 50%;
    max-width: 240px;
    margin: 0;
  }
  .about .content {
    padding: 0 0 20px;
  }
  .about .content .lead {
    padding: 0;
  }
  .about .right_box .company_data .box {
    height: auto;
  }
  .about .right_box .company_data .box .name .num {
    font-size: 34px;
  }
  .recommend_product .product_list .row {
    margin: 0;
  }
  .recommend_product .product_list .item {
    margin-bottom: 15px;
  }
  .choose_us .corporate_environment .corporate_environment_swiper .item .content .wrap {
    width: 100%;
  }
  .choose_us .corporate_environment .menus {
    width: 100%;
  }
  .choose_us .corporate_environment .menus .arrow {
    padding: 0 20px;
  }
  .choose_us .corporate_environment .menus .corporate_environment_menus .item .cover_box .cover {
    height: 160px;
  }
  .choose_us .corporate_environment .menus .corporate_environment_menus .item .shadow .name {
    font-size: 16px;
  }
  .choose_us .main {
    padding-top: 0;
  }
  .choose_us .main .choose_menus_swiper .item {
    padding: 20px 0;
  }
  .choose_us .main .choose_menus_swiper .item .name {
    font-size: 16px;
  }
  .choose_us .main .choose_content_swiper .item .content {
    margin-bottom: 20px;
  }
  .solutions .content .lead {
    padding: 10px 0;
  }
  .solutions .right .recommend_solutions_swiper .item .link .cover_box .cover {
    height: 240px;
  }
  .faq .right .cover {
    max-width: 50%;
  }
  .get_quote .main .head {
    padding-bottom: 0;
  }
  .get_quote .main .head .name {
    font-size: 28px;
  }
  .get_quote .main .head .sub_head {
    font-size: 20px;
  }
  .get_quote .main .form {
    margin-top: 0;
  }
  .get_quote .main .form .wrap {
    flex-wrap: wrap;
  }
  .get_quote .main .form .wrap .input_item,
  .get_quote .main .form .wrap .input_message {
    width: 50%;
    margin-top: 10px;
  }
  .get_quote .main .form .wrap .input_item .box,
  .get_quote .main .form .wrap .input_message .box {
    height: 50px;
    line-height: 50px;
  }
  .get_quote .main .form .wrap .input_item .box .input,
  .get_quote .main .form .wrap .input_message .box .input {
    height: 46px;
    line-height: 46px;
  }
  .get_quote .main .form .wrap .input_message {
    width: 100%;
    margin-bottom: 10px;
  }
  .get_quote .main .form .wrap .input_submit {
    width: 100%;
  }
  .get_quote .main .form .wrap .input_submit .btn {
    height: 46px;
    line-height: 46px;
  }
  .company_about .cover_box {
    margin-bottom: 20px;
  }
  .company_about .cover_box .cover {
    max-width: 50%;
  }
  .company_about .content .title_line {
    margin-bottom: 10px;
  }
  .list_wrap {
    padding: 10px 0;
  }
  .list_wrap .product_menus .category {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
  }
  .list_wrap .product_menus .product_nav {
    margin-bottom: 20px;
  }
  .list_wrap .product_list .row {
    margin: 0;
  }
  .list_wrap .product_list .item {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 767px) {
  .container_padding {
    padding: 20px 0;
  }
  .container_main {
    padding-top: 10px;
  }
  .col-xs-12 {
    padding: 0 5px;
  }
  .title {
    font-size: 18px;
  }
  .head {
    padding: 10px 0;
  }
  .head .sub_title {
    padding: 0;
  }
  .more .box .link {
    width: 150px;
    min-width: auto;
    padding: 0 10px;
    height: 44px;
    line-height: 44px;
    display: flex;
    justify-content: space-between;
  }
  .more .box .link .lead {
    position: initial;
    transform: translate(0);
  }
  .more .box .link .icon {
    position: initial;
    transform: translate(0);
    opacity: 1;
  }
  .tabs {
    padding: 10px 0 0;
  }
  .tabs .tabs_wrap {
    justify-content: start;
  }
  .tabs .tabs_wrap .item {
    padding: 0 10px;
  }
  .tabs .tabs_wrap .item .link {
    height: 40px;
    line-height: 40px;
  }
  .tabs .tabs_wrap .item .link .iconfont,
  .tabs .tabs_wrap .item .link .text {
    font-size: 13px;
  }
  .tabs .tabs_wrap .item .link .iconfont {
    font-size: 16px;
  }
  .modal .modal-dialog .modal-body {
    padding: 7px;
  }
  .crumbs .list .box {
    font-size: 14px;
  }
  .crumbs .list .box .link {
    font-size: 14px;
  }
  .crumbs .list .box .link .iconfont {
    font-size: 16px;
  }
  .search .head .title {
    font-size: 38px;
  }
  .search .search_form {
    margin-top: 20px;
  }
  .search .search_form .content {
    width: 84%;
  }
  .search .search_form .content .box .input {
    font-size: 16px;
  }
  .header .content .wrap {
    height: 70px;
  }
  .header .content .wrap .logo {
    width: 120px;
  }
  .header .content .wrap .right .function .item {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .h5_nav {
    padding-top: 70px;
  }
  .header_height {
    height: 70px;
  }
  .index_swiper .item .cover_box .cover {
    object-position: center;
  }
  .index_swiper .item .content .wrap .title {
    font-size: 20px;
  }
  .index_swiper .item .content .wrap .sub_head {
    margin-bottom: 14px;
  }
  .footer .content {
    padding: 30px 5px 0;
  }
  .footer .content .list {
    margin-top: 10px;
  }
  .footer .content .list .title {
    font-size: 14px;
    line-height: 24px;
  }
  .footer .content .list .ul {
    margin-top: 10px;
  }
  .footer .content .list .ul .li .link {
    padding: 4px 0 4px 4px;
    font-weight: 400;
  }
  .footer .content .right {
    margin-top: 20px;
    padding: 20px 0 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .footer .content .right .code_box {
    margin: auto;
  }
  .footer .copyright {
    padding: 16px 0;
  }
  .footer .copyright .wrap {
    text-align: center;
    flex-direction: column-reverse;
  }
  .footer .copyright .wrap .text {
    width: 100%;
    font-size: 14px;
  }
  .footer .copyright .wrap .blogroll {
    width: 100%;
    justify-content: center;
    margin-bottom: 4px;
  }
  .about .content {
    padding: 0 0 10px;
  }
  .about .right_box .company_data .box .name .num {
    font-size: 26px;
  }
  .about .right_box .company_data .box .lead {
    font-size: 14px;
    line-height: 1.6;
  }
  .recommend_product .product_list {
    padding: 0 10px;
  }
  .recommend_product .product_list .col_md {
    padding: 0 5px;
  }
  .recommend_product .product_list .item {
    margin-bottom: 10px;
  }
  .recommend_product .product_list .item .link {
    padding: 10px;
  }
  .recommend_product .product_list .item .link .cover_box .cover {
    width: 150px;
    height: 150px;
  }
  .recommend_product .product_list .item .link .content {
    padding: 10px 0 0;
  }
  .recommend_product .product_list .item .link .content .name {
    font-size: 14px;
  }
  .recommend_product .product_list .item .link .content .lead {
    margin: 0;
  }
  .choose_us .corporate_environment_swiper .item .content .wrap {
    padding: 20px;
  }
  .choose_us .corporate_environment .menus .wrap {
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 20px;
  }
  .choose_us .corporate_environment .menus .wrap .arrow {
    width: 100%;
    flex: content;
    justify-content: flex-end;
    padding: 0;
  }
  .choose_us .corporate_environment .menus .wrap .arrow .icon {
    padding: 0 10px;
  }
  .choose_us .corporate_environment .menus .wrap .corporate_environment_menus {
    width: 100%;
    flex: content;
  }
  .choose_us .corporate_environment .menus .wrap .corporate_environment_menus .item .shadow {
    padding: 10px;
  }
  .choose_us .corporate_environment .menus .wrap .corporate_environment_menus .item .shadow .name {
    font-size: 16px;
  }
  .choose_us .main .choose_menus_swiper .item .name {
    font-size: 14px;
  }
  .choose_us .main .choose_content_swiper {
    padding: 0;
  }
  .choose_us .main .choose_content_swiper .item .content {
    padding: 0;
  }
  .choose_us .main .choose_content_swiper .item .cover_box .cover {
    max-width: 100%;
  }
  .solutions .content {
    padding: 10px;
  }
  .solutions .content .lead {
    padding: 10px 0;
  }
  .solutions .right .recommend_solutions_swiper .item .link .cover_box .cover {
    height: 160px;
  }
  .faq .content {
    padding: 0;
  }
  .faq .content .faq_list .item {
    padding: 10px;
  }
  .faq .content .faq_list .item .top_head .left_ .ide {
    margin-top: 0;
  }
  .faq .content .faq_list .item .top_head .left_ .name {
    font-size: 16px;
  }
  .faq .content .faq_list .item .top_head .icon .iconfont {
    font-size: 16px;
  }
  .faq .content .faq_list .item:hover {
    transform: translateX(0);
  }
  .faq .right {
    padding: 10px;
  }
  .faq .right .cover_box {
    text-align: center;
  }
  .get_quote .main {
    width: 100%;
    padding: 0 10px;
  }
  .get_quote .main .head .name {
    font-size: 20px;
    line-height: 1.6;
  }
  .get_quote .main .head .sub_head {
    font-size: 16px;
    line-height: 1.6;
  }
  .get_quote .main .form {
    margin-top: 10px;
  }
  .get_quote .main .form .wrap .item {
    width: 100%;
    padding: 0;
  }
  .get_quote .main .form .wrap .input_submit {
    padding: 0;
  }
  .company_about .cover_box {
    padding-top: 10px;
    text-align: center;
  }
  .company_about .cover_box .cover {
    max-width: 90%;
  }
  .company_about .content .lead,
  .company_about .content p {
    padding: 5px 0;
  }
  .honor .honor_swiper {
    height: auto;
    padding: 0;
  }
  .honor .honor_swiper .item .link .cover_box .cover {
    height: 180px;
  }
  .honor .honor_swiper .item .link .content .name {
    font-size: 16px;
  }
  .honor .honor_swiper .swiper-slide-active {
    transform: translateY(0);
  }
  .honor .honor_swiper .swiper-slide-active .cover_box .cover {
    height: 180px;
  }
  .solutions_list .item {
    padding: 20px 0;
  }
  .solutions_list .item .row {
    flex-direction: column-reverse;
  }
  .solutions_list .item .content {
    padding: 0;
    margin-bottom: 20px;
  }
  .solutions_list .item .cover_box .cover {
    max-width: 100%;
  }
  .solutions_list .item:nth-child(even) .row {
    flex-flow: column-reverse;
  }
  .list_wrap .right_box {
    padding: 0;
  }
  .list_wrap .product_list {
    padding: 0 10px;
  }
  .list_wrap .product_list .col_md {
    padding: 0 5px;
  }
  .list_wrap .product_list .item {
    margin-bottom: 10px;
  }
  .list_wrap .product_list .item .link {
    padding: 10px;
  }
  .list_wrap .product_list .item .link .cover_box .cover {
    width: 150px;
    height: 150px;
  }
  .list_wrap .product_list .item .link .content {
    padding: 10px 0 0;
  }
  .list_wrap .product_list .item .link .content .name {
    font-size: 14px;
  }
  .list_wrap .product_list .item .link .content .lead {
    margin: 0;
  }
  .list_wrap .details {
    padding: 0;
  }
  .list_wrap .details .product_swiper {
    height: 360px;
    padding: 10px;
  }
  .list_wrap .details .product_swiper .product_menu {
    width: 70px;
  }
  .list_wrap .details .content {
    padding: 0 10px;
  }
  .list_wrap .details .content .c_title {
    font-size: 20px;
    color: #41594C;
  }
  .list_wrap .details .content .line {
    margin-bottom: 10px;
  }
  .list_wrap .introduce {
    padding: 20px 0;
  }
  .list_wrap .introduce .explain {
    margin-top: 0;
  }
  .list_wrap .introduce .explain .name {
    font-size: 16px;
  }
  .list_wrap .recommend_list {
    padding: 10px 0;
  }
  .list_wrap .recommend_list .recommend_list_body {
    padding-top: 10px;
  }
  .list_wrap .recommend_list .recommend_list_body .recommend_list_swiper .item .link .cover_box .cover {
    height: 150px;
  }
  .list_wrap .tabs .tabs_head {
    flex-wrap: wrap;
    border-bottom: none;
  }
  .list_wrap .tabs .tabs_head .tabs_item {
    padding: 10px 30px;
    width: 100%;
  }
  .list_wrap .tabs .tabs_head .active {
    padding: 10px 20px;
  }
  .list_wrap .tabs .tabs_body {
    padding: 10px;
  }
}
