@font-face {
  font-family: "iconfont"; /* Project id 4942378 */
  src: url('iconfont.woff2?t=1763733869641') format('woff2'),
       url('iconfont.woff?t=1763733869641') format('woff'),
       url('iconfont.ttf?t=1763733869641') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book-open-fill:before {
  content: "\e789";
}

.icon-shang:before {
  content: "\e638";
}

.icon-xia:before {
  content: "\e666";
}

.icon-douyinhao-01:before {
  content: "\e6dc";
}

.icon-skype:before {
  content: "\e707";
}

.icon-icon-arrow-left2:before {
  content: "\e665";
}

.icon-icon-arrow-right2:before {
  content: "\e667";
}

.icon-dian:before {
  content: "\ec1e";
}

.icon-zuozuo:before {
  content: "\e649";
}

.icon-you1:before {
  content: "\e640";
}

.icon-qichepeijian:before {
  content: "\e608";
}

.icon-banshou_Line:before {
  content: "\e64e";
}

.icon-leihuaxueyuanliaox:before {
  content: "\e689";
}

.icon-yiyaoxiang:before {
  content: "\e615";
}

.icon-jiaonang:before {
  content: "\e7ea";
}

.icon-xinpian:before {
  content: "\e652";
}

.icon-shangsheng:before {
  content: "\e637";
}

.icon-shidaiyoushi:before {
  content: "\e625";
}

.icon-duoxuanxuanzhong:before {
  content: "\e62c";
}

.icon-youshichanpin:before {
  content: "\e614";
}

.icon-icradioture:before {
  content: "\e636";
}

.icon-touzilicai:before {
  content: "\e66d";
}

.icon-ditanzixun:before {
  content: "\ea20";
}

.icon-jiankang-lvye-jieneng:before {
  content: "\e623";
}

.icon-a-ziyuan112:before {
  content: "\e60d";
}

.icon-up:before {
  content: "\e671";
}

.icon-down:before {
  content: "\e67a";
}

.icon-shui:before {
  content: "\e679";
}

.icon-jljieshuiqiju:before {
  content: "\e664";
}

.icon-data:before {
  content: "\e673";
}

.icon-yiwangtiaokong:before {
  content: "\e607";
}

.icon-baneixietong:before {
  content: "\e617";
}

.icon-nengyuan-04:before {
  content: "\ecbb";
}

.icon-zixun1:before {
  content: "\e663";
}

.icon-renzhengpeizhi:before {
  content: "\e613";
}

.icon-nenghao:before {
  content: "\e74f";
}

.icon-jienenghuanbao:before {
  content: "\e7b4";
}

.icon-shenhe:before {
  content: "\e63d";
}

.icon-jieneng:before {
  content: "\e7a7";
}

.icon-chanpinguanli:before {
  content: "\e7b6";
}

.icon-chanpinguanli1:before {
  content: "\e66c";
}

.icon-w_yunduan:before {
  content: "\e682";
}

.icon-a-chanpin1:before {
  content: "\ebcc";
}

.icon-dizhi2:before {
  content: "\e622";
}

.icon-CO:before {
  content: "\e60c";
}

.icon-meitan:before {
  content: "\e64f";
}

.icon-fenchen:before {
  content: "\ea4a";
}

.icon-nono:before {
  content: "\e690";
}

.icon-so2:before {
  content: "\e602";
}

.icon-shiming:before {
  content: "\e66a";
}

.icon-gongsiyuanjing:before {
  content: "\e696";
}

.icon-fangzhen:before {
  content: "\ea88";
}

.icon-dengpao:before {
  content: "\e60e";
}

.icon-zhuanshi:before {
  content: "\e62b";
}

.icon-zijin:before {
  content: "\e65f";
}

.icon--ss-jianba:before {
  content: "\e672";
}

.icon-icon-test:before {
  content: "\e646";
}

.icon-mti-chuanzhen:before {
  content: "\e9d0";
}

.icon-24gf-playCircle:before {
  content: "\ea82";
}

.icon-alibaba:before {
  content: "\e68f";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-xiazai:before {
  content: "\e648";
}

.icon-guanbi:before {
  content: "\e650";
}

.icon-kefu1:before {
  content: "\e63c";
}

.icon-chicun:before {
  content: "\e68c";
}

.icon-earth-full:before {
  content: "\e9ee";
}

.icon--yuangong:before {
  content: "\e605";
}

.icon-jianzhu4:before {
  content: "\e69c";
}

.icon-zhuceziben:before {
  content: "\e6c2";
}

.icon-qiye:before {
  content: "\e611";
}

.icon-yanjing:before {
  content: "\e763";
}

.icon-xuanzhong:before {
  content: "\e626";
}

.icon-whatapp1:before {
  content: "\e7dc";
}

.icon-dizhi1:before {
  content: "\e601";
}

.icon-rili:before {
  content: "\e62a";
}

.icon-rili_filled:before {
  content: "\e60f";
}

.icon-gouwuche:before {
  content: "\e631";
}

.icon-bianji:before {
  content: "\e616";
}

.icon-jiahao:before {
  content: "\e662";
}

.icon-jianhao:before {
  content: "\eaf5";
}

.icon-header-03:before {
  content: "\e64a";
}

.icon-a-28Cdianji:before {
  content: "\e68d";
}

.icon-gouwuchefill:before {
  content: "\e73c";
}

.icon-youxiang:before {
  content: "\e610";
}

.icon-24gl-user2:before {
  content: "\eb24";
}

.icon-zixunliuyan:before {
  content: "\e60b";
}

.icon-tongyong-fangxiang-xiangzuo1:before {
  content: "\e719";
}

.icon-tongyong-fangxiang-xiangyou1:before {
  content: "\e71a";
}

.icon-dizhiguanli:before {
  content: "\e694";
}

.icon-duoyuyan:before {
  content: "\e654";
}

.icon-renzhengdunpaianquanbaozhangzhibao:before {
  content: "\e7f3";
}

.icon-mima:before {
  content: "\e612";
}

.icon-xuanzhongdui:before {
  content: "\e64c";
}

.icon-you:before {
  content: "\e66b";
}

.icon-youjian:before {
  content: "\e804";
}

.icon-xiala:before {
  content: "\e65c";
}

.icon-youtobe:before {
  content: "\e606";
}

.icon-shejiaotubiao-14:before {
  content: "\e642";
}

.icon-tuite:before {
  content: "\ee49";
}

.icon-facebook:before {
  content: "\e77a";
}

.icon-left-1:before {
  content: "\e603";
}

.icon-down-1-copy:before {
  content: "\e604";
}

.icon-right-1-copy:before {
  content: "\e61f";
}

.icon-instagram-fill:before {
  content: "\e88f";
}

.icon-arrowLeft:before {
  content: "\e65d";
}

.icon-arrowRight:before {
  content: "\e65e";
}

.icon-yonghu:before {
  content: "\e660";
}

.icon-sousuo:before {
  content: "\e6d2";
}

.icon-dianhua1:before {
  content: "\e639";
}

.icon-guanwang:before {
  content: "\e661";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-shouye:before {
  content: "\e619";
}

.icon-youjian1:before {
  content: "\e624";
}

.icon-kefu:before {
  content: "\e890";
}

.icon-neirongqiehuan:before {
  content: "\e781";
}

.icon-shang-:before {
  content: "\e63f";
}

.icon-dizhi:before {
  content: "\e60a";
}

.icon-whatapp:before {
  content: "\e647";
}

.icon-kuaidiwuliu:before {
  content: "\e73b";
}

.icon-dianhua01:before {
  content: "\e68e";
}

.icon-rongyujiangzhang1:before {
  content: "\e69b";
}

