@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 992px) and (max-width: 1199px) {}

@media screen and (min-width: 768px) and (max-width: 991px) {}

@media screen and (max-width: 992px) {
    .container_padding {
        padding: 60px 0;
    }

    .title {
        font-size: 20px;
        line-height: 30px;
    }

    .lead {
        font-size: 14px;
    }

    .col_md {
        padding: 0 10px;
    }

    .top_head {
        .head_left {
            font-size: 12px;
        }

        .language_right {
            display: none;
        }
    }

    .bottom_nav {
        .nav_wrap {
            .logo {
                height: 60px;

                .link {
                    .cover {
                        width: 96px;
                    }
                }
            }
        }

        .nav {
            .list {
                display: none;
            }

            .menu {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 767px) {

    .container_padding {
        padding: 30px 0;
    }

    .title {
        font-size: 18px;
    }
}