@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer .content .list {
    margin-top: 20px;
  }
  .footer .content .right {
    margin-top: 20px;
  }
  .footer .content .right .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1200px) {
  .serve_project .list .col_md {
    padding: 0 8px;
  }
}
@media screen and (max-width: 992px) {
  .container_padding {
    padding: 60px 0;
  }
  .title {
    font-size: 20px;
    line-height: 30px;
  }
  .lead {
    font-size: 14px;
  }
  .col_md {
    padding: 0 10px;
  }
  .top_head .head_left {
    font-size: 12px;
  }
  .top_head .language_right {
    display: none;
  }
  .bottom_nav .nav_wrap .logo {
    height: 60px;
  }
  .bottom_nav .nav_wrap .logo .link .cover {
    width: 96px;
  }
  .bottom_nav .nav .list {
    display: none;
  }
  .bottom_nav .nav .menu {
    display: block;
  }
  .about_us .content {
    margin-bottom: 20px;
  }
  .serve_project .list .item {
    margin-bottom: 40px;
  }
  .footer .content {
    padding: 40px 0;
  }
}
@media screen and (max-width: 767px) {
  .container_padding {
    padding: 30px 0;
  }
  .title {
    font-size: 18px;
  }
  .col-xs-12 {
    padding: 0;
  }
  .head {
    padding-bottom: 30px;
  }
  .head .title {
    font-size: 28px;
  }
  .head .sub_title {
    font-size: 14px;
  }
  .index_swiper .item .content {
    width: 80%;
  }
  .index_swiper .item .content .title {
    font-size: 28px;
  }
  .index_swiper .item .content .sub_head {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .index_swiper .item .content .get_scheme {
    width: 160px;
    height: 40px;
    line-height: 40px;
  }
  .index_swiper .item .content .get_scheme .link {
    font-size: 14px;
  }
  .about_us .content {
    padding-right: 0;
  }
  .about_us .content .more {
    margin-top: 20px;
  }
  .about_us .company .cover_box {
    padding: 0;
  }
  .about_us .company .list {
    position: initial;
    background: #020F6B;
    transform: translateY(-1px);
  }
  .about_us .company .list .box .name .text {
    font-size: 32px;
  }
  .about_us .company .list .box .name .ide {
    font-size: 16px;
  }
  .about_us .company .list .box .lead {
    font-size: 12px;
  }
  .serve_project .list .col_md {
    padding: 0;
  }
  .serve_project .list .item {
    margin-bottom: 10px;
  }
  .serve_project .list .item:hover {
    transform: translateY(0);
  }
  .partner .list .cover_box {
    width: 25%;
  }
  .footer .content {
    padding: 30px 0 0;
  }
  .footer .content .list {
    margin-top: 10px;
  }
  .footer .content .list .title {
    font-size: 14px;
    line-height: 24px;
  }
  .footer .content .list .ul {
    margin-top: 10px;
  }
  .footer .content .list .ul .li .link {
    padding: 4px 0 4px 4px;
    font-weight: 400;
  }
  .footer .content .right {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .footer .copyright {
    padding: 10px 0;
  }
  .footer .copyright span,
  .footer .copyright .link {
    font-size: 12px;
    padding: 0;
  }
}
