@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 992px) and (max-width: 1199px) {}

@media screen and (min-width: 768px) and (max-width: 991px) {}

@media screen and (max-width: 1600px) {
    .get_quote {
        .main {
            width: 90%;
        }
    }

    .banner {
        .content {
            width: 94%;
        }
    }
}

@media screen and (max-width: 1510px) {
    .index_swiper {
        .item {
            .content {
                width: 94%;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .header {
        .content {
            .right {
                .nav {
                    .li {
                        .head_title {
                            padding: 0 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .header {
        .content {
            .logo {
                width: 200px;
            }

            .right {
                .nav {
                    .li {
                        .head_title {
                            padding: 0 10px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .service_list {
        .serve_wrap {
            flex-wrap: wrap;

            .item {
                width: 33.33%;
                max-width: none;
                overflow: hidden;

                &::before {
                    background: rgba(0, 0, 0, .3);
                }

                .content {
                    padding-top: 260px;
                    bottom: 0;
                }

                &:hover {
                    width: 33.33%;
                }
            }

            .item:last-child {
                width: 33.33% !important;
            }
        }
    }

    .scope_service {
        padding: 60px 0 10px;

        .head {
            top: 20px;

            .title {
                font-size: 20px;
            }
        }

        .cover_box {
            .cover {
                height: 560px;
            }
        }
    }

    .tabs {
        .tabs_wrap {
            justify-content: start;

            .item {
                margin-bottom: 20px;
                padding: 0 10px;

                .link {
                    width: 180px;
                    height: 50px;
                    line-height: 50px;

                    .iconfont,
                    .text {
                        font-size: 16px;
                    }

                    .iconfont {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .container_padding {
        padding: 60px 0;
    }

    .col-xs-12 {
        padding: 0 10px;
    }

    .col-xs-6 {
        padding: 0 10px;
    }

    .title {
        font-size: 20px;
    }

    .lead {
        font-size: 14px;
    }

    .header {
        height: 70px;

        .content {
            padding: 10px 0;

            .right {
                padding: 7px 16px;
                background: #fff;
                border-radius: 45px;
                box-shadow: 0 0 3px rgba(0, 0, 0, .1);

                .nav {
                    display: none;
                }

                .function {
                    .language {
                        display: none;
                    }

                    .item {
                        margin: 0;
                        padding: 0 10px;
                        width: auto;

                        .cover {
                            width: 20px;
                        }
                    }

                    .menu {
                        display: block;
                    }
                }
            }
        }
    }

    .placeholder {
        height: 70px;
    }

    .index_swiper {
        .item {
            .content {
                .wrap {
                    width: 100%;

                    .title {
                        font-size: 26px;
                    }

                    .sub_head {
                        font-size: 18px;
                        line-height: 1.6;
                    }
                }
            }
        }
    }

    .scope_service {
        padding: 30px 0;

        .head {
            position: initial;
            padding-bottom: 20px;
        }

        .main {
            .cover_box {
                .cover {
                    height: 380px;
                }

                .date {
                    position: initial;
                }
            }
        }
    }

    .get_quote {
        .main {
            .form {
                .wrap {
                    flex-wrap: wrap;

                    .input_item,
                    .input_message {
                        width: 50%;
                        margin-top: 10px;

                        .box {
                            height: 50px;
                            line-height: 50px;

                            .input {
                                height: 46px;
                                line-height: 46px;
                            }
                        }
                    }

                    .input_message {
                        width: 100%;
                        margin-bottom: 10px;
                    }

                    .input_submit {
                        width: 100%;

                        .btn {
                            height: 46px;
                            line-height: 46px;
                        }
                    }
                }
            }
        }
    }

    .footer {
        .content {

            .contact {
                width: 100%;
            }

            .list {
                margin-top: 20px;
            }

            .right {
                padding: 20px 0;

                .row {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }

            }
        }
    }

    .achievement {
        .main {
            margin-top: 20px;

            .box {
                margin-bottom: 20px;
            }
        }
    }

    .serve_list {
        .item {
            padding: 20px 0;

            .box {
                padding: 0 15px;

                .cover_box {
                    .cover {
                        height: 350px;
                    }
                }
            }
        }
    }

    .introduction {
        .introduction_swiper {
            .cover_box {
                margin-bottom: 20px;
            }

            .content {
                .title {
                    font-size: 16px;
                    line-height: 26px;
                }

                .date {
                    font-size: 14px;
                    padding: 7px 0;
                }

                .lead {
                    font-size: 14px;
                    line-height: 24px;
                }
            }

            .swiper_page {
                display: none;
            }
        }
    }

    .contact {
        padding: 30px 0 0;

        .list {
            margin: 20px 0 0 0;
            padding: 0;

            .item {
                padding: 10px;
                min-height: auto;
                margin-bottom: 15px;

                .content {
                    .text {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .message_box {
        .right_content {
            .form {
                .item {
                    .input_box {
                        padding-left: 0;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {

    .container {
        padding: 0 6px;
    }

    .container_padding {
        padding: 20px 0;
    }

    .title {
        font-size: 18px;
    }

    .tabs {
        padding: 30px 10px 0;

        .tabs_wrap {


            .item {
                padding: 0 10px;

                .link {
                    width: 150px;
                    height: 44px;
                    line-height: 44px;

                    .iconfont,
                    .text {
                        font-size: 14px;
                    }

                    .iconfont {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .article {
        flex-wrap: wrap;
        padding: 10px 10px 20px;
        margin-top: 10px;

        .up {
            width: 100%;
            flex: none;
            padding: 0;

            .lead {
                text-indent: 0;
                padding: 0;
            }

            .link {
                padding: 0;
                width: 100%;
                line-height: 1.8;
                font-size: 13px;
            }
        }

        .return {
            margin-top: 10px;
            width: 100%;
            text-align: right;

            .link {
                height: 40px;
                line-height: 40px;
                font-size: 14px;
            }
        }
    }

    .author {
        .text {
            font-size: 14px;
        }
    }

    .banner {
        .cover_box {
            .cover {
                height: 320px;
                min-height: auto;
            }
        }

        .content {
            .h3 {
                font-size: 24px;
            }

            .sub {
                .text {
                    font-size: 16px;
                }
            }
        }
    }

    .header {
        .content {
            .logo {
                width: 170px;
            }
        }
    }

    .head {
        padding: 0;
        width: 90% !important;

        .title {
            font-size: 20px;
        }

        .sub_title {
            font-size: 14px;
            padding: 10px 0;
        }
    }

    .search {
        .head {
            .title {
                font-size: 38px;
            }
        }

        .search_form {
            margin-top: 20px;

            .content {
                width: 84%;

                .box {
                    .input {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .index_swiper {
        .item {
            .cover_box {
                .cover {
                    object-position: center;
                }
            }
        }

        .down {
            width: 50px;
            height: 50px;
            line-height: 50px;
            .iconfont {
                font-size: 24px;
            }
        }

    }

    .service_list {
        .wrap {
            .serve_wrap {
                .item {
                    width: 100% !important;

                    .cover_box {
                        .cover {
                            height: 400px;
                        }
                    }

                    .service_content {
                        height: 320px;
                        padding: 40px 20px;
                    }

                    .title {
                        font-weight: 600;
                    }

                    .content {
                        padding-top: 200px;
                    }
                }
            }
        }
    }

    .core {
        padding: 0 10px 10px;

        .col_md {
            padding: 0;
        }

        .our_core_swiper {
            padding: 1px;

            .item {
                .cover {
                    height: 260px;
                }
            }
        }

        .navigation {
            height: 260px;
        }
    }

    .scope_service {
        padding: 20px 0 0;

        .head {
            padding-bottom: 10px;

            .title {
                font-size: 16px;
                line-height: 1.4;
            }
        }

        .main {
            .cover_box {
                .cover {
                    height: 200px;
                }

                .date {
                    .day {
                        font-size: 42px;
                    }

                    .content {
                        .title {
                            font-size: 16px;
                        }

                        .lead {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .date_wrap {
            left: 0;
            bottom: 0;
            width: 94%;
        }
    }

    .video_wrap {
        height: 450px;
    }

    .cooperative_partner {
        padding: 0;

        .head {
            width: 80%;
            padding-bottom: 0;

            .title {
                font-size: 24px;
            }
        }

        .main {
            .cover_box {
                .cover {
                    height: 300px;
                }
            }
        }
    }

    .get_quote {
        .main {
            width: 100%;

            .form {
                margin-top: 10px;

                .wrap {
                    .item {
                        width: 100%;
                    }

                    .input_submit {
                        padding: 0;
                    }
                }
            }
        }
    }

    .footer {
        padding-top: 20px;

        .logo {
            .cover_box {
                .cover {
                    width: 240px;
                }
            }
        }

        .content {
            padding: 30px 0 0;

            .list {
                margin-top: 10px;

                .title {
                    font-size: 14px;
                    line-height: 24px;
                }

                .ul {
                    margin-top: 10px;

                    .li {
                        .link {
                            padding: 4px 0 4px 4px;
                            font-weight: 400;
                        }
                    }
                }
            }

            .right {
                margin-top: 20px;
                padding-top: 20px;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
            }
        }

        .copyright {
            padding: 10px 0;

            span,
            .link {
                font-size: 12px;
                padding: 0;
            }
        }
    }

    .about_us {
        .col_md {
            padding: 0;
        }

        .content {
            padding: 0;

            .sub_head {
                padding: 7px 0;
                line-height: 1.4;
            }
        }

        .company {
            margin-top: 10px;

            .cover_box {
                padding: 0;
            }

            .explain {
                position: initial;
                width: 100%;
                height: 90px;

                .lead {
                    font-size: 17px;
                }
            }
        }
    }

    .achievement {
        .head {
            padding-bottom: 0;
        }

        .main {
            margin-top: 10px;

            .box {
                .name {
                    .num {
                        font-size: 36px;
                    }

                    .ide {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .partner {
        .list {
            margin-top: 0;

            .cover_box {
                width: 33.33%;
                padding: 4px;
            }
        }
    }

    .honor {
        .content {
            width: 100%;

            .cover {
                max-width: 160px;
            }
        }

        .right {}
    }

    .serve_list {
        .item {
            .serve_wrap {
                flex-flow: column-reverse !important;
            }

            .box {
                padding: 0;
                margin-bottom: 10px;

                .x_line {
                    margin: 10px 0;
                }

                .cover_box {
                    .cover {
                        height: 280px;
                    }
                }
            }
        }
    }

    .service_wrap {
        padding: 20px 0;
    }

    .introduction {
        padding: 0;

        .introduction_swiper {
            .swiper_page {
                padding-left: 80%;
            }

            .cover_box {
                height: 240px;
                margin-bottom: 0;
            }

            .content {
                .title {
                    font-size: 14px;
                }

                .date {
                    font-size: 14px;
                    padding: 0;
                }

                .lead {
                    font-size: 12px;
                }

                .more {
                    margin-top: 7px;

                    .link {
                        width: 140px;
                        height: 40px;
                        line-height: 40px;

                        span,
                        .iconfont {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .information_list {
        padding: 10px 0;

        .item {
            margin-bottom: 10px;

            .link {
                padding: 4px;

                .cover_box {
                    height: 180px;
                }

                .content {
                    padding: 6px;

                    .name {
                        font-size: 14px;
                        line-height: 1.8;
                    }

                    .lead {
                        margin-top: 6px;
                        font-size: 12px;
                        line-height: 1.6;
                    }
                }
            }
        }
    }

    .details {
        .head {
            .title {
                font-size: 18px;
                line-height: 1.7;
            }
        }

        .author {
            padding: 10px 0;
            margin-bottom: 8px
        }

        .content {
            .lead {
                font-size: 13px;
            }

            .content_cover {
                padding: 7px 0;
            }

            .cover,
            img {
                max-height: 200px;
                width: 100%;
                max-width: none;
                margin-bottom: 10px;
            }
        }
    }

    .contact_us {

        .list {
            padding: 20px 0 0;

            .item {
                padding: 14px;
                margin-bottom: 20px;
                min-height: auto;

                .icon {
                    .iconfont {
                        font-size: 32px;
                    }
                }

                .content {
                    .name {
                        font-size: 16px;
                    }

                    .text {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .contact {
        .list {

            .col_md {
                padding: 0
            }

            .item {
                .icon {
                    .iconfont {
                        font-size: 34px;
                    }
                }

                .content {
                    .name {
                        font-size: 18px;
                    }

                    .text {
                        font-size: 14px;
                    }
                }
            }
           
        }
    }

    .message_box {
        padding: 10px;
        margin-bottom: 20px;

        .left_cover,
        .right_content {
            padding: 0;
        }

        .title {
            font-size: 24px;
        }

        .lead {
            font-size: 14px;
            line-height: 28px;
        }

        .right_content {

            .form {
                margin-top: 20px;

                .item {
                    margin-bottom: 10px;

                    .input,
                    .layui-form-select .layui-input {
                        height: 46px;
                        font-size: 12px;
                        padding: 0 10px;
                    }

                    .input_box {
                        margin-top: 10px;
                    }

                    .textarea {
                        padding: 10px;
                        font-size: 12px;
                    }
                }

                .btn_box {
                    margin-top: 10px;

                    .btn {
                        min-width: auto;
                        width: 100%;
                        height: 46px;
                        line-height: 46px;
                        font-size: 12px;
                    }
                }
            }
        }


        .right {
            .cover_box {
                width: 100%;
                height: auto;
            }
        }
    }

    .map_wrap {
        .map {
            height: 350px;
        }
    }
}