@media screen and (max-width: 1510px) {
  .index_swiper .item .content {
    width: 94%;
  }
}
@media screen and (max-width: 1240px) {
  .header .content {
    padding: 0;
  }
  .header .content .wrap .right .nav .li .box .link .head_title {
    font-size: 14px;
    padding: 0 14px;
  }
  .header .content .wrap .right .nav .li .box .link .head_title .iconfont {
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  .container_padding {
    padding: 40px 0;
  }
  .container_main {
    padding-top: 20px;
  }
  .col-xs-12 {
    padding: 0 10px;
  }
  .col-xs-6 {
    padding: 0 10px;
  }
  .title {
    font-size: 20px;
  }
  .lead {
    font-size: 14px;
  }
  .head {
    width: 100%;
    padding-bottom: 20px;
  }
  .head .title {
    font-size: 20px;
  }
  .head .sub_head {
    font-size: 16px;
  }
  .head .sub_title {
    font-size: 18px;
  }
  .head .arrow .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 14px;
  }
  .tabs {
    padding: 0 0 10px;
  }
  .tabs .tabs_wrap {
    justify-content: start;
  }
  .tabs .item {
    padding: 0 5px;
    margin-bottom: 10px;
  }
  .tabs .item .link {
    width: auto;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding: 0 10px;
  }
  .modal .modal-dialog {
    margin-top: 100px;
  }
  .modal .modal-dialog .modal-body .pad_bottom {
    padding-bottom: 10px;
  }
  .search .head .title {
    font-size: 38px;
  }
  .search .search_form {
    margin-top: 20px;
  }
  .search .search_form .content {
    width: 84%;
  }
  .search .search_form .content .box .input {
    font-size: 16px;
  }
  .header .content .right {
    flex: none;
    padding: 7px 0;
    border-radius: 45px;
    justify-content: space-between;
  }
  .header .content .right .nav {
    display: none;
  }
  .header .content .right .function .language {
    margin: 0 10px;
  }
  .header .content .right .function .menu {
    display: block;
  }
  .index_swiper .item .content .wrap {
    width: 100%;
  }
  .index_swiper .item .content .wrap .title {
    font-size: 26px;
  }
  .index_swiper .item .content .wrap .sub_head {
    font-size: 18px;
    line-height: 1.6;
  }
  .recommend_product .head {
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .container_padding {
    padding: 20px 0;
  }
  .container_main {
    padding-top: 10px;
  }
  .title {
    font-size: 18px;
  }
  .head {
    padding: 10px 0;
  }
  .head .sub_title {
    padding: 0;
  }
  .tabs {
    padding: 10px 0 0;
  }
  .tabs .tabs_wrap {
    justify-content: start;
  }
  .tabs .tabs_wrap .item {
    width: 50%;
    padding: 0 5px;
  }
  .tabs .tabs_wrap .item .link {
    width: 100%;
    height: 40px;
    line-height: 40px;
  }
  .tabs .tabs_wrap .item .link .iconfont,
  .tabs .tabs_wrap .item .link .text {
    font-size: 12px;
  }
  .tabs .tabs_wrap .item .link .iconfont {
    font-size: 14px;
  }
  .more .box .link {
    width: 150px;
    min-width: auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
  }
  .more .box .link .lead {
    position: initial;
    transform: translate(0);
  }
  .more .box .link .icon {
    position: initial;
    transform: translate(0);
    opacity: 1;
  }
  .modal .modal-dialog .modal-body {
    padding: 7px;
  }
  .search .head .title {
    font-size: 38px;
  }
  .search .search_form {
    margin-top: 20px;
  }
  .search .search_form .content {
    width: 84%;
  }
  .search .search_form .content .box .input {
    font-size: 16px;
  }
  .header .content .wrap {
    height: 70px;
  }
  .header .content .wrap .logo {
    width: 60px;
  }
  .header .content .wrap .right .function .item {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .header .content .wrap .right .function .language {
    width: 100px;
  }
  .h5_nav {
    padding-top: 80px;
  }
  .header_height {
    height: 70px;
  }
  .index_swiper .item .cover_box .cover {
    object-position: center;
  }
  .index_swiper .item .content .wrap .title {
    font-size: 20px;
  }
  .index_swiper .item .content .wrap .sub_head {
    margin-bottom: 14px;
  }
}
