@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 992px) and (max-width: 1199px) {}

@media screen and (min-width: 768px) and (max-width: 991px) {}

@media screen and (max-width: 1510px) {
    .index_swiper {
        .item {
            .content {
                width: 94%;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .banner {
        .content {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1240px) {
    .header {
        .content {
            padding: 0;

            .wrap {
                .right {
                    .nav {
                        .li {
                            .box {
                                .link {
                                    .head_title {
                                        font-size: 14px;
                                        padding: 0 14px;

                                        .iconfont {
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .container_padding {
        padding: 40px 0;
    }

    .container_main {
        padding-top: 20px;
    }

    .col-xs-12 {
        padding: 0 10px;
    }

    .col-xs-6 {
        padding: 0 10px;
    }

    .title {
        font-size: 20px;
    }

    .lead {
        font-size: 14px;
    }

    .head {
        width: 100%;
        padding-bottom: 20px;

        .title {
            font-size: 20px;
        }

        .sub_head {
            font-size: 16px;
        }

        .sub_title {
            font-size: 18px;
        }

        .arrow {
            .icon {
                width: 40px;
                height: 40px;
                line-height: 40px;
                margin-left: 14px;
            }
        }
    }

    .tabs {
        padding: 0 0 10px;

        .tabs_wrap {
            justify-content: start;
        }

        .item {
            padding: 0 5px;
            margin-bottom: 10px;

            .link {
                width: auto;
                height: 40px;
                line-height: 40px;
                font-size: 14px;
                padding: 0 10px;
            }
        }
    }

    .modal {
        .modal-dialog {
            margin-top: 100px;

            .modal-body {
                .pad_bottom {
                    padding-bottom: 10px;
                }
            }
        }
    }

    .banner {
        .content {
            .wrap {
                width: 100%;

                .title {
                    font-size: 20px;
                    line-height: 1.7;
                }

                .crumbs {
                    .list {
                        .box {
                            font-size: 14px;

                            .link {
                                font-size: 14px;

                                .iconfont {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }

                .page_tabs {
                    padding-top: 20px;
                    flex-wrap: wrap;

                    .item {
                        margin-bottom: 10px;

                        .link {
                            min-width: auto;
                            padding: 10px 30px;
                        }
                    }
                }
            }
        }
    }

    .search {
        .head {
            .title {
                font-size: 38px;
            }
        }

        .search_form {
            margin-top: 20px;

            .content {
                width: 84%;

                .box {
                    .input {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .header {
        .content {
            .right {
                flex: none;
                padding: 7px 0;
                border-radius: 45px;
                justify-content: space-between;

                .nav {
                    display: none;
                }

                .function {


                    .language {
                        margin: 0 10px;
                    }

                    .menu {
                        display: block;
                    }
                }
            }
        }
    }

    .index_swiper {
        .item {
            .content {
                .wrap {
                    width: 100%;

                    .title {
                        font-size: 26px;
                    }

                    .sub_head {
                        font-size: 18px;
                        line-height: 1.6;
                    }
                }
            }
        }
    }

    .recommend_dom {
        .head {
            margin: 0;
        }
    }

    .product_solution {
        .box {
            .content {
                padding: 40px 30px;
                height: auto;

                .explain {
                    font-size: 16px;
                }
            }

            .cover_box {
                height: auto;
            }
        }
    }

    .get_email {
        padding: 10px 0 30px;

        .main {
            padding-top: 0;

            .item {
                padding: 10px;

                .input {
                    height: 40px;
                }

                .form_btn {
                    height: 40px;
                }
            }
        }
    }

    .footer {
        padding-top: 20px;
        margin-top: 30px;

        .serve {
            transform: translateY(0);

            .wrap {
                padding: 20px 20px 0;
            }

            .item {
                margin-bottom: 20px;
            }
        }

        .contact_info {
            margin-bottom: 30px;
            padding-right: 0;
        }

        .content {

            .place_box,
            .nav_box {
                display: none;
            }

            .nav_list {
                margin: 0;
            }

            .tips {
                padding: 40px 0 0;
                font-size: 14px;
            }
        }
    }

    .list_wrap {
        padding: 10px 0;

        .product_menus {
            .category {
                height: 50px;
                line-height: 50px;
                font-size: 16px;
            }

            .product_nav {
                margin-bottom: 20px;
            }
        }

        .product_list {

            .row {
                margin: 0;
            }

            .item {
                margin-bottom: 15px;
            }
        }
    }

    .message_box {
        padding: 40px 0;

        .content {
            padding-bottom: 10px;

            .title {
                font-size: 20px;
            }

        }

        .form {
            .item {
                margin-bottom: 10px !important;

                .two_box {
                    margin-top: 10px;
                    padding-left: 0;
                }

                .textarea {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .contact_page {
        padding-bottom: 20px;

        .list {
            padding: 0;
            margin: 0;

            .item {
                margin-bottom: 10px;
                padding: 10px 20px;
                min-height: auto;
            }
        }
    }
}

@media screen and (max-width: 767px) {

    .container_padding {
        padding: 20px 0;
    }

    .container_main {
        padding-top: 10px;
    }

    .title {
        font-size: 18px;
    }

    .contact_btn_wrap {
        padding: 20px 0;

        .btn {
            width: 45%;
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            background: #01913A;
            color: #fff;
        }

        .btn:first-child {
            margin-right: 20px;
        }
    }

    .head {
        padding: 10px 0;

        .sub_title {
            padding: 0;
        }
    }

    .tabs {
        padding: 10px 0 0;

        .tabs_wrap {
            justify-content: start;

            .item {
                width: 50%;
                padding: 0 5px;

                .link {
                    width: 100%;
                    height: 40px;
                    line-height: 40px;

                    .iconfont,
                    .text {
                        font-size: 12px;
                    }

                    .iconfont {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .contact_btn_wrap {
        padding: 20px 0;

        .btn {
            width: 45%;
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            background: #41594C;
            color: #fff;
        }

        .btn:first-child {
            margin-right: 20px;
        }
    }

    .more {
        .box {
            .link {
                width: 150px;
                min-width: auto;
                padding: 0 10px;
                display: flex;
                justify-content: space-between;

                .lead {
                    position: initial;
                    transform: translate(0);
                }

                .icon {
                    position: initial;
                    transform: translate(0);
                    opacity: 1;
                }
            }
        }
    }

    .modal {
        .modal-dialog {
            .modal-body {
                padding: 7px;
            }
        }
    }

    .search {
        .head {
            .title {
                font-size: 38px;
            }
        }

        .search_form {
            margin-top: 20px;

            .content {
                width: 84%;

                .box {
                    .input {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .header {
        .content {
            .wrap {
                height: 70px;

                .logo {
                    width: 60px;
                }

                .right {
                    .function {
                        .item {
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                        }

                        .language {
                            width: 100px;
                        }
                    }
                }
            }
        }
    }

    .h5_nav {
        padding-top: 80px;
    }

    .header_height {
        height: 70px;
    }

    .index_swiper {
        .item {
            .cover_box {
                .cover {
                    object-position: center;
                }
            }

            .content {
                .wrap {
                    .title {
                        font-size: 20px;
                    }

                    .sub_head {
                        margin-bottom: 14px;
                    }
                }
            }
        }
    }

    .hot_dom_swiper {
        .hot_product_swiper {
            .item {
                .link {
                    .cover_box {
                        width: 50%;
                    }
                }
            }
        }
    }

    .recommend_dom {
        .head {
            flex-wrap: wrap;

            .box {
                width: 100%;
                margin-bottom: 20px;
            }

            .arrow {
                width: 100%;
                justify-content: flex-end;
            }
        }
    }

    .get_email {
        .main {
            width: 90%;

            .item {
                .iconfont {
                    font-size: 18px;
                }

                .input {
                    font-size: 14px;
                    padding: 0 10px;
                }

                .form_btn {
                    width: 100px;
                    font-size: 14px;
                }
            }
        }
    }

    .footer {
        .serve {
            padding: 0;

            .wrap {
                .item {
                    justify-content: start;
                }
            }
        }
    }

    .list_wrap {
        .right_box {
            padding: 0;
        }

        .product_list {
            padding: 0 10px;

            .col_md {
                padding: 0 5px;
            }

            .item {
                margin-bottom: 10px;

                .link {
                    padding: 10px;

                    .cover_box {
                        .cover {
                            width: 150px;
                            height: 150px;
                        }
                    }

                    .content {
                        padding: 10px 0 0;

                        .name {
                            font-size: 14px;
                        }

                        .lead {
                            margin: 0;
                        }
                    }
                }
            }
        }

        .details {
            padding: 0;

            .product_swiper {
                height: 360px;
                padding: 10px;

                .product_menu {
                    width: 70px;
                }
            }

            .content {
                padding: 0 10px;

                .c_title {
                    font-size: 20px;
                    color: #41594C;
                }

                .line {
                    margin-bottom: 10px;
                }
            }
        }

        .introduce {
            padding: 20px 0;

            .explain {
                margin-top: 0;

                .name {
                    font-size: 16px;
                }
            }
        }

        .recommend_list {
            padding: 10px 0;

            .recommend_list_body {
                padding-top: 10px;

                .recommend_list_swiper {
                    .item {
                        .link {
                            .cover_box {
                                .cover {
                                    height: 150px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .about {
        .title {
            margin-bottom: 10px;
        }

        .lead,
        p {
            margin-bottom: 0;
        }
    }

    .message_box {

        .head {
            padding-bottom: 0;

            .title {
                font-size: 20px;
            }

            .sub_head {
                font-size: 16px;
            }
        }

        .form {
            margin-top: 10px;

            .item {
                margin-bottom: 20px;
            }

            .box {
                padding: 0;
            }

            .input_box {
                padding-left: 10px;
            }

            .input {
                height: 60px;
                font-size: 16px;
                padding: 0 20px;
            }

            .layui-form-select .layui-input {
                padding: 0 20px;
                height: 60px;
                font-size: 16px;
            }

            .textarea {
                padding: 20px 20px;
                font-size: 16px;
            }

            .btn_box {
                margin-top: 10px;

                .btn {
                    min-width: none;
                    width: 100%;
                    height: 50px;
                    font-size: 18px;
                    padding: 0;
                }
            }
        }

        .left_cover {
            padding: 0;
            width: 100%;
        }

        .right {
            padding: 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-end;

            .cover_box {
                .cover {
                    height: 180px;
                }
            }

            .text {
                font-size: 20px;
                color: #000;
                text-align: center;
                margin-top: 20px;
            }
        }
    }

    .map_wrap {
        padding-bottom: 20px;

        .map {
            height: 420px;
            background: #f5f5f5;
        }
    }

    .contact_page {
        padding-bottom: 0;

        .head {
            .title {
                font-size: 20px;
            }

            .sub_title {
                font-size: 20px;
            }
        }

        .list {
            padding-top: 20px;

            .item {
                padding: 10px 14px;
                align-items: center;

                .content {
                    padding-left: 16px;

                    .name {
                        font-size: 16px;
                    }

                    .text {
                        margin-top: 0;
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .login {
        .main {
            padding: 100px 10px 0;

            .login_box {
                padding: 30px 20px;

                .title {
                    font-size: 20px;
                }

                .sub_head {
                    font-size: 16px;
                }

                .submit_box {
                    .btn {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}