* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.h1,
.h2,
.h3,
.h4 {
  margin: 0;
  padding: 0;
}
.over1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.over2 {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.over3 {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.over4 {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container_padding {
  padding: 100px 0 80px;
}
.container_main {
  padding-top: 50px;
}
ul,
li {
  list-style: none;
}
html,
body {
  overflow-x: hidden;
  color: #333;
  font: 14px / 1.6 PingFang SC, Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
}
a,
.link {
  display: inline-block;
  width: 100%;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
img {
  vertical-align: middle;
  object-fit: cover;
}
.cover_box {
  overflow: hidden;
}
.cover_box .cover {
  width: 100%;
  transition: 0.4s ease-in;
}
.box_shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.box_radius {
  border-radius: 4px;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  opacity: 0.2;
}
body::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
.container {
  max-width: 1500px;
  width: 100%;
  margin: auto;
  padding: 0 10px;
}
.btn:focus {
  border: none !important;
  outline: none !important;
}
.layui-input:focus {
  border-color: #eee !important;
  box-shadow: 0 0 0 1px rgba(233, 47, 47, 0.6);
}
.layui-textarea:focus {
  border-color: #eee !important;
  box-shadow: 0 0 0 1px rgba(233, 47, 47, 0.6);
}
.btn:focus {
  border: none !important;
  outline: none !important;
}
.title {
  font-size: 28px;
  font-weight: 600;
}
.lead {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 500;
}
.img_bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.animate {
  transition: 0.4s ease;
}
.pointer {
  cursor: pointer;
}
.inline_block {
  display: inline-block;
}
.animate {
  transition: 0.4s ease;
}
.justify_space {
  display: flex;
  justify-content: space-between;
}
.display_flex {
  display: flex;
  align-items: center;
}
.justify_end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.justify_column {
  display: flex;
  flex-direction: column;
}
.justify_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.head {
  width: 80%;
  margin: auto;
  padding: 10px;
  text-align: center;
}
.head .title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
}
.head .sub_head {
  font-size: 16px;
  line-height: 1.8;
}
.head .sub_title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}
.head .arrow .icon {
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  overflow: hidden;
  border-radius: 12px;
  margin-left: 30px;
  cursor: pointer;
  background: #fff;
  user-select: none;
}
.head .arrow .icon .iconfont {
  font-size: 18px;
}
.head .arrow .icon:hover {
  background: #41594C;
}
.head .arrow .icon:hover .iconfont {
  color: #fff;
}
.line {
  padding: 18px 0;
  position: relative;
}
.line .t_l {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 88px;
  height: 8px;
  border-radius: 4px;
  background: #41594C;
}
.line::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}
.paging .nav_box {
  text-align: center;
}
.paging .nav_box .pagination {
  display: flex;
  justify-content: center;
}
.paging .nav_box .pagination li {
  display: inline-block;
  margin: 0 3px;
}
.paging .nav_box .pagination li a {
  color: #41594C;
}
.paging .nav_box .pagination .active a {
  background-color: #41594C;
  border-color: #41594C;
  color: #fff;
}
.crumbs .list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.crumbs .list .icon-shouye {
  font-size: 24px;
  margin-right: 4px;
  color: #fff;
}
.crumbs .list span,
.crumbs .list .link,
.crumbs .list .box {
  line-height: 2;
}
.crumbs .list .arrow {
  padding: 2px 4px 0;
  color: #fff;
}
.crumbs .link,
.crumbs .box {
  color: #fff;
  font-size: 20px;
}
.banner {
  position: relative;
}
.banner .cover {
  min-height: 30vh;
}
.banner .content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1400px;
}
.banner .content .wrap {
  width: 1000px;
  padding: 0 10px;
}
.banner .content .title {
  font-size: 46px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}
.banner .content .page_tabs {
  padding: 40px 0 0;
}
.banner .content .page_tabs .item {
  padding-right: 20px;
}
.banner .content .page_tabs .item .link {
  min-width: 200px;
  text-align: center;
  width: auto;
  padding: 14px 30px;
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
  border-radius: 50px;
  font-weight: 600;
  border: 1px solid transparent;
}
.banner .content .page_tabs .active .link {
  border-color: #fff;
  background: #F2C4A3;
}
.contact_btn_wrap {
  padding: 50px 0 10px;
}
.contact_btn_wrap .btn {
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: 40px;
  padding: 0;
  font-size: 16px;
  background: #F2F2F2;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 500;
  font-weight: 600;
}
.contact_btn_wrap .btn:hover {
  background: #41594C;
  color: #fff;
}
.contact_btn_wrap .btn:first-child {
  margin-right: 24px;
}
.modal {
  padding: 0 !important;
}
.modal .sub_head {
  font-size: 14px;
  line-height: 24px;
  color: #B4B4B4;
  margin: 10px 0 0;
}
.modal .modal-dialog {
  margin-top: 200px;
}
.modal .modal-body {
  padding: 20px;
}
.tabs {
  padding: 10px;
}
.tabs .tabs_wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tabs .item {
  padding: 0 14px;
  margin-bottom: 20px;
}
.tabs .item .link {
  padding: 0 34px;
  background: #F6F6F6;
  height: 50px;
  text-align: center;
  line-height: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #41594C;
}
.tabs .item .link .iconfont,
.tabs .item .link .text {
  font-size: 18px;
  padding: 0 2px;
  white-space: nowrap;
  color: #41594C;
}
.tabs .item .link .iconfont {
  font-size: 24px;
}
.tabs .item .link:hover {
  transform: translateY(-4px);
}
.tabs .active .link {
  background: #41594C;
}
.tabs .active .link .iconfont,
.tabs .active .link .text {
  color: #fff;
}
.more {
  padding-top: 10px;
}
.more .box {
  display: inline-block;
}
.more .link {
  min-width: 190px;
  height: 46px;
  line-height: 46px;
  padding: 0 40px;
  font-size: 16px;
  color: #fff;
  background: #fff;
  width: auto;
  border-radius: 50px;
  position: relative;
}
.more .link .lead {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-weight: 600;
  white-space: nowrap;
}
.more .link .icon {
  position: absolute;
  top: 50%;
  right: -3px;
  transform: translateY(-50%);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  text-align: center;
  line-height: 34px;
  background: #41594C;
  opacity: 0;
  animation-delay: 0.5s;
}
.more .link .icon .iconfont {
  color: #fff;
}
.more .link:hover .lead {
  left: 20px;
  transform: translate(0, -50%);
}
.more .link:hover .icon {
  opacity: 1;
  right: 7px;
}
.search .main {
  margin: auto;
  padding: 100px 0 0;
}
.search .head .title {
  color: #000;
}
.search .search_form {
  margin-top: 60px;
}
.search .search_form .content {
  width: 60%;
  margin: auto;
}
.search .search_form .content .box {
  display: flex;
  align-items: center;
}
.search .search_form .content .input {
  font-size: 20px;
  height: 60px;
  line-height: 60px;
}
.search .search_form .content .input:focus {
  box-shadow: none;
}
.search .search_form .content .submit_btn {
  width: 100px;
  height: 60px;
  background: #41594C;
  color: #fff;
  font-size: 24px;
  padding: 0;
  border: none;
}
.search .search_form .content .submit_btn .iconfont {
  font-size: 28px;
  color: #fff;
}
.search .search_form .content .note {
  margin-top: 10px;
}
.search .search_form .content .note .link {
  width: auto;
  line-height: 1.4;
  font-size: 14px;
  padding: 10px 0;
  white-space: nowrap;
  margin-right: 20px;
  color: #41594C;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header .top_height {
  height: 10px;
  background: #221714;
}
.header .content {
  width: 100%;
  transition: 1s ease;
  background: #fff;
  padding: 0;
}
.header .content .wrap {
  margin: auto;
  max-width: 1500px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.header .content .logo {
  width: 80px;
  flex: none;
  padding: 10px 0;
}
.header .content .logo .link,
.header .content .logo .cover {
  width: 100%;
  object-fit: contain;
}
.header .content .logo .cover {
  max-height: 60px;
}
.header .content .right {
  flex: auto;
}
.header .content .right .nav {
  justify-content: center;
}
.header .content .right .nav .li {
  cursor: pointer;
  position: relative;
}
.header .content .right .nav .li .head_title {
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  position: relative;
  color: #000;
}
.header .content .right .nav .li .head_title::before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 2px;
  border-radius: 6px;
  background: #fff;
  overflow: hidden;
  transition: 0.4s ease;
  opacity: 0;
}
.header .content .right .nav .li .child {
  position: fixed;
  top: 90px;
  left: 0;
  width: 100vw;
  display: none;
  background: #fff;
  z-index: 10;
}
.header .content .right .nav .li .child .child_main {
  padding: 40px 0;
  flex-wrap: wrap;
}
.header .content .right .nav .li .child .child_main .item .link {
  padding: 4px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.header .content .right .nav .li .child .child_main .item .link .cover_box {
  max-width: 100px;
}
.header .content .right .nav .li .child .child_main .item .link:hover {
  box-shadow: 0 0 1px rgba(65, 89, 76, 0.7);
}
.header .content .right .nav .li .child .child_main .item .link:hover .cover {
  transform: scale(1.03);
}
.header .content .right .nav .li .child_nav {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  padding: 10px 20px;
  display: none;
  background: #41594C;
}
.header .content .right .nav .li .child_nav .lis .link {
  padding: 14px 0;
}
.header .content .right .nav .li .child_nav .lis .child_head_title {
  font-size: 14px;
  line-height: normal;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  padding: 0;
}
.header .content .right .nav .li .child_nav .lis:last-child {
  border-bottom: none;
}
.header .content .right .nav .li:hover .child,
.header .content .right .nav .li:hover .child_nav {
  display: block;
}
.header .content .right .nav .active {
  background: #41594C;
}
.header .content .right .nav .active .head_title {
  color: #fff;
}
.header .content .right .nav .active .head_title .link {
  color: #fff;
}
.header .content .right .nav .active .head_title::before {
  opacity: 1;
  bottom: 18px;
}
.header .content .right .function {
  flex: none;
  display: flex;
  align-items: center;
}
.header .content .right .function .item {
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  text-align: center;
  background: #41594C;
  margin-left: 14px;
  cursor: pointer;
}
.header .content .right .function .item .iconfont {
  color: #fff;
}
.header .content .right .function .item .cover {
  width: 100%;
  height: 36px;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.header .content .right .function .photo {
  background: none;
  line-height: normal;
  padding: 0;
  border: 1px solid #41594C;
}
.header .content .right .function .photo .link {
  width: 100%;
  height: 100%;
}
.header .content .right .function .photo .link .cover {
  width: 100%;
  height: 100%;
  vertical-align: baseline;
}
.header .content .right .function .language {
  position: relative;
  width: 110px;
  margin-left: 14px;
  border-radius: 46px;
}
.header .content .right .function .language_head {
  text-align: center;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #000;
  border-radius: 24px;
  background: #fff;
}
.header .content .right .function .language_head .text,
.header .content .right .function .language_head .iconfont {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}
.header .content .right .function .language_head .text {
  padding: 0 5px;
}
.header .content .right .function .language_list {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background: #41594C;
  padding: 6px 10px;
  display: none;
}
.header .content .right .function .language_list .language_li .link {
  padding: 6px 0;
}
.header .content .right .function .language_list .language_li .link .cover {
  width: 20px;
}
.header .content .right .function .language_list .language_li .link .text {
  font-size: 14px;
  color: #fff;
}
.header .content .right .function .menu {
  cursor: pointer;
  width: 30px;
  height: 18px;
  position: relative;
  display: none;
  margin-left: 6px;
  user-select: none;
}
.header .content .right .function .menu .lis {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  transition: all 0.3s ease;
  border-radius: 2px;
  background: #41594C;
  transform-origin: 50% 50%;
}
.header .content .right .function .menu .lis:nth-child(1) {
  top: 0;
}
.header .content .right .function .menu .lis:nth-child(2) {
  width: 60%;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
}
.header .content .right .function .menu .lis:nth-child(3) {
  top: 98%;
}
.header .content .right .function .active .lis:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.header .content .right .function .active .lis:nth-child(2) {
  display: none;
}
.header .content .right .function .active .lis:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.header .content .right .function .item:hover {
  transform: translateY(-2px);
}
.header .content .right .function .language:hover {
  border-radius: 0;
}
.header .content .right .function .language:hover .icon_bottom {
  transform: rotate(-180deg);
}
.header .content .right .function .language:hover .language_list {
  display: block;
}
.h5_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #41594C;
  transition: 0.7s ease;
  overflow: hidden;
  overflow-y: auto;
  z-index: 99;
  opacity: 1;
  visibility: hidden;
  padding-top: 80px;
}
.h5_nav .li .head_title {
  padding: 14px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.h5_nav .li .head_title .title,
.h5_nav .li .head_title .iconfont {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
}
.h5_nav .li .child {
  display: none;
}
.h5_nav .li .child .lis {
  text-align: right;
}
.h5_nav .li .child .lis .child_head_title {
  padding: 14px 10px 14px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.h5_nav .li .child .lis .child_head_title .child_title,
.h5_nav .li .child .lis .child_head_title .iconfont {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.h5_nav .li .box {
  text-align: right;
}
.h5_nav .child_li .link {
  flex: 1;
  padding: 0 10px;
}
.h5_nav .child_li .spread {
  flex: none;
  width: 50px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  background: #F2C4A3;
  border-radius: 3px;
  user-select: none;
}
.h5_nav .child_li .rotateIcon {
  transform: rotate(-180deg);
}
.h5_nav .h5_language {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.h5_nav .h5_language .box {
  flex: 1;
  text-align: center;
  position: relative;
}
.h5_nav .h5_language .box .link {
  padding: 20px 0;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h5_nav .h5_language .box .link .cover {
  width: 24px;
}
.h5_nav .h5_language .box .link .text {
  padding-left: 6px;
}
.h5_nav .h5_language .box:nth-child(2)::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 1px;
  height: 70%;
  background: rgba(255, 255, 255, 0.3);
}
.h5_nav_active {
  opacity: 1;
  height: 100vh;
  visibility: visible;
}
.header_height {
  height: 90px;
}
.index_swiper {
  overflow: hidden;
}
.index_swiper .item {
  position: relative;
}
.index_swiper .item .cover_box .cover {
  min-height: 500px;
}
.index_swiper .item .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1500px;
}
.index_swiper .item .content .wrap {
  width: 800px;
  padding: 0 10px;
}
.index_swiper .item .content .title {
  font-size: 46px;
  line-height: 1.4;
  font-weight: 600;
  color: #fff;
  margin-bottom: 14px;
}
.index_swiper .item .content .sub_head {
  font-size: 24px;
  line-height: 1.5;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 24px;
}
.index_swiper .swiper-pagination {
  bottom: 20px;
}
.index_swiper .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
}
.index_swiper .swiper-pagination .swiper-pagination-bullet-active {
  width: 30px;
  border-radius: 12px;
  background: #41594C;
}
.product_list .item .link {
  background: #fff;
  padding: 20px 20px 0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.product_list .item .link .cover_box {
  text-align: center;
}
.product_list .item .link .cover_box .cover {
  max-width: 250px;
  max-height: 250px;
}
.product_list .item .link .content {
  padding: 20px 0;
  text-align: center;
}
.product_list .item .link .content .name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.7;
  color: #000;
}
.product_list .item .link .content .lead {
  font-size: 14px;
  line-height: 1.7;
  color: #979797;
  font-weight: 500;
  margin: 10px 0;
}
.product_list .item .link .content .price {
  font-size: 20px;
  font-weight: 600;
  color: #ff0000;
}
.product_list .item .link:hover .cover {
  transform: scale(1.1);
}
.product_list .item .link:hover .name {
  color: #41594C;
}
.recommend_swiper {
  padding: 5px;
}
.recommend_swiper .swiper-button-prev,
.recommend_swiper .swiper-button-next {
  background: none;
  width: auto;
}
.recommend_swiper .swiper-button-prev .icon,
.recommend_swiper .swiper-button-next .icon {
  width: 44px;
  height: 44px;
  background: #D6D6D6;
  border-radius: 50%;
  text-align: center;
  line-height: 44px;
}
.recommend_swiper .swiper-button-prev .icon .iconfont,
.recommend_swiper .swiper-button-next .icon .iconfont {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}
.recommend_swiper .swiper-button-prev .icon:hover,
.recommend_swiper .swiper-button-next .icon:hover {
  background: #41594C;
}
.recommend_swiper .swiper-button-prev .icon:hover .iconfont,
.recommend_swiper .swiper-button-next .icon:hover .iconfont {
  color: #fff;
}
.tabs_body {
  display: none;
}
.tabs_body_active {
  display: block;
}
.recommend_dom {
  padding: 70px 0 20px;
}
.product_solution .row,
.product_solution .col_md {
  margin: 0;
  padding: 0;
}
.product_solution .box .content {
  height: 500px;
  background: #41594C;
  flex-direction: column;
  align-items: start;
  padding: 10px 100px;
}
.product_solution .box .content .title {
  color: #fff;
}
.product_solution .box .content .explain {
  font-size: 20px;
  line-height: 1.7;
  color: #fff;
  margin: 10px 0;
}
.product_solution .box .content .more .box .link {
  padding: 0 10px;
}
.product_solution .box .content .more .box .link:hover .lead {
  color: #41594C;
}
.product_solution .right_box {
  background: #2E3B34;
  padding: 50px;
  height: 500px;
  text-align: center;
}
.product_solution .right_box .cover_box {
  width: 100%;
  height: 100%;
}
.product_solution .right_box .cover_box .cover {
  max-width: max-content;
  max-height: 400px;
}
.hot_dom_swiper .head {
  width: 100%;
}
.hot_dom_swiper .head .box {
  text-align: left;
}
.hot_dom_swiper .head .arrow .icon {
  width: 90px;
  height: 40px;
  line-height: 40px;
  border-radius: 34px;
}
.hot_dom_swiper .head .arrow .icon .iconfont {
  font-size: 24px;
}
.hot_dom_swiper .hot_product_swiper {
  padding-bottom: 60px;
}
.hot_dom_swiper .hot_product_swiper .item .link {
  background: #fff;
  padding: 20px;
}
.hot_dom_swiper .hot_product_swiper .item .link .content {
  width: 40%;
}
.hot_dom_swiper .hot_product_swiper .item .link .content .name {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.hot_dom_swiper .hot_product_swiper .item .link .content .lead {
  color: #878787;
  padding: 10px 0;
}
.hot_dom_swiper .hot_product_swiper .item .link .content .price {
  color: #ff0000;
  font-size: 20px;
  font-weight: 600;
}
.hot_dom_swiper .hot_product_swiper .item .link .content .icon {
  padding-top: 20px;
}
.hot_dom_swiper .hot_product_swiper .item .link .content .icon .iconfont {
  font-size: 40px;
  color: #DFDFDF;
}
.hot_dom_swiper .hot_product_swiper .item .link .cover_box {
  width: 60%;
}
.hot_dom_swiper .hot_product_swiper .item .link:hover .icon .iconfont {
  color: #000;
}
.hot_dom_swiper .hot_product_swiper .swiper-pagination .swiper-pagination-bullet {
  width: 30px;
  border-radius: 0;
  height: 5px;
  background: #fff;
  opacity: 1;
}
.hot_dom_swiper .hot_product_swiper .swiper-pagination .swiper-pagination-bullet-active {
  width: 40px;
  background: #41594C;
}
.get_email {
  padding: 50px 0;
}
.get_email .head .title {
  line-height: 1.6;
}
.get_email .main {
  width: 60%;
  margin: auto;
  padding-top: 20px;
}
.get_email .main .item {
  border: 1px solid #41594C;
  padding: 15px 20px;
  background: #fff;
  border-radius: 8px;
}
.get_email .main .item .iconfont {
  font-size: 30px;
  color: #41594C;
  flex: none;
}
.get_email .main .item .input {
  background: none;
  outline: none;
  border: none;
  flex: 1;
  height: 50px;
  padding: 0 20px;
  font-size: 18px;
}
.get_email .main .item .input:focus {
  box-shadow: none;
}
.get_email .main .item .form_btn {
  flex: none;
  width: 20%;
  height: 50px;
  background: #41594C;
  color: #fff;
  border-radius: 4px;
  font-size: 18px;
}
.footer {
  margin-top: 100px;
  background: #231815;
}
.footer .serve {
  transform: translateY(-50%);
}
.footer .serve .wrap {
  background: #fff;
  padding: 40px;
}
.footer .serve .wrap .item .iconfont {
  font-size: 40px;
  color: #000;
  font-weight: 500;
}
.footer .serve .wrap .item .box {
  padding-left: 20px;
}
.footer .serve .wrap .item .box .name {
  font-size: 20px;
  font-weight: 600;
}
.footer .serve .wrap .item .box .lead {
  color: #C4C4C4;
  line-height: 1.6;
}
.footer .contact_info {
  padding-right: 40px;
  text-align: center;
}
.footer .contact_info .cover_box {
  width: 200px;
  margin: auto;
}
.footer .contact_info .name {
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
}
.footer .nav_list {
  display: flex;
  flex-wrap: wrap;
}
.footer .content {
  padding: 30px 0;
}
.footer .content .list .title {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
.footer .content .list .ul {
  margin-top: 10px;
}
.footer .content .list .ul .li .link {
  font-size: 14px;
  line-height: 1.8;
  font-weight: 600;
  padding: 6px 0;
  transition: 0.3s ease-out;
  color: #fff;
}
.footer .content .list .ul .li .link .iconfont {
  padding-right: 4px;
}
.footer .content .list .ul .li .link:hover {
  transform: skew(6deg) translateX(10px);
  color: #F2C4A3;
}
.footer .content .blogroll_list {
  padding-top: 14px;
  display: flex;
}
.footer .content .blogroll_list .b_li {
  margin-right: 10px;
}
.footer .content .blogroll_list .cover_box {
  width: 30px;
  height: 30px;
}
.footer .content .right .code_box {
  width: 80%;
  margin: auto;
}
.footer .content .right .lead {
  padding: 10px 0;
  text-align: center;
  color: #000;
}
.footer .tips {
  padding: 70px 0 10px;
  font-size: 16px;
  line-height: 1.7;
  color: #fff;
  text-align: center;
}
.footer .copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
}
.footer .copyright .wrap {
  text-align: center;
}
.footer .copyright .wrap .text {
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  font-weight: 500;
}
.list_wrap .product_menus .category {
  height: 70px;
  line-height: 70px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  background: #41594C;
}
.list_wrap .product_menus .product_nav {
  background: #fff;
  margin-bottom: 40px;
}
.list_wrap .product_menus .product_nav .type .lis .link {
  padding: 14px 14px;
}
.list_wrap .product_menus .product_nav .type .lis .link .name,
.list_wrap .product_menus .product_nav .type .lis .link .iconfont {
  font-size: 16px;
  font-weight: 600;
}
.list_wrap .product_menus .product_nav .type .lis .link .iconfont {
  display: inline-block;
}
.list_wrap .product_menus .product_nav .type .lis .link:hover {
  background: #F6F6F6;
}
.list_wrap .product_menus .product_nav .type .lis .link:hover .name,
.list_wrap .product_menus .product_nav .type .lis .link:hover .iconfont {
  color: #41594C;
}
.list_wrap .product_menus .product_nav .type .lis .link:hover .name {
  transform: translateX(10px);
}
.list_wrap .product_menus .product_nav .type .lis .son {
  padding: 0 16px 14px;
  display: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.list_wrap .product_menus .product_nav .type .lis .son .link {
  cursor: pointer;
  padding: 7px 0;
  position: relative;
  z-index: 2;
}
.list_wrap .product_menus .product_nav .type .lis .son .link .select_box {
  width: 26px;
  height: 26px;
  border: 1px solid #E2E2E2;
  padding: 0 4px 4px;
  text-align: center;
}
.list_wrap .product_menus .product_nav .type .lis .son .link .select_box .iconfont {
  font-size: 14px;
  font-weight: 600;
  opacity: 0;
}
.list_wrap .product_menus .product_nav .type .lis .son .link .text {
  font-size: 16px;
  padding-left: 10px;
  user-select: none;
  font-weight: 500;
}
.list_wrap .product_menus .product_nav .type .lis .son .active .select_box .iconfont {
  opacity: 1;
}
.list_wrap .product_menus .product_nav .type .active {
  background: #F6F6F6;
}
.list_wrap .product_menus .product_nav .type .active .name,
.list_wrap .product_menus .product_nav .type .active .iconfont {
  color: #41594C;
}
.list_wrap .product_menus .product_nav .type .active .arrow_icon {
  transform: rotate(90deg);
}
.list_wrap .product_menus .recommend {
  background: #fff;
}
.list_wrap .product_menus .recommend .recommend_wrap {
  padding: 10px;
}
.list_wrap .product_menus .recommend .recommend_wrap .recommend_product_swiper {
  padding-bottom: 20px;
}
.list_wrap .product_menus .recommend .recommend_wrap .item .link .cover_box .cover {
  height: 240px;
}
.list_wrap .product_menus .recommend .recommend_wrap .item .link .name {
  font-size: 20px;
  font-weight: 600;
  padding: 6px 0;
  color: #000;
}
.list_wrap .product_menus .recommend .recommend_wrap .item .link .lead {
  font-size: 14px;
  line-height: 1.8;
  color: #959595;
}
.list_wrap .product_menus .recommend .recommend_wrap .item .link:hover .cover {
  transform: scale(1.07);
}
.list_wrap .product_menus .recommend .recommend_wrap .item .link:hover .name {
  color: #41594C;
}
.list_wrap .product_list .row {
  display: flex;
  flex-wrap: wrap;
}
.list_wrap .product_list .item {
  margin-bottom: 30px;
}
.list_wrap .details {
  padding: 60px 0 80px;
}
.list_wrap .details .product_swiper {
  height: 500px;
  margin-bottom: 20px;
  background: #F8F8F8;
  padding: 20px;
}
.list_wrap .details .product_swiper .product_menu {
  width: 100px;
  flex: none;
  height: 100%;
}
.list_wrap .details .product_swiper .product_menu .item {
  width: 100% !important;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  background: #fff;
}
.list_wrap .details .product_swiper .product_menu .item .cover_box {
  height: 100%;
}
.list_wrap .details .product_swiper .product_menu .item .cover_box .cover {
  height: 100%;
  object-fit: contain;
}
.list_wrap .details .product_swiper .product_menu .active {
  border-color: #41594C;
}
.list_wrap .details .product_swiper .product_demo {
  flex: 1;
  height: 100%;
  margin-right: 10px;
}
.list_wrap .details .product_swiper .product_demo .cover_box {
  height: 100%;
  text-align: center;
}
.list_wrap .details .product_swiper .product_demo .cover_box .cover {
  object-fit: contain;
  height: 100%;
}
.list_wrap .details .product_swiper .product_demo .item {
  overflow: hidden;
}
.list_wrap .details .product_swiper .product_demo .item:hover .cover {
  transform: scale(1.07);
}
.list_wrap .details .content {
  padding: 20px;
}
.list_wrap .details .content .c_title {
  font-weight: 600;
  font-size: 28px;
}
.list_wrap .details .content .price {
  color: #CF0000;
  font-size: 34px;
  font-weight: 600;
  padding: 7px 0;
}
.list_wrap .details .content .line {
  margin-bottom: 20px;
}
.list_wrap .details .content .lead,
.list_wrap .details .content p {
  line-height: 1.8;
  color: #464646;
}
.list_wrap .details .content .share {
  justify-content: start;
  padding: 20px 0 0;
}
.list_wrap .details .content .share .text {
  padding-right: 10px;
  font-size: 18px;
  font-weight: 500;
}
.list_wrap .details .content .share .blogroll .box .link {
  background: #F8F8F8;
}
.list_wrap .details .content .share .blogroll .box .link:hover {
  background: #41594C;
}
.list_wrap .tabs .tabs_head {
  border-bottom: 2px solid #919191;
}
.list_wrap .tabs .tabs_item {
  padding: 14px 30px;
  font-size: 24px;
  font-weight: 500;
  color: #919191;
  position: relative;
}
.list_wrap .tabs .tabs_item::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #41594C;
  opacity: 0;
  z-index: 1;
}
.list_wrap .tabs .tabs_body {
  line-height: 1.7;
  padding: 20px 30px;
}
.list_wrap .tabs .tabs_body .name {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
}
.list_wrap .tabs .tabs_body .lead,
.list_wrap .tabs .tabs_body p {
  font-size: 16px;
  color: #717171;
  line-height: 1.8;
}
.list_wrap .tabs .active {
  color: #41594C;
}
.list_wrap .tabs .active::before {
  opacity: 1;
}
.list_wrap .tabs .tabs_head {
  flex-wrap: wrap;
  border-bottom: none;
}
.list_wrap .tabs .tabs_head .tabs_item {
  width: 100%;
  padding: 10px 30px;
}
.list_wrap .tabs .tabs_head .active {
  padding: 10px 20px;
}
.list_wrap .tabs .tabs_body {
  padding: 10px;
}
.about .title {
  margin-bottom: 20px;
}
.about .lead,
.about p {
  padding: 8px 0;
  line-height: 1.9;
  margin-bottom: 10px;
  font-weight: 500;
}
.message_box {
  padding: 100px 0 60px;
}
.message_box .head .title {
  font-size: 40px;
  margin-bottom: 12px;
}
.message_box .head .sub_head {
  line-height: 1.7;
  margin-bottom: 10px;
  color: #7E7E7E;
}
.message_box .form .item {
  margin-bottom: 10px;
}
.message_box .form .item .row {
  margin: 0;
}
.message_box .form .box {
  padding: 0;
}
.message_box .form .two_box {
  padding-left: 10px;
}
.message_box .form .input_box {
  padding-left: 10px;
}
.message_box .form .input {
  height: 60px;
  font-size: 16px;
  padding: 0 20px;
}
.message_box .form .layui-form-select .layui-input {
  padding: 0 20px;
  height: 60px;
  font-size: 16px;
}
.message_box .form .textarea {
  padding: 20px 20px;
  font-size: 16px;
}
.message_box .form .btn_box {
  margin-top: 20px;
  text-align: center;
}
.message_box .form .btn_box .btn {
  background: #000;
  min-width: 180px;
  height: 50px;
  font-size: 18px;
  padding: 0;
}
.contact_page .head .sub_title {
  font-size: 30px;
  font-weight: 600;
}
.contact_page .list .item {
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 30px;
  min-height: 134px;
  display: flex;
  align-items: start;
  transition: 0.7s ease-in-out;
}
.contact_page .list .item .icon {
  line-height: 1.2;
}
.contact_page .list .item .icon .iconfont {
  font-size: 56px;
  color: #41594C;
}
.contact_page .list .item .content {
  padding-left: 20px;
}
.contact_page .list .item .content .name {
  font-size: 26px;
  color: #000;
  font-weight: 600;
}
.contact_page .list .item .content .text {
  font-size: 18px;
  color: #787878;
  line-height: 26px;
  margin-top: 8px;
}
.map_wrap {
  padding-bottom: 40px;
}
.map_wrap .map {
  height: 500px;
  background: #f5f5f5;
}
.login {
  height: 100vh;
}
.login .main {
  padding-top: 160px;
}
.login .main .login_box {
  padding: 50px;
  border-radius: 20px;
  background: #fff;
  text-align: center;
}
.login .main .login_box .title {
  font-size: 28px;
  margin-bottom: 10px;
  color: #41594C;
}
.login .main .login_box .sub_head {
  font-size: 18px;
  color: #A4A4A4;
  line-height: 1.5;
}
.login .main .login_box .form {
  padding-top: 20px;
}
.login .main .login_box .form .item {
  margin-bottom: 14px;
  background: #F2F5FB;
  border-radius: 50px;
  padding: 0 20px;
}
.login .main .login_box .form .item .iconfont {
  font-size: 24px;
  color: #41594C;
}
.login .main .login_box .form .item .input {
  border: none;
  box-shadow: none;
  background: none;
  height: 54px;
  padding: 0 12px;
}
.login .main .login_box .form .item .cover {
  width: 100px;
}
.login .main .login_box .form .submit_box {
  padding-top: 10px;
}
.login .main .login_box .form .submit_box .btn {
  width: 100%;
  height: 50px;
  border-radius: 50px;
  background: #41594C;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.login .main .login_box .form .lead {
  padding: 24px 0 0;
}
.login .main .login_box .form .lead .link {
  width: auto;
  font-size: 16px;
  color: #41594C;
  font-weight: 500;
}
