@font-face {
  font-family: "iconfont"; /* Project id 4926168 */
  src: url('iconfont.woff2?t=1747800024919') format('woff2'),
       url('iconfont.woff?t=1747800024919') format('woff'),
       url('iconfont.ttf?t=1747800024919') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tongyong-fangxiang-xiangzuo1:before {
  content: "\e719";
}

.icon-tongyong-fangxiang-xiangyou1:before {
  content: "\e71a";
}

.icon-duoyuyan:before {
  content: "\e654";
}

.icon-left-1:before {
  content: "\e603";
}

.icon-down-1-copy:before {
  content: "\e604";
}

.icon-right-1-copy:before {
  content: "\e61f";
}

.icon-arrowLeft:before {
  content: "\e65d";
}

.icon-arrowRight:before {
  content: "\e65e";
}

.icon-sousuo:before {
  content: "\e614";
}

.icon-youjian:before {
  content: "\e804";
}

.icon-dianhua:before {
  content: "\e64c";
}

.icon-dianhua1:before {
  content: "\e639";
}

.icon-youxiang:before {
  content: "\e610";
}

.icon-24gl-user2:before {
  content: "\eb24";
}

.icon-youtobe:before {
  content: "\e606";
}

.icon-dizhi1:before {
  content: "\e638";
}

.icon-shejiaotubiao-14:before {
  content: "\e642";
}

.icon-zixunliuyan:before {
  content: "\e60b";
}

.icon-tuite:before {
  content: "\ee49";
}

.icon-facebook:before {
  content: "\e77a";
}

.icon-xiala:before {
  content: "\e65c";
}

.icon-kehuqunzu:before {
  content: "\e673";
}

.icon-24gf-shieldCheck:before {
  content: "\e9d9";
}

.icon-dizhi:before {
  content: "\e619";
}

.icon-liuyan:before {
  content: "\e744";
}

.icon-diamond:before {
  content: "\e63a";
}

.icon-houtaiguanli:before {
  content: "\e652";
}

.icon-bofang:before {
  content: "\e600";
}

.icon-dengpao:before {
  content: "\e739";
}

.icon-biaoyang:before {
  content: "\e69f";
}

.icon-jiangzhang:before {
  content: "\e601";
}

.icon-instagram-fill:before {
  content: "\e88f";
}

.icon-zhenggaixinxi:before {
  content: "\e61a";
}

.icon-jixiebi:before {
  content: "\e644";
}

.icon-zhuanshi:before {
  content: "\e62a";
}

.icon-qiye:before {
  content: "\e620";
}

.icon-bofang1:before {
  content: "\e618";
}

.icon-nongmingong:before {
  content: "\e7b6";
}

